process {

    withName: TOULLIGQC {
        //Optional barcoding option
        //Comma separated barcode list (with no spaces). (e.g. BC05,RB09,NB01,barcode10)
        ext.args = '--barcoding --barcodes barcode01,barcode02,barcode03,barcode04,barcode05,barcode06,barcode07,barcode08,barcode09,barcode10,barcode11,barcode12'
    }

}
