process {

    publishDir = { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }

    withName: ENSEMBLVEP {
        container  = 'nfcore/vep:104.3.WBcel235'
        publishDir = [ enabled: false ]
    }

    withName: ANNOTATION_BGZIPTABIX {
        ext.prefix = { "${meta.id}_VEP.ann.vcf" }
    }

}
