process {

    publishDir = { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }

    withName: 'test_samtools_faidx_fasta:SAMTOOLS_FAIDX' {
        ext.args = 'MT192765.1 -o extract.fa'
    }
    withName: 'test_samtools_faidx_stub_fasta:SAMTOOLS_FAIDX' {
        ext.args = '-o extract.fa'
    }
}
