process {

    publishDir = { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }
    
    withName: 'test_shinyngs_staticdifferential:SHINYNGS_STATICDIFFERENTIAL' {
        ext.prefix = { "${meta.id}_test" }
        ext.args = { "--reference_level $meta.reference --treatment_level $meta.target" }
    }
    withName: 'test_shinyngs_staticdifferential_html:SHINYNGS_STATICDIFFERENTIAL' {
        ext.prefix = { "${meta.id}_test" }
        ext.args = { "--reference_level $meta.reference --treatment_level $meta.target --write_html" }
    }
}
