process {

    publishDir = { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }

    withName: CANU {
	cpus = 2
        ext.args = 'minOverlapLength=2 merylMemory=7 merylThreads=2 hapThreads=2 batMemory=7 corThreads=2 minInputCoverage=0 stopOnLowCoverage=0 maxMemory=7 redMemory=7 redThreads=2'
    }    
}
