process {

    publishDir = { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }

    withName: CANU {
        cpus = 1
        ext.args = 'minOverlapLength=1 merylMemory=7 merylThreads=1 hapThreads=1 batMemory=7 corThreads=1 minInputCoverage=0 stopOnLowCoverage=0 maxMemory=7 redMemory=7 redThreads=1 oeaMemory=7 oeaThreads=1 obtovlThreads=1 utgovlThreads=1 batThreads=1'
    }    
}
