process {

    publishDir = { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }

    withName: CANU {
	cpus = 2
        ext.args = 'minOverlapLength=2 minInputCoverage=2 stopOnLowCoverage=0 merylMemory=8 merylThreads=2 hapThreads=2 batMemory=8 corThreads=2'
    }    
}
