process {
    withName: 'STAR_ALIGN' {
        ext.args = { [
                    "--outReadsUnmapped None",
                    "--outSAMattrRGline 'ID:${meta.id}' 'SM:${meta.id}'${meta.seq_center ? " 'CN:${meta.seq_center}'": ''}${meta.seq_platform ? "' PL:${meta.seq_platform}'": ''}",
                    "--outSAMstrandField intronMotif",
                    "--chimOutJunctionFormat 1",
                    "--twopassMode None",
                    "--outFilterMultimapNmax 50",
                    "--chimMultimapNmax 50",
                    "--quantMode GeneCounts",
                    "--outSAMunmapped Within",
                    "--readFilesCommand zcat ",
                    "--alignSJstitchMismatchNmax 5 -1 5 5",
                    "--outSAMtype BAM SortedByCoordinate",
                    "--chimSegmentMin 10",
                    "--peOverlapNbasesMin 10",
                    "--alignSplicedMateMapLminOverLmate 0.5",
                    "--chimJunctionOverhangMin 10",
                    "--chimScoreJunctionNonGTAG 0",
                    "--chimScoreDropMax 30",
                    "--chimScoreSeparation 1 ",
                    "--chimSegmentReadGapMax 3",
                    "--chimOutType Junctions WithinBAM"
                ].join(' ') }
    }
    withName: 'STAR_GENOMEGENERATE' {
            ext.args = params.star_genomegenerate_args
    }
    withName: 'SAMTOOLS_CONVERT' {
            ext.prefix = { "${meta.id}.Aligned.sortedByCoord.out" }
    }
}
