process {

    publishDir = { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }
    
    withName: 'test_propr_propd_default:PROPR_PROPD' {
        ext.prefix = {"test+theta_d+NA"}
    }
    withName: 'test_propr_propd_default_permutation:PROPR_PROPD' {
        ext.args = {"--permutation 10 --cutoff_min 0.05 --cutoff_max 0.95 --cutoff_interval 0.05"}
        ext.prefix = {"test+theta_d+NA"}
    }
    withName: 'test_propr_propd_default_boxcox_permutation:PROPR_PROPD' {
        ext.args = {"--alpha 0.2 --permutation 10 --cutoff_min 0.05 --cutoff_max 0.95 --cutoff_interval 0.05"}
        ext.prefix = {"test+theta_d+0.2"}
    }
    withName: 'test_propr_propd_thetae_permutation:PROPR_PROPD' {
        ext.args = {"--metric theta_e --permutation 10 --cutoff_min 0.05 --cutoff_max 0.95 --cutoff_interval 0.05"}
        ext.prefix = {"test+theta_e+NA"}
    }
    withName: 'test_propr_propd_thetae_boxcox_permutation:PROPR_PROPD' {
        ext.args = {"--metric theta_e --alpha 0.2 --permutation 10 --cutoff_min 0.05 --cutoff_max 0.95 --cutoff_interval 0.05"}
        ext.prefix = {"test+theta_e+0.2"}
    }
}