process {

    publishDir = { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }

    withName: 'test_bcftools_norm_no_tbi:BCFTOOLS_NORM'             {
        ext.args = '-m -any --no-version'
    }

    withName: 'test_bcftools_norm_tbi:BCFTOOLS_NORM'                {
        ext.args = '-m -any --no-version'
    }

    withName: 'test_bcftools_norm_tbi_output_vcf:BCFTOOLS_NORM'     {
        ext.args = '-m -any --no-version --output-type v'
    }

    withName: 'test_bcftools_norm_tbi_output_vcfgz:BCFTOOLS_NORM'   {
        ext.args = '-m -any --no-version --output-type z'
    }

    withName: 'test_bcftools_norm_tbi_output_bcfgz:BCFTOOLS_NORM'   {
        ext.args = '-m -any --no-version --output-type b'
    }

    withName: 'test_bcftools_norm_tbi_output_bcf:BCFTOOLS_NORM'     {
        ext.args = '-m -any --no-version --output-type u'
    }

}
