process {

    //withName: AMPCOMBI/AMPCOMBI {
    //ext.args = [
    //    "--aminoacid_length 2000",
    //    "--db_evalue 2000",
    //    "--ampir_file 'ampir.tsv'",
    //    "--amplify_file '.tsv'",
    //    "--macrel '.prediction'",
    //    "--log true"
    //].join(' ')
    //ext.prefix = "sample_1"
    //}

    withName: AMPIR {
    ext.prefix = "test_1"
    }
}
