process {

    publishDir = { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }

    withName: "test_fastq_create_umi_consensus_fgbio_single_umi:FASTQ_CREATE_UMI_CONSENSUS_FGBIO:FASTQTOBAM" {
        ext.args = "--read-structures +T 12M11S+T"
        ext.prefix = { "${meta.id}_unaligned" }
    }

    withName: "test_fastq_create_umi_consensus_fgbio_duplex_umi:FASTQ_CREATE_UMI_CONSENSUS_FGBIO:FASTQTOBAM" {
        ext.args = "--read-structures 38S2M1S+T 2M34S+T"
        ext.prefix = { "${meta.id}_unaligned" }
    }

    withName: BAM2FASTQ_PRE {
        ext.args = "-N"
    }

    withName: BWAMEM1_MEM_PRE {
        ext.args = "-K 150000000 -Y"
        ext.prefix = { "${meta.id}_aligned" }
    }

    withName: BWAMEM2_MEM_PRE {
        ext.args = "-K 150000000 -Y"
        ext.prefix = { "${meta.id}_aligned" }
    }

    withName: ZIPPERBAMS_PRE {
        ext.prefix = {"${meta.id}_zipped"}
        ext.compression = '1'
    }

    withName: BAMFILTER {
        ext.args = "-f 1 --output-fmt bam"
    }

    withName: GROUPREADSBYUMI {
        ext.args = "--edits 1"
    }

    withName: CALLDUPLEXCONSENSUS {
        ext.args = '--min-reads 1 --min-input-base-quality 20'
    }

    withName: CALLUMICONSENSUS {
        ext.args = '-M 1'
        ext.prefix = { "${meta.id}_molreads" }
    }

    // parameters suggested in best practices for FILTERCONSENSUS should be
    // ext.args = '--min-reads 3 --min-base-quality 45 --max-base-error-rate 0.2'
    // here we have relaxed the filters to allow test-data with few reads to produce
    // a minimum output
    withName: FILTERCONSENSUS {
        ext.args = '--min-reads 1 --min-base-quality 5 --max-base-error-rate 0.5'
    }

    withName: BAM2FASTQ_POST {
        ext.args = "-N"
    }

    withName: BWAMEM1_MEM_POST {
        ext.args = "-K 150000000 -Y"
        ext.prefix = { "${meta.id}_consensus_aligned" }
    }

    withName: BWAMEM2_MEM_POST {
        ext.args = "-K 150000000 -Y"
        ext.prefix = { "${meta.id}_consensus_aligned" }
    }

    withName: ZIPPERBAMS_POST {
        ext.args = "--tags-to-reverse Consensus --tags-to-revcomp Consensus"
        ext.prefix = {"${meta.id}_zipped"}
        ext.compression = '0'
    }

}
