process {

    publishDir = { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }
    
    withName: 'GGET_REF' {
        ext.args = 'ref -w dna -r 108 mouse'
    }
    
    withName: 'GGET_REF_DOWNLOAD' {
        ext.args = 'ref -d -w pep -r 108 ciona_intestinalis'
    }

    withName: 'GGET_SEARCH' {
        ext.args = 'search -s human gaba gamma-aminobutyric'
    }

    withName: 'GGET_SEARCH_CSV' {
        ext.args   = 'search --csv -s human gaba gamma-aminobutyric'
    }

    withName: 'GGET_INFO' {
        ext.args = 'info ENSG00000034713 ENSG00000104853 ENSG00000170296'
    }

    withName: 'GGET_SEQ' {
        ext.args = 'seq -t -iso ENSG00000034713'
    }

    withName: 'GGET_BLAT' {
        ext.args = 'blat -a taeGut2 MKWMFKEDHSLEHRCVESAKIRAKYPDRVPVIVEKVSGSQIVDIDKRKYLVPSDITVAQFMWIIRKRIQLPSEKAIFLFVDKTVPQSR'
    }

    withName: 'GGET_MUSCLE' {
        ext.args = 'muscle'
    }

    withName: 'GGET_ENRICHR' {
        ext.args = 'enrichr -db ontology ACE2 AGT AGTR1'
    }

    withName: 'GGET_ARCHS4' {
        ext.args = 'archs4 ACE2'
    }

    withName: 'GGET_PDB' {
        ext.args = 'pdb 7S7U'
    }
}