process {

    publishDir = { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }
    
    withName: GRAPHTYPER_GENOTYPE_REGION {
        ext.args = '--region MT192765.1'
    }

    withName: SAMTOOLS_VIEW {
        ext.args = '--output-fmt cram'
        publishDir = [ enabled:false ]
    }

    withName: SAMTOOLS_INDEX {
        publishDir = [ enabled:false ]
    }
}
