// IMPORTANT: Add this configuration to your modules.config

process {
    withName: ".*:FASTQ_COMPLEXITY_FILTER:BBMAP_BBDUK" {
        ext.args = [
            'entropy=0.7', // needed to turn on complexity filtering
            'minlength=0' // needed, to not discard reads shorter than this
        ].join(' ')
        ext.prefix = { "${meta.id}.trim" }
    }

    // need FASTP to only do complexity filtering
    withName: ".*:FASTQ_COMPLEXITY_FILTER:FASTP" {
        ext.args = [
            '--low_complexity_filter',
            '--disable_adapter_trimming',
            '--disable_trim_poly_g',
            '--disable_quality_filtering',
            '--disable_length_filtering'
        ].join(' ')
    }

    withName: "BBMAP_CLUMPIFY" {
        ext.args = 'dedupe=t'
    }
}
