process {

    publishDir = { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }
    
    withName: 'test_gprofiler2_gost:GPROFILER2_GOST' {
        ext.args = { "--organism mmusculus --sources \"CORUM,REAC\" --palette_name Greens" }
    }
    
    withName: 'test_gprofiler2_gost_backgroundmatrix:GPROFILER2_GOST' {
        ext.args = { "--organism mmusculus --sources \"KEGG\" --significant false --background_column gene_id" }
    }
    
}