process {

    publishDir = { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }
    
    withName: 'test_gprofiler2_gost:GPROFILER2_GOST' {
        ext.args = { "--output_prefix Test  --organism \"GRCm38\" --sources \"KEGG,REAC\""}
    }
    
    
    
opt\$de_id_column = 'gene_id'
opt\$organism = 'mmusculus'
#opt\$organism = 'gp__mSms_5zrx_pQk'
opt\$genome = 'GRCm38'
opt\$significant = T
opt\$min_diff = 1
opt\$correction_method = 'fdr'
opt\$sources = c('KEGG', 'REAC')
opt\$evcodes = F
opt\$user_threshold = '0.05'
opt\$background = NULL
opt\$gmt = "/home-link/iivow01/git/modules/gpro_input/test.gmt"
opt\$counts_table = NULL
opt\$domain_scope = 'annotated'
opt\$round_digits = -1
    
}