process {

    publishDir = { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }

    withLabel:process_medium {
        memory = 6.5GB
    }
    withName: SEQTK_SEQ {
        ext.args = "-a"
    }

    withName: SEQTK_SEQ_PE_RV {
        ext.args = "-a"
        ext.prefix = "reverse"
    }
}

