params{
    // Optional parameters for GMM-demux - Default values
    threshold = 0.8
    full_report = 'test'
    num_cells = 2000
    output_path = 'test'    
}

process {
    withName: GMMDEMUX {
        ext.args = "-f ${params.full_report} -t ${params.threshold} --summary ${params.num_cells} -o ${params.output_path} "
    }
}
