params {
    decoupler_network = "https://github.com/nf-core/test-datasets/raw/differentialabundance/modules_testdata/progeny/mouse_network.tsv"
    method_differential = 'deseq2'
}

process {
    withName: 'DECOUPLER' {
        ext.prefix = { "${meta.method_differential}_${meta.id}" }
        ext.args = "--min_n 2 --transpose TRUE --ensembl_ids TRUE --methods mlm"
    }
}
