params {
    decoupler_network = "https://github.com/nf-core/test-datasets/raw/differentialabundance/modules_testdata/progeny/mouse_network.tsv"
    method_differential = 'deseq2'
}

process {
    withName: 'DECOUPLER_DECOUPLER' {
       ext.prefix = {
            def method = meta.params.differential_method ?: meta.differential_method ?: "unknown"
            def prefix = "${method}_${meta.id}"
            return prefix
            }
        ext.args = {
            def features_id = meta.params?.features_id_col ?: 'gene_id'
            def features_symbol = meta.params?.features_name_col ?: 'gene_name'
            def min_n = meta.params?.decoupler_min_n ?: 5
            def methods = meta.params?.decoupler_methods ?: 'mlm'

            "--min_n ${min_n} --transpose TRUE --ensembl_ids TRUE --methods ${methods} --features_id_col ${features_id} --features_symbol_col ${features_symbol}"
        }
    }
}
