process {
    withName: 'DESEQ2_DIFFERENTIAL' {
        ext.args = { "--round_digits 5 --blocking_variables $meta.blocking --vs_method rlog" }
        ext.prefix = { "${meta.id}_${meta.method}" }
    }

    withName: 'DESEQ2_NORM' {
        ext.prefix = { "${meta.id}_${meta.method}_norm --round_digits 6" }
    }

    withName: 'CUSTOM_TABULARTOGSEACLS' {
        ext.args = { [ "variable": "$meta.variable" ] }
    }

    withName: 'GSEA_GSEA' {
        ext.args = { "-rnd_seed 10" }
    }
}
