process {
    withName: 'DESEQ2_DIFFERENTIAL' {
        ext.args = { "--round_digits 5 --blocking_variables $meta.blocking --vs_method rlog" }
        ext.prefix = { "${meta.id}_${meta.method}" }
    }

    withName: 'DESEQ2_NORM' {
        ext.prefix = { "${meta.id}_${meta.method}_norm" }
    }

    withName: 'GPROFILER2_GOST' {
        ext.args = [
            "--significant true",
            "--measure_underrepresentation false",
            "--correction_method gSCS",
            "--evcodes false",
            "--pval_threshold 0.05",
            "--domain_scope annotated",
            "--min_diff 1",
            "--round_digits 4",
            "--palette_name Blues",
            "--de_id_column gene_id",
            "--organism mmusculus"
        ].join(' ').trim()
    }
}
