process {
    withName: 'DESEQ2_DIFFERENTIAL' {
        ext.args = { "--round_digits 5 --blocking_variables $meta.blocking --vs_method rlog" }
        ext.prefix = { "${meta.id}_${meta.method}" }
    }

    withName: 'DESEQ2_NORM' {
        ext.prefix = { "${meta.id}_${meta.method}_norm" }
    }

    withName: 'GPROFILER2_GOST' {
        ext.args = { "--round_digits 5" }
    }
}
