process {
    withName: 'GPROFILER2_GOST' {
        ext.args = [
            "--significant true",
            "--measure_underrepresentation false",
            "--correction_method gSCS",
            "--evcodes false",
            "--pval_threshold 0.05",
            "--domain_scope annotated",
            "--min_diff 1",
            "--round_digits 4",
            "--palette_name Blues",
            "--de_id_column gene_id",
        ].join(' ').trim()
    }
}
