process {
    withName: 'LIMMA_DIFFERENTIAL' {
        ext.args = { [
            "--blocking_variables $meta.blocking",
            "--sample_id_col sample",
            "--probe_id_col gene_id",
            "--use_voom TRUE"
        ].join(' ').trim() }

        ext.prefix = { "${meta.id}_${meta.method}_voom" }
    }

    withName: 'LIMMA_NORM' {
        ext.prefix = { "${meta.id}_${meta.method}_voom_norm" }
    }

    withName: 'CUSTOM_TABULARTOGSEACLS' {
        ext.args = { [ "variable": "$meta.variable" ] }
    }

    withName: 'GSEA_GSEA' {
        ext.args = { "-rnd_seed 1234" }
    }
}
