process {
    // set single core for reproducibility
    // NOTE that GREA module relies on parallelization and permutation tests
    // The permutations are done within each node, which makes set.seed not working properly when
    // different nodes are starting/ending depending on the case
    cpus = 1

    withName: "PROPR_PROPD"{
        ext.args = { "--round_digits 5 --save_adjacency true --features_id_col gene_name"}
    }
    withName: "PROPR_GREA"{
        ext.args = { "--permutation 10 --set_min 10 --seed 123 --round_digits 5"}
    }
}

