// include { CHROMAP_CHROMAP as CHROMAP_CHROMAP_SAM  } from '../../../../modules/chromap/chromap/main.nf' addParams( options: ['args': '--SAM'] )
process {

    publishDir = { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }

    withName: CHROMAP_CHROMAP_SAM {
        ext.args = '--SAM'
    }

}
