process {

    withName: 'HIFIASM' {
        ext.args = "-f0"
    }

    withName: 'MINIMAP2_ALIGN' {
        ext.prefix = { "${meta.id}_aligned_assembly" }
        ext.args = {
            [
                "-L",
                "--secondary=no",
                "-a",
                "--eqx",
                "-x asm5",
                "-R @RG\\\\tID:${meta.id}_hifiasm\\\\tSM:${meta.id}",
            ].join(' ')
        }
    }

    withName: 'PBMM2_ALIGN' {
        ext.prefix = { "${meta.id}_aligned_to_assembly" }
        ext.args = {
            [
                "--sort",
                "--preset HIFI",
            ].join(' ')
        }
    }

}
