process {

    withName: 'FASTK_.*' {
                ext.args   = '-t'
                publishDir = [ enabled: false ]
    }

    withName: 'FASTK1' {
        ext.prefix = { "${meta.id}_sampleA" }
    }

    withName: 'FASTK2' {
        ext.prefix = { "${meta.id}_sampleB" }
    }

    withName: 'MERQURYFK_KATCOMP' {
        ext.args = "${params.outfmt}"
    }

}