process {

    publishDir = { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }

    withName: 'PURGEDUPS_(PBCSTAT|CALCUTS)' {
        publishDir = [ enabled: false ]
    }

}

// The tool is not in the environment using conda, but is using mamba or container platform.
conda.useMamba = true
