process {

    publishDir = { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }

    withName: BCFTOOLS_CONVERT_GVCF {
        ext.args = '--gvcf2vcf'
    }

    withName: BCFTOOLS_CONVERT_BCF {
        ext.args = '--gvcf2vcf --output-type b5'
    }

    withName: BCFTOOLS_CONVERT_HAP {
        ext.args = '--haplegendsample test'
    }

}
