// include { GATK4_VARIANTFILTRATION } from '../../../../modules/gatk4/variantfiltration/main.nf' addParams( options: ['args': '--filter-name "test_filter" --filter-expression "MQ0 > 0"', 'suffix': '.filtered'] )
process {

    publishDir = { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }

    withName: GATK4_VARIANTFILTRATION {
        ext.args = "--filter-name \'test_filter\' --filter-expression \'MQ0 > 0\'"
        ext.suffix = '.filtered'
    }

}
