process {

    publishDir = { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }

    memory = "15"
    cpus  = 4
    accelerator = 1

    withName: "test_parabricks_indexgvcf:PARABRICKS_INDEXGVCF" {
    ext.args = "--gvcf"
    }
}
docker.runOptions = "--gpus all"
singularity.runOptions = "--nv"