process {

    publishDir = { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }
    
    withName: 'test_shinyngs_staticexploratory:SHINYNGS_STATICEXPLORATORY' {
        ext.args = { "" }
    }
    
    withName: 'test_shinyngs_staticexploratory_specify_log:SHINYNGS_STATICEXPLORATORY' {
        ext.args = { "" }
    }
    
    withName: 'test_shinyngs_staticexploratory_html:SHINYNGS_STATICEXPLORATORY' {
        ext.args = { "--write_html" }
    }
}