process {
    withName: QUILT_QUILT {
        cpus       = 1 // Needed to have deterministic output for testing
        ext.args   = { "${params.quilt_args}" }
        ext.prefix = { "${meta.id}_${meta.chr}_${meta.regionout}.quilt" }
        tag = { "${meta.id} ${meta.chr} ${meta.regionout}" }
    }

    withName: GLIMPSE2_LIGATE {
        ext.prefix = { "${meta.id}_${meta.chr}.ligate" }
        tag        = { "${meta.id} ${meta.chr}" }
    }

    withName: BCFTOOLS_INDEX {
        ext.args   = '--csi'
        tag = { "${meta.id} ${meta.chr}" }
        publishDir = [enabled: false]
    }
}
