// include { RSEM_PREPAREREFERENCE }   from '../../../../modules/rsem/preparereference/main.nf'   addParams(options: [publish_dir:'rsem'])
process {

    publishDir = { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }

    withName: RSEM_PREPAREREFERENCE {
        publishDir = { "${params.outdir}/rsem" }
    }

}
