/lib/ @drpatelh

###########
# Modules #
###########

# BWA
bwa/ @drpatelh
bwa/index @maxulysse
bwa/index @jeremy1805

# deeptools
# TODO

# FastQC
fastqc/ @drpatelh @grst @ewels @FelixKrueger

# gffread
# TODO

# hisat2
# TODO

# homer
# TODO

# macs2
# TODO

# multiqc
multiqc @abhi18av @bunop @drpatelh

# phantompeakqualtools
# TODO

# picard
picard/ @drpatelh

# preseq
# TODO

# qualimap
# TODO

# rsem
# TODO

# rseqc
# TODO

# salmon
# TODO

# samtools
samtools/flagstat @drpatelh
samtools/idexstats @drpatelh
samtools/indes @drpatelh @ewels
samtools/sort @drpatelh @ewels
samtools/stats @drpatelh

# sortmerna
# TODO

# star
# TODO

# stringtie
# TODO

# subread
# TODO

# trimgalore
trimgalore/ @drpatelh @ewels @FelixKrueger

# ucsc
# TODO

# umitools
# TODO
