.github/workflows/** @nf-core/a-team
tests/config @nf-core/a-team

# Opt-in
modules/nf-core/bedtools/** @edmundmiller
modules/nf-core/dragmap/** @edmundmiller
modules/nf-core/ensemblvep/** @maxulysse
modules/nf-core/gatk4/** @maxulysse
modules/nf-core/homer/** @edmundmiller
modules/nf-core/snpeff/** @maxulysse
modules/nf-core/pints/caller/** @edmundmiller
modules/nf-core/preseq/ccurve/** @edmundmiller
modules/nf-core/preseq/lcextrap/** @edmundmiller
subworkflows/nf-core/homer/** @edmundmiller
modules/nf-core/**/Dockerfile @edmundmiller @maxulysse
