.github/workflows/** @nf-core/a-team
tests/config @nf-core/a-team

# Opt-in
modules/nf-core/bedtools/** @edmundmiller
modules/nf-core/dragmap/** @edmundmiller
modules/nf-core/ensemblvep/** @maxulysse
modules/nf-core/gatk4/** @maxulysse
modules/nf-core/homer/** @edmundmiller
modules/nf-core/snpeff/** @maxulysse
modules/nf-core/pints/caller/** @edmundmiller
modules/nf-core/preseq/ccurve/** @edmundmiller
modules/nf-core/preseq/lcextrap/** @edmundmiller
subworkflows/nf-core/homer/** @edmundmiller
modules/nf-core/**/Dockerfile @edmundmiller @maxulysse
subworkflows/nf-core/abundance_differential_filter/** @pinin4fjords
subworkflows/nf-core/fastq_qc_trim_filter_setstrandedness/** @pinin4fjords
modules/nf-core/deseq2 @pinin4fjords
modules/nf-core/limma @pinin4fjords
modules/nf-core/shinyngs @pinin4fjords
