process {

    publishDir = { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }
 

    withName: ASCAT_SIMPLE {
        ext.args = [gender  :  'XY']
    }



    withName: ASCAT_PLOIDY_AND_PURITY {
        ext.args = [gender : 'XX', ploidy  : '1.7', purity : '0.24']
    }

    withName: ASCAT_CRAM {
        ext.args = [
          gender    : 'XX', 
          ploidy    : '1.7', 
          purity    : '0.24',
          ref_fasta : '/home/ec2-user/input_files/fasta/human_g1k_v37.fasta'
                  ]
    }

}

