process {
    withName: "CNVNATOR_RD" {
        ext.args = {params.cnvnator_rd_args}
    }

    withName: "CNVNATOR_HIST" {
        ext.args = {params.cnvnator_hist_args}
    }

    withName: "CNVNATOR_STAT" {
        ext.args = {params.cnvnator_stat_args}
    }

    withName: "CNVNATOR_PARTITION" {
        ext.args = {params.cnvnator_partition_args}
    }

    withName: "CNVNATOR_CNVNATOR" {
        ext.args = {params.cnvnator_args}
    }
}
