process {

    publishDir = { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }

    withName: SAMTOOLS_PIPELINE_SORMADUP {
        ext.args = [
            fixmate: '-m'
        ]
    }

    withName: SAMTOOLS_PIPELINE_COLLFIXMSORT {
        ext.args = [
            fixmate: '-m'
        ]
    }

    withName: SAMTOOLS_PIPELINE_COLLFIXM {
        ext.args = [
            fixmate: '-m'
        ]
    }
}
