process {

    publishDir = { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }

    // NOTE: collate needs to creata temporary files. CI sets TMPDIR to ~,
    // which is not mounted any more in Singularity since Nextflow 23.10. We
    // add "-T ." so that the temporary files are created in a writable
    // location.

    withName: SAMTOOLS_PIPELINE_SORMADUP {
        ext.args = [
            collate: '-T .',
            fixmate: '-m',
        ]
    }

    withName: SAMTOOLS_PIPELINE_COLLFIXMSORT {
        ext.args = [
            collate: '-T .',
            fixmate: '-m',
        ]
    }

    withName: SAMTOOLS_PIPELINE_COLLFIXM {
        ext.args = [
            collate: '-T .',
            fixmate: '-m',
        ]
    }

    withName: SAMTOOLS_PIPELINE_ALL {
        ext.args = [
            collate: '-T .',
            addreplacerg: '-r ID:FOO',
            fixmate: '-m',
            reheader: '-c "sed s/FOO/BAR/"',
            view: '-F 0x08',
        ]
    }
}
