*.code-workspace
*.pyc
*.pyo
.*.sw?
.devcontainer
.DS_Store
.gitmodules
.nextflow*
.nf-test.log
.nf-test/
.screenrc
__pycache__
output/
results/
test.xml
test_output/
tests/data/
work/
.github/CODEOWNERS-tmp
