repos:
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: "v3.1.0"
    hooks:
      - id: prettier
        additional_dependencies:
          - prettier@3.2.5
  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.29.3
    hooks:
      - id: check-jsonschema
        # match meta.ymls in one of the subdirectories of modules/nf-core
        files: ^modules/nf-core/.*/meta\.yml$
        args: ["--schemafile", "modules/yaml-schema.json"]
      - id: check-jsonschema
        # match meta.ymls in one of the subdirectories of subworkflows/nf-core
        files: ^subworkflows/nf-core/.*/meta\.yml$
        args: ["--schemafile", "subworkflows/yaml-schema.json"]
      - id: check-github-workflows
  - repo: https://github.com/renovatebot/pre-commit-hooks
    rev: 38.46.0
    hooks:
      - id: renovate-config-validator
  # use ruff for python files
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.6.6
    hooks:
      - id: ruff
        files: \.py$
        args: [--fix, --exit-non-zero-on-fix, "--select", "I,E1,E4,E7,E9,F,UP,N"] # sort imports and fix (rules taken from nf-core/tools)
      - id: ruff-format # formatter
