repos:
  - repo: local
    hooks:
      - id: conda-env-sorter
        name: Sort dependencies in conda environment files.
        entry: ./.github/scripts/conda_env_sorter.py
        language: python
        files: environment
        types: [yaml]
        additional_dependencies: ["ruamel.yaml"]
      - id: nextflow-lint
        name: Lint Nextflow scripts and fix formatting
        entry: nextflow lint
        language: system
        files: '\.nf$|nextflow\.config$'
        # FIXME Removed -format https://github.com/nextflow-io/nextflow/issues/6365
        args: ["-sort-declarations", "-spaces", "4", "-harshil-alignment", "-output", "concise"]
        pass_filenames: true
        # FIXME Throws `ERROR ~ Unexpected error [ConcurrentModificationException]`
        require_serial: true
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: "v3.1.0"
    hooks:
      - id: prettier
        entry: prettier --experimental-cli --write --ignore-unknown --no-cache
        exclude: |
          (?x)^(
              .*\.snap$
          )$
        additional_dependencies:
          - prettier@3.8.1

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
        exclude: |
          (?x)^(
              .*\.snap$
          )$
      - id: end-of-file-fixer
        exclude: |
          (?x)^(
              .*\.snap$
          )$

  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.35.0
    hooks:
      - id: check-jsonschema
        name: "Match meta.ymls in one of the subdirectories of modules/nf-core"
        files: ^modules/nf-core/.*/meta\.yml$
        types: [yaml]
        args: ["--schemafile", "modules/yaml-schema.json"]
      - id: check-jsonschema
        name: "Validate environment.ymls against schema"
        files: ^modules/nf-core/.*/environment\.yml$
        types: [yaml]
        args: ["--schemafile", "modules/environment-schema.json"]
      - id: check-jsonschema
        name: "Match meta.ymls in one of the subdirectories of subworkflows/nf-core"
        files: ^subworkflows/nf-core/.*/meta\.yml$
        types: [yaml]
        args: ["--schemafile", "subworkflows/yaml-schema.json"]
      - id: check-github-workflows

  # use ruff for python files
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.14
    hooks:
      - id: ruff
        files: \.py$
        args: [--fix, --exit-non-zero-on-fix, "--select", "I,E1,E4,E7,E9,F,UP,N"] # sort imports and fix (rules taken from nf-core/tools)
      - id: ruff-format # formatter
    # NOTE This runs with Docker instead of the binary. Hoping anyone messing with Dockerfiles has Docker installed
  - repo: https://github.com/hadolint/hadolint
    rev: v2.14.0
    hooks:
      - id: hadolint-docker
        args: ["--failure-threshold", "error"]
