params {
    outdir = 'test_output'
}

process {
    withName: PHOLD_RUN {
        cpus = 8
        accelerator = 1
        memory = '10 GB'
        ext.prefix = 'test_output'
        ext.args = '--database /home/ubuntu/virusbioinfhack/nf-core-modules/data/phold_db'
    }
}

profiles {
    conda {
        conda.enabled = true
    }
}