config {
    // location for all nf-tests
    testsDir "."

    // nf-test directory including temporary files for each test
    workDir ".nf-test"

    // location of an optional nextflow.config file specific for executing tests
    configFile "tests/config/nf-test.config"

    // run all test with the defined docker profile from the main nextflow.config
    profile ""
}
