config {
    // location for all nf-tests
    testsDir "."

    // nf-test directory including temporary files for each test
    workDir System.getenv("NFT_WORKDIR") ?: ".nf-test"

    // location of an optional nextflow.config file specific for executing tests
    configFile "tests/config/nf-test.config"

    // run all test with the defined docker profile from the main nextflow.config
    profile ""

    // load the necessary plugins
    plugins {
        load "nft-bam@0.5.0"
        load "nft-compress@0.1.0"
        load "nft-vcf@1.0.7"
        load "nft-csv@0.1.0"
    }
}
