process {

    publishDir = { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }

    withName: WINDOWMASKER_CONVERT_OASCII {
        ext.args = '-sformat oascii'
    }
    
    withName: WINDOWMASKER_CONVERT_BINARY {
        ext.args = '-sformat binary'
    }

     withName: WINDOWMASKER_CONVERT_OBINARY {
        ext.args = '-sformat obinary'
    }

}
