process {
    withName: BEDTOOLS_MAKEWINDOWS {
        ext.args = '-w 1'
        ext.prefix = 'test_split'
    }
    withName: GAWK_BED {
        ext.args2 = '\'NR > 20 && NR < 20000 && FS = OFS = "\t" { print $0 FS "rs1" FS "G" FS "C" }\''
        ext.prefix = 'snp'
        ext.suffix = "bed"
    }
    withName: GAWK_FAI {
        ext.args2 = '\'BEGIN { FS = OFS = "\t" } { print \$1 FS "0" FS \$2 }\''
        ext.prefix = 'fasta'
        ext.suffix = "bed"
    }
}
