process {

    publishDir = { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }

    withName: '.*:FASTQ_ENA_PREP_ADAPTERREMOVAL:ENA_PREP_ADAPTERREMOVAL' {
        ext.args = { "--qualitybase ${meta.phred}" }
        publishDir = [
            enabled: true,
            pattern: '*.truncated.fastq.gz',
            path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }
        ]
    }

    withName:  '.*:FASTQ_ENA_PREP_ADAPTERREMOVAL:MD5SUM' {
        publishDir = [
            enabled: false
        ]
    }

    withName: '.*:FASTQ_ENA_PREP_ADAPTERREMOVAL:CAT_CAT' {
        ext.prefix = "checksums.md5"
    }
}
