process {

    publishDir = { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }

    withName: ENSEMBLVEP_VEP_DEFAULT {
        container = 'nfcore/vep:108.2.WBcel235'
    }

    withName: ENSEMBLVEP_VEP_JSON {
        container = 'nfcore/vep:108.2.WBcel235'
        ext.args = '--json'
    }

    withName: ENSEMBLVEP_VEP_TAB {
        container = 'nfcore/vep:108.2.WBcel235'
        ext.args = '--tab'
    }

    withName: ENSEMBLVEP_VEP_VCF {
        container = 'nfcore/vep:108.2.WBcel235'
        ext.args = '--vcf'
    }

    withName: ENSEMBLVEP_VEP_VCF_BGZIP {
        container = 'nfcore/vep:108.2.WBcel235'
        ext.args = '--vcf --compress_output bgzip'
    }

    withName: ENSEMBLVEP_VEP_VCF_GZIP {
        container = 'nfcore/vep:108.2.WBcel235'
        ext.args = '--vcf --compress_output gzip'
    }

    withName: ENSEMBLVEP_VEP_CUSTOM {
        container = 'nfcore/vep:108.2.WBcel235'
        ext.args = '--custom test2.vcf,,vcf,exact,0,TOPMED --custom test3.vcf,,vcf,exact,0,TOPMED'
    }
}
