process {

    publishDir = { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }

    // all sequences of a map in separate pictures
    withName: PRETEXTSNAPSHOT_ALL {
        ext.args = '--sequences "=all" -c 26 -r 2160'
        }

    // all sequences of a map in one picture
    withName: PRETEXTSNAPSHOT_FULL {
        ext.args = '--sequences "=full" -c 26 -r 2160'
        }
}
