process {

    publishDir = { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }

    withName: GNU_SORT {
        ext.args = '-k1,1 -k4,4n'
        ext.prefix = { "${input.baseName}_sorted" }
    }

    withName: ULTRA_INDEX {
        ext.args = '--disable_infer'
    }

}
