process {

    publishDir = { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }

    withName: 'test_geoquery_getgeo_with_metacols:GEOQUERY_GETGEO' {
        ext.args = { "--metacols \"ID,ENTREZ_GENE_ID,Gene Symbol,Sequence Type\"" }
        ext.prefix = { "${meta.id}" }
    }
    
}
