process {

    publishDir = { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }

    withName: ENSEMBLVEP_VEP {
        container = 'docker.io/nfcore/vep:108.2.WBcel235'
        ext.args = {[
            "--vcf --offline",
            meta.id.startsWith("custom_test") ? "--custom test3.vcf.gz,,vcf,exact,0,TOPMED" : ""
        ].join(" ")}
    }

    withName: BCFTOOLS_CONCAT {
        ext.prefix = { "${meta.id}_concat" }
    }

}
