process {

    publishDir = { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }

    withName: ENSEMBLVEP_VEP {
        container = 'docker.io/nfcore/vep:108.2.WBcel235'
    }

    withName: vcf_annotate_ensemblvep_custom:VCF_ANNOTATE_ENSEMBLVEP_CUSTOM:ENSEMBLVEP_VEP {
        ext.args   = '--custom test2.vcf,,vcf,exact,0,TOPMED --custom test3.vcf,,vcf,exact,0,TOPMED'
    }

    withName: TABIX_TABIX {
        ext.prefix = { "${meta.id}_vep.ann" }
    }

}
