process {

    publishDir = { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }

    withName: FQ_SUBSAMPLE_NO_ARGS {
        ext.args = ''
    }

    withName: FQ_SUBSAMPLE_PROBABILITY {
        ext.args = '-p 0.1 -s 123'
    }

    withName: FQ_SUBSAMPLE_RECORD_COUNT {
        ext.args = '-n 10 -s 123'
    }

    withName: FQ_SUBSAMPLE {
        ext.args = '--probability 0.1 -s 123'
    }

}