process {

    publishDir = { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }

    withName: PICARD_MARKDUPLICATES_UNSORTED_BAM {
        ext.prefix = { "${meta.id}.marked" }
        ext.args = '--ASSUME_SORT_ORDER queryname'
    }

    withName: PICARD_MARKDUPLICATES_SORTED_BAM {
        ext.prefix = { "${meta.id}.marked" }
    }

    withName: PICARD_MARKDUPLICATES_SORTED_CRAM {
        ext.prefix = { "${meta.id}.marked" }
    }

}
