params.species = "homo_sapiens"
params.build   = "GRCh38"

process {

    publishDir = { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }
    withName: 'test_vcf2maf_no_vep:VCF2MAF' {
        ext.args = "--ncbi-build ${params.build} --species ${params.species} --inhibit-vep"
        container = "biocontainers/vcf2maf:1.6.21--hdfd78af_0"
    }
    withName: 'test_vcf2maf_vep:VCF2MAF' {
        ext.args = "--ncbi-build ${params.build} --species ${params.species}"
    }
}
