process {
    publishDir = { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }
    
    withName: SNPSIFT_DBNSFP{
        ext.args = '-v -noCollapse'
        // ext.dbs = '"rs_dbSNP151,hg19_chr,hg19_pos(1-based),SIFT_score,SIFT_pred,Polyphen2_HDIV_score,Polyphen2_HDIV_pred,Polyphen2_HVAR_score,Polyphen2_HVAR_pred,LRT_score,LRT_pred,MutationTaster_score,MutationTaster_pred,MutationAssessor_score,MutationAssessor_pred,CADD_phred,GERP++_NR,GERP++_RS,phyloP17way_primate,phyloP30way_mammalian,phyloP100way_vertebrate,phastCons17way_primate,phastCons30way_mammalian,phastCons100way_vertebrate,SiPhy_29way_pi,SiPhy_29way_logOdds,LRT_Omega,1000Gp3_AF,1000Gp3_AFR_AF,1000Gp3_EUR_AF,1000Gp3_AMR_AF,1000Gp3_EAS_AF,ESP6500_AA_AF,ESP6500_EA_AF,ExAC_AF,ExAC_Adj_AF,clinvar_id,clinvar_clnsig,clinvar_trait,1000Gp3_SAS_AF,gnomAD_exomes_AF,gnomAD_exomes_POPMAX_AF,gnomAD_exomes_controls_AF,gnomAD_exomes_controls_POPMAX_AF"'
    }
}