process {

    publishDir = { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }
    
    withName: 'test_matrixfilter:MATRIXFILTER' {
        ext.args = { "--minimum_abundance 10" }
    }
    
    withName: 'test_matrixfilter_prop:MATRIXFILTER' {
        ext.args = { "--minimum_proportion 0.75" }
    }
    
    withName: 'test_matrixfilter_group:MATRIXFILTER' {
        ext.args = { "--minimum_proportion 1 --grouping_variable treatment" }
    }
}
