process {

    publishDir = { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }

    withName: ".*BED_SCATTER_BEDTOOLS:BEDTOOLS_SPLIT" {
        ext.args = {[
            "-n ${meta.subwf_scatter_count}",
            "--algorithm simple"
        ].join(" ")}
    }

}
