/*
========================================================================================
    Nextflow config file for running tests
========================================================================================
*/

process {
    container = "/orfeo/cephfs/scratch/cdslab/shared/containers/singularity/mulled-v2-d410175e2fbd9c47aa685bb5dfb87cfad76d408b_a995bb98b7122825523ffed7ae131cb006"
    withName: SPARSE_SIGNATURES {
        ext.args = [
            genome : "GRCh38",
            K : "2:3",
            nmf_runs : "3",
            iterations: "5",
            max_iterations_lasso : "80",
            cross_validation_repetitions : "5",
            cross_validation_iterations : "3",
            cross_validation_entries : "0.01",
            lambda_values_alpha : "c(0.00, 0.01)",
            lambda_values_beta : "c(0.01, 0.05)",
            lambda_rate_alpha: "0",
            beta: "NULL",
            num_processes : "all",
            normalize_counts : "TRUE",
            verbose : "TRUE"
            
        ]
    }
}

