process {

    publishDir = { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }

    withName:SVDB_QUERY_SINGLE{
        ext.args = "--in_occ AC --in_frq AF --out_occ gnomad_svAC --out_frq gnomad_svAF "
    }

    withName:SVDB_QUERY_MULTIPLE{
        ext.args = "--in_occ AC,AC --in_frq AF,AF --out_occ gnomad_svAC,gnomad_svAC --out_frq gnomad_svAF,gnomad_svAF "
    }
}
