params {
    // Optional parameters for METASPACE_CONVERTER - Default values
    fdr = 0.1
    use_tic = false
    metadata_as_obs = false
    database_name = 'HMDB'
    database_version = 'v4'
}


// process {

//     withName: METASPACE_CONVERTER {
//         ext.args = "--fdr ${params.fdr} --use_tic ${params.use_tic} --metadata_as_obs ${params.metadata_as_obs} --database_name ${params.database_name} --database_version ${params.database_version}"
//     }

// }
