params {
    //modules_testdata_base_path = "https://github.com/nf-core/test-datasets/tree/crisprseq/testdata"
    modules_testdata_base_path = "https://github.com/afombravo/2FAST2Q/blob/main/"
    module_args = '' // Default to an empty string
}

process {
  withName: 'FAST2Q' {
    ext.args = params.module_args
  }
}