/*
========================================================================================
    Nextflow config file for running tests
========================================================================================
*/

profiles {
    docker {
        docker.enabled = true
        docker.userEmulation = true
    }
}
