profiles {
  singularity {
    singularity.enabled = true
    docker.enabled = false
    conda.enabled = false
  }
  docker {
    docker.enabled = true
    singularity.enabled = false
    conda.enabled = false
  }
  conda {
    conda.enabled = true
    docker.enabled = false
    singularity.enabled = false
  }
}
