params {
    trgt_merge_args = ""
}
process {
    withName: "BCFTOOLS_SORT" {
        ext.args = "--write-index=tbi --output-type z"
        ext.prefix = { "sorted_${meta.id}" }
    }
    withName: "TRGT_GENOTYPE" {
        ext.args = { "--sample-name ${meta.id}"}
    }
    withName: "TRGT_MERGE" {
        ext.args = params.trgt_merge_args
    }
}
