process {
    withName: 'FASTK_.*' {
        // Singularity tests fail due to memory allocation issues
        // Fix memory to something low to ensure they pass
        memory = '1.GB'
        ext.args   = '-t'
        publishDir = [ enabled: false ]
    }
    withName: 'MERQURYFK_MERQURYFK' {
        ext.args   = '-lfs'
    }
}
