process {

    withName: 'SEQKIT_TAB2FX' {
        ext.args        = ""
        publishDir      = { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }
    }

    withName: 'SEQKIT_TAB2FX_GZ' {
        ext.args        = ""
        ext.suffix      = "fa.gz"
        publishDir      = { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }
    }

    withName: 'SEQKIT_TAB2FX_FQ' {
        ext.args        = ""
        ext.suffix      = "fq.zst"
        publishDir      = { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }
    }

    withName: 'SEQKIT_TAB2FX_FQ_GZ' {
        ext.args        = ""
        ext.suffix      = "fq.gz"
        publishDir      = { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }
    }
}
