process {
    withName: BEDTOOLS_MAKEWINDOWS {
        ext.args = params.bedtools_makewindows_args
        ext.prefix = params.bedtools_makewindows_prefix
    }

    withName: BCFTOOLS_VIEW {
        ext.args = params.bcftools_view_args
    }

    withName: BCFTOOLS_PLUGINFILLTAGS {
        ext.prefix = params.bcftools_pluginfilltags_prefix
        ext.args = params.bcftools_pluginfilltags_args
        ext.args2 = params.bcftools_pluginfilltags_args2
    }
}
