process {
    withName: BEDTOOLS_MAKEWINDOWS {
        ext.args = '-w 60000 -s 40000'
        ext.prefix = { "${meta.id}_${meta.region.replace(":","_")}" }
    }

    withName: BCFTOOLS_VIEW {
        ext.args = "-Oz -e 'GT=\"./.\"||GT=\".\"' --write-index"
    }

    withName: BCFTOOLS_PLUGINFILLTAGS {
        ext.prefix = { "${meta.id}_filled" }
        ext.args = "--write-index"
        ext.args2 = "-t AC,AN"
    }
}
