process {
    withName: BEDTOOLS_MAKEWINDOWS {
        ext.args = params.bedtools_makewindows_args
        ext.prefix = { "${meta.id}_${meta.region.replace(":","_")}" }
    }

    withName: BCFTOOLS_VIEW {
        ext.args = params.bcftools_view_args
    }

    withName: BCFTOOLS_PLUGINFILLTAGS {
        ext.prefix = { "${meta.id}_filled" }
        ext.args = params.bcftools_pluginfilltags_args
        ext.args2 = params.bcftools_pluginfilltags_args2
    }
}
