process {

    publishDir = { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }

    withName: UMITOOLS_EXTRACT {

        publishDir = [ enabled: false ]
        ext.args = '--bc-pattern=NNNNNN'
    }

    withName: SEQKIT_SPLIT2 {
        publishDir = [ enabled: false ]
        ext.args = '--by-size 50'
    }

}
