process {
    withName: 'ORFTABLE_FASTA_GTF_BUILDORFCATALOGUE:CUSTOM_ORFNORMALISE' {
        ext.prefix = { "${meta.id}.${meta.caller}" }
    }
    withName: 'ORFTABLE_FASTA_GTF_BUILDORFCATALOGUE:BEDTOOLS_GETFASTA' {
        ext.prefix = { "${meta.id}.catalogue.nt" }
        ext.args   = '-split -s -nameOnly'
    }
    withName: 'ORFTABLE_FASTA_GTF_BUILDORFCATALOGUE:SEQKIT_TRANSLATE' {
        ext.prefix = { "${meta.id}.catalogue.aa" }
        ext.args   = '--trim'
    }
}
