process {
    withName: 'ORFTABLE_FASTA_GTF_BUILDORFCATALOGUE:BEDTOOLS_GETFASTA' {
        ext.prefix = { "${meta.id}.catalogue.nt" }
        ext.args   = '-split -s -nameOnly'
    }
    withName: 'ORFTABLE_FASTA_GTF_BUILDORFCATALOGUE:SEQKIT_TRANSLATE' {
        ext.prefix = { "${meta.id}.catalogue" }
        ext.args   = '--trim'
    }
    withName: 'ORFTABLE_FASTA_GTF_BUILDORFCATALOGUE:MMSEQS_EASYCLUSTER' {
        ext.args = '--min-seq-id 0.9 -c 0.8 --cov-mode 0'
    }
}
