process {

    publishDir = { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }
    
    withName: 'test_atlasgeneannotationmanipulation_gtf2featureannotation_with_fasta:ATLASGENEANNOTATIONMANIPULATION_GTF2FEATUREANNOTATION' {
        ext.prefix = { "${meta.id}_test" }
        ext.args = { "--feature-type transcript --filter-cdnas-output ${meta.id}_test.filtered.fa.gz" }
    }

}
