process {
    withName: 'UNIVERSC' {
        ext.args = {
            [
                "--verbose",
                meta.technology ? "--technology ${meta.technology}" : "",
                meta.chemistry  ? "--chemistry ${meta.chemistry}"   : "",
            ].join(" ").trim()
        }
    }
    publishDir = { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }
}
