process {

    withName: GT_SUFFIXERATOR {
        ext.args = '-suf -lcp'
        // GT_LTRHARVEST requires -suf, -lcp
    }

    withName: LTRFINDER {
        ext.args = '-harvest_out'
        // LTRRETRIEVER requires -harvest_out
    }

    withName: GT_LTRHARVEST {
        ext.args = '-minlenltr 100 -maxlenltr 7000 -mintsd 4 -maxtsd 6 -motif TGCA -motifmis 1 -similar 85 -vic 10 -seed 20 -seqids yes'
        // recommended parameters: https://github.com/oushujun/LTR_retriever#usage
    }

    withName: CAT_CAT {
        ext.prefix = { "${meta.id}_ltrharvest_ltrfinder.tabout" }
    }
}
