process {

    publishDir = { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }

    withName: BWA_ALN {
        ext.prefix = { "${meta.id}_${meta.id_index}" }
    }

    withName: BWA_SAMSE {
        ext.prefix = { "${meta.id}_${meta.id_index}" }
    }

    withName: BWA_SAMPE {
        ext.prefix = { "${meta.id}_${meta.id_index}" }
    }

    withName: SAMTOOLS_INDEX {
        ext.prefix = { "${meta.id}_${meta.id_index}" }
    }


}
