// IMPORTANT: Add this configuration to your modules.config

process {

    publishDir = { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }

    withName: '.*FASTQ_ALIGN_BWAALN:BWA_ALN' {
        ext.prefix = { "${meta.id}_${meta.id_index}" }
    }

    withName: '.*FASTQ_ALIGN_BWAALN:BWA_SAMSE' {
        ext.prefix = { "${meta.id}_${meta.id_index}" }
    }

    withName: '.*FASTQ_ALIGN_BWAALN:BWA_SAMPE' {
        ext.prefix = { "${meta.id}_${meta.id_index}" }
    }

    withName: '.*FASTQ_ALIGN_BWAALN:SAMTOOLS_INDEX' {
        ext.prefix = { "${meta.id}_${meta.id_index}" }
    }


}
