process {

    withName: MMSEQS_CREATEDB {
        ext.prefix = 'db'
    }

    withName: MMSEQS_LINCLUST {
        ext.args = [
            "--min-seq-id 0.5",
            "-c 0.6",
            "--cov-mode 0",
        ].join(' ').trim()
    }

    withName: MMSEQS_CLUSTER {
        ext.args = [
            "--min-seq-id 0.5",
            "-c 0.6",
            "--cov-mode 0",
        ].join(' ').trim()
    }
}
