process {

    publishDir = { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }

    withName: GATK4_MARKDUPLICATES {
        ext.args = '--CREATE_INDEX true'
        ext.prefix = { "${meta.id}.bam" }
    }

    withName: GATK4_MARKDUPLICATES_CRAM {
        ext.args = '--CREATE_INDEX true'
        ext.prefix = { "${meta.id}.cram" }
    }

}
