// IMPORTANT: Add this configuration to your modules.config

process {
    // need FASTP to only do complexity filtering
    withName: ".*:FASTQ_COMPLEXITY_FILTER:FASTP" {
        ext.args = [
            '--low_complexity_filter',
            '--disable_adapter_trimming',
            '--disable_trim_poly_g',
            '--disable_quality_filtering',
            '--disable_length_filtering'
        ].join(' ')
    }
}
