process {

    publishDir = { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }

    withName: GANON_CLASSIFY {
        ext.args = "--output-lca --output-all --output-unclassified"
    }

    withName: GANON_REPORT {
        ext.args = "--report-type reads --output-format tsv"
    }

    withName: GANON_TABLE {
        ext.args = "--output-format tsv --output-value percentages"
    }

}
