process {

    publishDir = { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }

    withName: COOLTOOLS_PILEUP {
        ext.args = "--features-format BED"
    }

    withName: COOLER_CLOAD {
        ext.args = 'pairix'
    }

    withName: COOLER_BALANCE {
        ext.prefix = 'balanced'
    }
}
