process {

    publishDir = { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }
    withName: 'HICEXPLORER_HICFINDTADS' {
        ext.args = '--minDepth 60000 --maxDepth 180000 --minBoundaryDistance 20000 --correctForMultipleTesting fdr --thresholdComparisons 0.1'
    }
}
