process {
    withName: GLIMPSE2_CHUNK {
        // Necessary to work on a small region
        ext.args = [
            "--seed 1",
            "--window-mb 0.01",
            "--window-cm 0.01",
            "--window-count 200",
            "--buffer-mb 0.005",
            "--buffer-cm 0.005",
            "--buffer-count 30"].join(' ')
        ext.prefix = { "${meta.id}" }
    }
}