process {

    publishDir = { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }
    
    withName: 'CNVKIT_EXPORT_BED' {
        ext.args = { "bed -i ${meta.id}" }
    }

    withName: 'CNVKIT_EXPORT_VCF' {
        ext.args = { "vcf -i ${meta.id}" }
    }

    withName: 'CNVKIT_EXPORT_CDT' {
        ext.args = "cdt"
    }

    withName: 'CNVKIT_EXPORT_JTV' {
        ext.args = "jtv"
    }

    withName: 'CNVKIT_EXPORT_SEG' {
        ext.args = "seg"
    }

    withName: 'CNVKIT_EXPORT_THETA' {
        ext.args = "theta"
    }

}