process {

    withName: "TUMOUR_ADDORREPLACEREADGROUPS" {
        ext.args = "--CREATE_INDEX true -ID tumour -LB tumour -PL ILLUMINA -PU bc1 -SM tumour"
        ext.prefix = "tumour"
    }

    withName: "NORMAL_ADDORREPLACEREADGROUPS" {
        ext.args = "--CREATE_INDEX true -ID normal -LB normal -PL ILLUMINA -PU bc1 -SM normal"
        ext.prefix = "normal"
    }

}
