// Load subworkflow specific configurations for modules (adapterremoval)
includeConfig '../../../../subworkflows/nf-core/fastq_ena_prep_adapterremoval_md5sum/nextflow.config'

process {

    publishDir = { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }

    withName: ENA_PREP_ADAPTERREMOVAL {
        publishDir = [
            [
            enabled: true,
            pattern: '*.truncated.fastq.gz',
            path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }
            ],
            [
            enabled: true,
            pattern: '*settings',
            path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }
            ]
        ]
    }
}
