env.NCBI_SETTINGS = params.settings_file

process {
    withName: CUSTOM_SRATOOLSNCBISETTINGS {
        containerOptions = {
            ['singularity', 'apptainer'].contains(workflow.containerEngine)
                ? "-B ${params.settings_path}:${params.settings_path}"
                : "-v ${params.settings_path}:${params.settings_path}"
        }
    }
}
