params.settings_path = '/tmp/.ncbi'
params.settings_file = "${params.settings_path}/user-settings.mkfg"

env.NCBI_SETTINGS = params.settings_file

process {
    withName: CUSTOM_SRATOOLSNCBISETTINGS {
        containerOptions = {
            (workflow.containerEngine == 'singularity') ?
            "-B ${params.settings_path}:${params.settings_path}" :
            "-v ${params.settings_path}:${params.settings_path}"
        }
    }
}