process {

    publishDir = { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }

    withName: SEQKIT_SPLIT2_LENGTH {
        ext.args = '--by-length 8K'
    }

    withName: SEQKIT_SPLIT2_SIZE {
        ext.args = '--by-size 50'
    }

    withName: SEQKIT_SPLIT2_PART {
        ext.args = '--by-part 3'
    }

}
