// include { SEQKIT_SPLIT2 as SEQKIT_SPLIT2_LENGTH } from '../../../../modules/seqkit/split2/main.nf' addParams( options: ['args': '--by-length 8K'] )
// include { SEQKIT_SPLIT2 as SEQKIT_SPLIT2_SIZE   } from '../../../../modules/seqkit/split2/main.nf' addParams( options: ['args': '--by-size 50' ]  )
// include { SEQKIT_SPLIT2 as SEQKIT_SPLIT2_PART   } from '../../../../modules/seqkit/split2/main.nf' addParams( options: ['args': '--by-part 3']    )
process {

    publishDir = { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }

    withName: SEQKIT_SPLIT2_LENGTH {
        ext.args = '--by-length 8K'
    }

    withName: SEQKIT_SPLIT2_SIZE {
        ext.args = '--by-size 50'
    }

    withName: SEQKIT_SPLIT2_PART {
        ext.args = '--by-part 3'
    }

}
