process {
    withName: 'FASTQTOBAM' {
        ext.args   = params.fastqtobam_args
        ext.prefix = params.fastqtobam_prefix
    }
    withName: 'BAM2FASTQ_PRE' {
        ext.args   = params.bam2fastq_pre_args
    }
    withName: 'ZIPPERBAMS_PRE' {
        ext.args   = params.zipperbams_pre_args
        ext.prefix = params.zipperbams_pre_prefix
    }
    withName: 'BAMFILTER' {
        ext.args   = params.bamfilter_args
    }

    withName: 'ZIPPERBAMS_POST' {
        ext.args   = params.zipperbams_post_args
        ext.args2  = params.zipperbams_post_args2
        ext.prefix = params.zipperbams_post_prefix
    }
}
