process {
    withName: "FASTQTOBAM" {
        ext.args = "--read-structures +T 12M11S+T"
        ext.prefix = { "${meta.id}_unaligned" }
    }
    //withName: "FASTQTOBAM" {
    //    ext.args = "--read-structures 38S2M1S+T 2M34S+T"
    //    ext.prefix = { "${meta.id}_unaligned" }
    //}
    withName: BAM2FASTQ_PRE {
        ext.args = "-N"
    }
    withName: ZIPPERBAMS_PRE {
        ext.prefix = {"${meta.id}_zipped"}
        ext.compression = '1'
    }
    withName: BAMFILTER {
        ext.args = "-f 1 --output-fmt bam"
    }

    withName: ZIPPERBAMS_POST {
        ext.args = "--tags-to-reverse Consensus --tags-to-revcomp Consensus"
        ext.prefix = {"${meta.id}_zipped"}
        ext.compression = '0'
    }
}
