process {

    publishDir = { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }

    withName: MMSEQS_SEARCH {
        ext.prefix = "test_output_search"
        ext.args = '--remove-tmp-files 1 --search-type 2'
    }

    withName: MMSEQS_CREATEDB_TARGET {
        publishDir = [ enabled: false ]
    }

    withName: MMSEQS_CREATEDB_QUERY {
        publishDir = [ enabled: false ]
    }
}
