process {
    withName: "PYPGX_CREATEINPUTVCF" {
        ext.args = {"--assembly GRCh37 --genes CYP2D6"}
    }

    withName: "PYPGX_PREPAREDEPTHOFCOVERAGE" {
        ext.args = {"--assembly GRCh37 --genes CYP2D6"}
    }

    withName: "PYPGX_COMPUTECONTROLSTATISTICS" {
        ext.args = { "--assembly GRCh37"}
    }
}
