process {
    withName: QUILT_QUILT2 {
        cpus       = 1
        ext.args   = { "${params.quilt_args}" }
        ext.prefix = { "${meta.id}_${meta.chr}_${meta.regionout}.quilt2" }
    }

    withName: GLIMPSE2_LIGATE {
        ext.prefix = { "${meta.id}_${meta.chr}.ligate" }
    }

    withName: BCFTOOLS_INDEX {
        ext.args   = "--tbi"
        publishDir = [enabled: false]
    }
}
