process {

    publishDir = { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }
    withName: MOSDEPTH_FAIL {
        ext.args = "--by 100"
    }
    withName: MOSDEPTH_WINDOW {
        ext.args = "--by 100"
    }
    withName: MOSDEPTH_QUANTIZED {
        ext.args = "--quantize 0:1:4:100:200"
    }
    withName: MOSDEPTH_THRESHOLD {
        ext.args = "--thresholds 1,10,20,30"
    }
}
