process {

    publishDir = { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }

    withName: TABIX_BED {
        ext.args = '-p bed'
    }

    withName: TABIX_GFF {
        ext.args = '-p gff'
    }

    withName: TABIX_VCF {
        ext.args = '-p vcf'
    }

}
