process {

    publishDir = { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }

    withName: SAMTOOLS_SORT {
        publishDir = { "${params.outdir}/sort}
        ext.prefix = { "${meta.id}.sorted" }
    }

    withName: SAMTOOLS_FLAGSTAT {
        publishDir = { "${params.outdir}/flagstat}
        ext.prefix = { "${meta.id}.sorted.bam" }
    }

    withName: SAMTOOLS_IDXSTATS {
        publishDir = { "${params.outdir}/idxstats}
        ext.prefix = { "${meta.id}.sorted.bam" }
    }

    withName: SAMTOOLS_STATS {
        publishDir = { "${params.outdir}/stats}
        ext.prefix = { "${meta.id}.sorted.bam" }
    }


}
