process {

    publishDir = { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }

    withName: BWA_INDEX {
        publishDir = [
            ext.prefix = 'genome.fasta'
        ]
    }
    withName: GRIDSS_GRIDSSSOMATICFILTER {
        publishDir = [
            ext.args = '--normalordinal 0'
        ]
    }

}
