process {

    publishDir = { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }

    withName: STITCH_GENERATE_INPUTS {
        ext.args2 = "--generateInputOnly TRUE"
    }
    withName: STITCH_IMPUTE_ONLY {
        ext.args2 = "--regenerateInputWithDefaultValues TRUE"
    }

}
