process {

    publishDir = { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }

    withName: "test_fgbio_zipperbams:FGBIO_ZIPPERBAMS" {
        ext.args = "--tags-to-reverse Consensus --tags-to-revcomp Consensus"
        ext.prefix = {"${meta.id}_zipped"}
        ext.compression = '0'
    }

}
