// include { LIMA } from '../../../modules/lima/main.nf' addParams( options: [args: '--isoseq --peek-guess', suffix: ".fl"] )
process {

    publishDir = { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase() }

    withName: LIMA {
        ext.args = '--isoseq --peek-guess'
        ext.suffix = '.fl'
    }

}
