process {

    publishDir = { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }

    withName:SEQUENCETOOLS_PILEUPCALLER_FREQSUM{
        ext.args = { "--majorityCall --sampleNames ${meta.id}" }
    }

        withName:SEQUENCETOOLS_PILEUPCALLER_EIG{
        ext.args = { "--majorityCall --sampleNames ${meta.id} --eigenstratOut ${meta.id}" }
    }

        withName:SEQUENCETOOLS_PILEUPCALLER_PLINK{
        ext.args = { "--majorityCall --sampleNames ${meta.id} --plinkOut ${meta.id}" }
    }

}
