params {
    modules_testdata_base_path = 'https://raw.githubusercontent.com/nf-core/test-datasets/modules/data/'
    outdir = 'output'
    publish_dir_mode = 'copy'
}

process {
    ext.args = '--overwrite'
    ext.input_type = 'from_genes'
    // Override container to null for stub testing (faster, no image pull needed)
    withName: TRAITAR {
        container = null
    }
}
