params {
    enable_conda = false
    modules_testdata_base_path = 'https://raw.githubusercontent.com/nf-core/test-datasets/modules/data/'
}

profiles {
    singularity {
        singularity.enabled = true
        singularity.autoMounts = true
    }
}

process {
    withName: 'TRAITAR' {
        ext.args = ''
        ext.input_type = 'from_nucleotides'
    }
}
