process {

    publishDir = { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }

    withName:SEQUENCETOOLS_PILEUPCALLER{
        ext.args = { "--majorityCall --sampleNames ${meta.id} --eigenstratOut ${meta.id}" }
    }

    withName:EIGENSTRATDATABASETOOLS_EIGENSTRATSNPCOVERAGE{
        ext.args = { "-j ${meta.id}.json" }
    }

}
