params {
    // Optional parameters for Demuxem - Default values
    threads = 1
    genome = null
    alpha_on_samples = 0.0
    min_num_genes = 100
    min_num_umis = 100
    min_signal_hashtag = 10.0
    random_state = 0

}


process {

    withName: DEMUXEM {
        ext.args = "--threads ${params.threads} --alpha-on-samples ${params.alpha_on_samples} --min-num-genes ${params.min_num_genes}  --min-num-umis ${params.min_num_umis} --min-signal-hashtag ${params.min_signal_hashtag} --random-state ${params.random_state}"
    }

}
