process {
    withName: 'PRINSEQPLUSPLUS' {
        ext.args = "-lc_entropy=0.8"
    }

    withName: 'BBMAP_BBDUK' {
        ext.args = { [
            "entropy=${params.shortread_complexityfilter_entropy}",
            "entropywindow=${params.shortread_complexityfilter_bbduk_windowsize}",
            params.shortread_complexityfilter_bbduk_mask ? "entropymask=t" : "entropymask=f"
        ].join(' ').trim() }
    }
}
