process {
    withName: 'PRINSEQPLUSPLUS' {
        ext.args = "-lc_entropy=0.8"
    }

    withName: 'BBMAP_BBDUK' {
        ext.args = [
            'entropy=0.7', // needed to turn on complexity filtering
            'minlength=0' // needed, to not discard reads shorter than this
        ].join(' ')
        ext.prefix = { "${meta.id}.trim" }
    }

    withName: 'FASTP' {
        ext.args = [
            '--low_complexity_filter', // needed to turn on complexity filtering
            '--complexity_threshold 60', // default is 30, testing with 60 to filter something out
            '--disable_adapter_trimming',
            '--disable_trim_poly_g',
            '--disable_quality_filtering',
            '--disable_length_filtering'
        ].join(' ')
    }
}
