process {
    withName: AMPCOMBI_PARSETABLES {
    //ext.args = [
    //    "--ampir_file '.tsv'",
    //    "--amplify_file '.tsv'",
    //    "--macrel_file '.prediction'",
    //    "--neubi_file '.fasta'",
    //    "--hmmsearch_file 'candidates.txt'",
    //    "--ampgram_file '.tsv'",
    //    "--amptransformer_file '.txt'"
    //].join(' ')
    ext.prefix = "sample_1"
    }
}
