process {

    publishDir = { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }

    withName: METABAT2_METABAT2 {
        ext.args = '--minContig 1500 --minCV 0.1 --minCVSum 0.1 --minClsSize 10 --minS 2'
    }

    withName: DASTOOL_DASTOOL {
        ext.args = '--score_threshold 0 --debug'
    }

}
