process {

    publishDir = { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }

    withName: 'SENTIEON.*' {
        ext.sentieon_encryption_key_base64 = secrets.SENTIEON_ENCRYPTION_KEY_BASE64
        ext.sentieon_auth_mech_base64 = secrets.SENTIEON_AUTH_MECH_BASE64
        ext.sentieon_license_message_base64 = secrets.SENTIEON_LICENSE_MESSAGE_BASE64
        ext.sentieon_auth_data = secrets.SENTIEON_AUTH_DATA
    }

}
