process {

    publishDir = { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }

sentieon {
  ENCRYPTION_KEY_BASE64 = secrets.SENTIEON_ENCRYPTION_KEY_BASE64
  AUTH_MECH_BASE64 = secrets.SENTIEON_AUTH_MECH_BASE64
  LICENSE_MESSAGE_BASE64 = secrets.SENTIEON_LICENSE_MESSAGE_BASE64
}

}
