process {

    publishDir = { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }

    withName: 'test_windowmasker_ustat:WINDOWMASKER_MKCOUNTS' {
        ext.args = ""
    }

    withName: 'test_windowmasker_ustat:WINDOWMASKER_USTAT' {
        ext.args = "-dust true -outfmt interval"
    }
}