params {
    module_args = ""
}

process {
    withName: "REGENIE_STEP1_QUANTITATIVE|REGENIE_STEP1_QUANTITATIVE_PGEN" {
        ext.args = "--phenoColList QuantitativeTrait"
    }
    withName: "REGENIE_STEP1_BINARY" {
        ext.args = "--phenoColList BinaryTrait --bt"
    }
    withName: "REGENIE_STEP2" {
        ext.args = { params.module_args ?: "" }
    }
}
