params.module_prefix = null

process {
    withName: REGENIE_STEP1_QUANTITATIVE {
        ext.args = '--phenoColList QuantitativeTrait'
    }
    withName: REGENIE_STEP1_BINARY {
        ext.args = '--phenoColList BinaryTrait --bt'
    }
    withName: REGENIE_STEP2 {
        ext.args   = params.module_args
        ext.prefix = params.module_prefix
    }
}
