process {
    publishDir = { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }

    withName: SPACERANGER_COUNT_FFPE_CYTASSIST {
        ext.img_type = "--cytaimage"
    }

    // spaceranger doesn't run on default resource limits
    cpus = 1
    memory = 5.GB
}
