process {

    publishDir = { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }

    withName: ENSEMBLVEP_DOWNLOAD {
        ext.args = '--AUTO c --CONVERT --NO_BIOPERL --NO_HTSLIB --NO_TEST --NO_UPDATE'
    }

    withName: ENSEMBLVEP_VEP_TAB {
        ext.args = '--tab'
        ext.prefix = { "${meta.id}_vep" }
    }

    withName: ENSEMBLVEP_FILTERVEP_TAB {
        ext.args = '--filter "Feature_type is Transcript"'
        ext.suffix = "tab"
    }

    withName: ENSEMBLVEP_VEP_VCF {
        ext.args = '--vcf'
        ext.prefix = { "${meta.id}_vep" }
    }

    withName: ENSEMBLVEP_FILTERVEP_VCF {
        ext.args = '--filter "Feature_type is Transcript"'
    }
}