process {

    publishDir = { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }


    withName: BWA_INDEX {
        publishDir = [enabled : false ]
    }

    withName: BWA_MEM {
        publishDir = [enabled : false ]
    }

    withName: SAMTOOLS_INDEX {
        publishDir = [enabled : false ]
    }

    withName: UMITOOLS_EXTRACT {
        ext.args = '--bc-pattern="NNNN"'
        publishDir = [ enabled : false ]
    }

    withName: UMITOOLS_GROUP {
        ext.prefix = { "${meta.id}.group" }
    }

}
