// Including niche test data
def test_niche_data_dir = "https://raw.githubusercontent.com/nf-core/test-datasets/modules/data/delete_me"
params {
    niche_test {
        'verifybamid' {
            verifybamid2_test_1000g_ud  = "${test_niche_data_dir}/verifybamid/1000g.phase3.10k.b38.vcf.gz.dat.UD"
            verifybamid2_test_1000g_mu  = "${test_niche_data_dir}/verifybamid/1000g.phase3.10k.b38.vcf.gz.dat.mu"
            verifybamid2_test_1000g_bed = "${test_niche_data_dir}/verifybamid/1000g.phase3.10k.b38.vcf.gz.dat.bed"
        }
        'test_genome' {
            test_genome_ud  = "${test_niche_data_dir}/verifybamid/test.genome.vcf.UD"
            test_genome_mu  = "${test_niche_data_dir}/verifybamid/test.genome.vcf.mu"
            test_genome_bed = "${test_niche_data_dir}/verifybamid/test.genome.vcf.bed"
        }
    }
}

process {

    publishDir = { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }

    withName: VERIFYBAMID_VERIFYBAMID2_SVD {
        ext.args = '--Output vb_aux --DisableSanityCheck'
    }

    withName: VERIFYBAMID_VERIFYBAMID2_REFVCF {
        ext.args = '--DisableSanityCheck'
    }

    withName: VERIFYBAMID_VERIFYBAMID2_PANEL {
        ext.args = '--DisableSanityCheck'
    }

}
