process {

    withName: AMPCOMBI2_PARSETABLES {

    ext.args = [
        "--aminoacid_length 2000",
        "--db_evalue 2000",
        "--ampir_file 'ampir.tsv'",
        "--amplify_file 'amplify.tsv'",
        "--macrel_file '.prediction'",
        "--neubi_file '.fasta'",
        "--hmmsearch_file 'candidates.txt'",
        "--ampgram_file '.tsv'",
        "--amptransformer_file '.txt'",
        "--log true"
    ].join(' ')

    ext.prefix = "sample_1"

    }
}
