process {

    publishDir = { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }
    
    withName: 'test_simpleaf_quant:SIMPLEAF_QUANT' {
        ext.args = { "--knee" }
    }
    withName: 'test_simpleaf_quant_nogtf:SIMPLEAF_QUANT' {
        ext.args = { "--knee" }
    }
}
