process {

    publishDir = { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }
    withName: BWA_INDEX {
        publishDir = [
            ext.prefix = 'genome.fasta'
        ]
    }
    withName: GRIDSS_GRIDSSGENERATEPONBEDPE {
        publishDir = [
            ext.args = 'NORMAL_ORDINAL=1 MIN_BREAKPOINT_QUAL=10'
        ]
    }
}
