process {

    publishDir = { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }

    withName: GATK_UNIFIEDGENOTYPERSNPS {
        ext.args = "--genotype_likelihoods_model SNP -stand_call_conf 30 --sample_ploidy 2 -dcov 250 --output_mode EMIT_ALL_SITES"
        ext.prefix = { "${meta.id}_snps" }
    }

    withName: GATK_UNIFIEDGENOTYPERINDELS {
        ext.args = "--genotype_likelihoods_model INDEL -stand_call_conf 30 --sample_ploidy 2 -dcov 250 --output_mode EMIT_ALL_SITES"
        ext.prefix = { "${meta.id}_indels" }
    }

}
