process {

    withName: BLAST_MAKEBLASTDB {
        publishDir = { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }
        ext.args = '-dbtype nucl'
    }

    withName: BLAST_TBLASTN {
        publishDir = { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }
        ext.args = '-outfmt 6 -task tblastn -evalue 0.001 -qcov_hsp_perc 60 -max_target_seqs 1'
    }
}
