process {
    withName: "SEQKIT_SANA" {
        ext.prefix = { "${meta.id}_${meta.strandness}" }
    }

    withName: "SEQKIT_SEQ" {
        ext.args = [
            "--remove-gaps",
            "--upper-case",
            "--validate-seq",
            "--min-len 30",
            "--max-len 5000"
        ].join(' ').trim()
        ext.prefix = { "intermediate_seqkit_seq_${meta.strandness}" }
    }

    withName: "SEQKIT_REPLACE" {
        ext.args   = '-p "/" -r "_"'
        ext.suffix = ".fasta"
        ext.prefix = { "intermediate_seqkit_replace_${meta.strandness}" }
    }

    withName: "SEQKIT_RMDUP" {
        ext.prefix = { "${meta.id}_${meta.strandness}" }
    }

    withName: "UMITOOLS_EXTRACT" {
        ext.args = '--bc-pattern="NNNN"'
    }

    withName: "CUTADAPT" {
        ext.args = '-q 25'
    }

    withName: "ADAPTERREMOVAL_PE" {
        ext.args = params.adapterremoval_args
    }

    withName: ".*:FASTQ_COMPLEXITY_FILTER:BBMAP_BBDUK" {
        ext.args = [
            'entropy=0.7', // needed to turn on complexity filtering
            'minlength=0' // needed, to not discard reads shorter than this
        ].join(' ')
        ext.prefix = { "${meta.id}.trim" }
    }

    // need FASTP to only do complexity filtering
    withName: ".*:FASTQ_COMPLEXITY_FILTER:FASTP" {
        ext.args = [
            '--low_complexity_filter',
            '--disable_adapter_trimming',
            '--disable_trim_poly_g',
            '--disable_quality_filtering',
            '--disable_length_filtering'
        ].join(' ')
    }

    withName: "BBMAP_CLUMPIFY" {
        ext.args = 'dedupe=t'
    }
}
