process {
    withName: "DEEPVARIANT_CALLVARIANTS" {
        ext.args = '--checkpoint "/opt/models/wgs"'
        cpus = 2 // Keep CPUs fixed so the number of output files is reproducible
    }
}
process {
    withName: "DEEPVARIANT_MAKEEXAMPLES" {
        ext.args = '--checkpoint "/opt/models/wgs" --call_small_model_examples --small_model_indel_gq_threshold "30" --small_model_snp_gq_threshold "25" --small_model_vaf_context_window_size "51" --trained_small_model_path "/opt/smallmodels/wgs"'
    }
}
