process {

    publishDir = { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }

   withName: "TCOFFEE_ALIGN_SEQUENCE"{
        ext.args = { "-output fasta_aln" }
    }

    withName: "TCOFFEE_ALIGN_WITHTREE"{
        ext.args = { "-output fasta_aln -usetree $tree" }
    }
    
    withName: "TCOFFEE_ALIGN_STRUCTURES"{
        ext.args = { "-method TMalign_pair" }
    }

    
}