process {
    ext.args3 = [                                                         
            '--ml-threshold 0',
            '--minfasta-kbs  0',
            '--min-len 0',
            '--self-supervised'
        ].join(' ')     

    publishDir = { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }
    
}
