process {

    publishDir = { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }
    
    withName: 'test_custom_matrixfilter:CUSTOM_MATRIXFILTER' {
        ext.args = { "--minimum_abundance 10" }
        ext.prefix = { "${meta.id}_test" }
    }
    
    withName: 'test_custom_matrixfilter_prop:CUSTOM_MATRIXFILTER' {
        ext.args = { "--minimum_proportion 0.75" }
        ext.prefix = { "${meta.id}_test" }
    }
    
    withName: 'test_custom_matrixfilter_group:CUSTOM_MATRIXFILTER' {
        ext.args = { "--minimum_proportion 1 --grouping_variable treatment" }
        ext.prefix = { "${meta.id}_test" }
    }
    
    withName: 'test_custom_matrixfilter_na_prop:CUSTOM_MATRIXFILTER' {
        ext.args = { "--sample_id_col Experiment --minimum_abundance 20" }
        ext.prefix = { "${meta.id}_test" }
    }
    
    withName: 'test_custom_matrixfilter_na_samples:CUSTOM_MATRIXFILTER' {
        ext.args = { "--sample_id_col Experiment --minimum_abundance 28 --minimum_samples_not_na 1" }
        ext.prefix = { "${meta.id}_test" }
    }
     withName: 'test_custom_matrixfilter_var:CUSTOM_MATRIXFILTER' {
        ext.args = { "--most_variant_features 500" }
        ext.prefix = { "${meta.id}_test" }
    }
}
