process {

    publishDir = { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }

    withName: 'test_cellranger_multi_10k_pbmc:CELLRANGER_MULTI' {
        stageInMode = 'copy'
    }

    withName: 'test_cellranger_multi_10k_pbmc_cmo:CELLRANGER_MULTI' {
        stageInMode = 'copy'
    }

    withName: 'test_cellranger_multi_10k_5k_cmvpos_tcells:CELLRANGER_MULTI' {
        stageInMode = 'copy'
    }
}
