process {

    publishDir = { "${projectDir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }

    withName: 'test_cellranger_multi:CELLRANGER_MKREF' {
        publishDir = [
            path: { "${projectDir}/cellranger/gex_reference" },
            mode: 'copy', 
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'test_cellranger_multi:WRITE_CONFIG' {
        publishDir = [
            path: { "${projectDir}/cellranger/multi" },
            mode: 'copy', 
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'test_cellranger_multi:CELLRANGER_MULTI' {
        publishDir = [
            path: { "${projectDir}/cellranger/multi" },
            mode: 'copy', 
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]

        stageInMode = 'copy'
        //ext.args = '--noexit'
    }
    
}
