process {
    withName: 'GATK4_COLLECTREADCOUNTS*' {
        ext.args = "--format TSV --interval-merging-rule OVERLAPPING_ONLY"
    }
    withName: 'GATK4_DETERMINEGERMLINECONTIGPLOIDY' {
        ext.args = "--interval-merging-rule OVERLAPPING_ONLY"
    }
    withName: 'GATK4_GERMLINECNVCALLER' {
        ext.args = "--interval-merging-rule OVERLAPPING_ONLY --run-mode COHORT"
    }
}
