process {

    withName: LTRHARVEST {
        ext.prefix = { "${meta.id}_ltrharvest" }
    }

    withName: LTRFINDER {
        ext.args = '-harvest_out -size 1000000 -time 300'
        // recommended parameters: https://github.com/oushujun/LTR_retriever#usage
    }

    withName: CAT_CAT {
        ext.prefix = { "${meta.id}_ltrharvest_ltrfinder.tabout" }
    }
}
