process {

    publishDir = { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }
    
    withName: "test_scramble_clusteranalysis:SCRAMBLE_CLUSTERANALYSIS" {
        ext.args = "--eval-meis"
    }

    withName: "test_scramble_clusteranalysis_fasta:SCRAMBLE_CLUSTERANALYSIS" {
        ext.args = "--eval-meis --eval-dels"
    }
}