process {

    publishDir = { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }

    withName: '.*:BAM_SORT_SAMTOOLS_SINGLE_END:SAMTOOLS_.*' {
        ext.prefix = { "${meta.id}.single_end.sorted" }
    }

    withName: '.*:BAM_SORT_SAMTOOLS_SINGLE_END:BAM_STATS_SAMTOOLS:.*' {
        ext.prefix = { "${meta.id}.single_end.sorted.bam" }
    }

    withName: '.*:BAM_SORT_SAMTOOLS_PAIRED_END:SAMTOOLS_.*' {
        ext.prefix = { "${meta.id}.paired_end.sorted" }
    }

    withName: '.*:BAM_SORT_SAMTOOLS_PAIRED_END:BAM_STATS_SAMTOOLS:.*' {
        ext.prefix = { "${meta.id}.paired_end.sorted.bam" }
    }
}