process {

    publishDir = { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }

    withName: ".*BAM_VARIANT_CALLING_HAPLOTYPECALLER:BEDTOOLS_SPLIT" {
        ext.args = {"-n ${meta.subwf_scatter_count}"}
    }

    withName: ".*BAM_VARIANT_CALLING_HAPLOTYPECALLER:GAWK" {
        ext.suffix = "bed"
        ext.args2 = '\'BEGIN {FS="\t"}; {print \$1 FS "0" FS \$2}\''
    }

    withName: BCFTOOLS_MERGE {
        ext.args = "--force-samples"
    }

    withName: GATK4_CALIBRATEDRAGSTRMODEL {
        publishDir = [
            enabled: false
        ]
    }

}
