process {
    withName: SAMTOOLS_SORMADUP {
        ext.prefix = { "${meta.id}.merged" }
        ext.args5  = {
            [
                "-s",
                "--json",
                "-d 2500",
                "--barcode-name",
                "--write-index",
            ].join(" ").trim()
        }
    }
}
