process {
    withName: "SAMTOOLS_SORMADUP" {
        ext.prefix = {"${meta.id}.merged"}
        ext.args5 = {[
            "-s",                           // print some stats
            "--json",                       // output stats in json format for MultiQC
            "-d 2500",                      // The optical duplicate distance
            "--barcode-name",               // Use the UMI/barcode embedded in the read name (eigth colon delimited part).
            "--write-index",                // Write csi/crai index
            "--output-fmt cram",            // Output format
            "--output-fmt-option archive"   // Cram compression level
        ].join(" ").trim()}
    }
}
