process {
    withName: CATPACK_PREPARE {
        ext.args = "--common_prefix database"
    }

    withName: CATPACK_BINS {
        ext.args = "--bin_suffix .fasta"
    }

    withName: CATPACK_ADDNAMES {
        ext.args = "--only_official"
    }

    withName: CATPACK_SUMMARISE {
        ext.prefix = { "${meta.id}_summary" }
    }
}
