process {
    withName: SAMTOOLS_MULTICOMMAND {
        ext.args = { params.pipeline_args ?: "" }
        ext.args2 = { params.pipeline_args2 ?: "" }
        ext.args3 = { params.pipeline_args3 ?: "" }
        ext.args4 = { params.pipeline_args4 ?: "" }
        ext.args5 = { params.pipeline_args5 ?: "" }
        ext.args6 = { params.pipeline_args6 ?: "" }
        ext.args7 = { params.pipeline_args7 ?: "" }
    }
}
