process {

    publishDir = { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }

    withName: SNPEFF {
        container  = 'nfcore/snpeff:5.0.WBcel235'
        publishDir = [ enabled: false ]
    }

    withName: ANNOTATION_BGZIPTABIX {
        ext.prefix = { "${meta.id}_snpEff.ann.vcf" }
    }

}
