process {
    withName: SAMSHEE {
        ext.args = [
            params.json_schema_validator ? "--schema '${params.json_schema_validator}'" : "",
            params.name_schema_validator ? "--schema '${params.name_schema_validator}'" : "",
            params.v1_schema ? "--output-format sectioned" : "",
        ].join(" ").trim()
    }
}
