process {
    withName: 'MAKETAGDIR_SAMPLE1' {
    ext.args = '-format bed'
    }
    withName: 'MAKETAGDIR_SAMPLE2' {
    ext.args = '-format bed'
    }
    withName: 'FINDPEAKS_SAMPLE1' {
        ext.args = '-style factor'
    }
    withName: 'FINDPEAKS_SAMPLE2' {
        ext.args = '-style factor'
    }
    withName: 'HOMER_MERGEPEAKS' {
        ext.prefix = 'merged_peaks'
    }
}
