process {

    publishDir = { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }

    withName: GATK4SPARK_MARKDUPLICATES {
        ext.prefix = { "${meta.id}.bam" }
    }
    withName: GATK4SPARK_MARKDUPLICATES_CRAM {
        ext.prefix = { "${meta.id}.cram" }
    }
    withName: GATK4SPARK_MARKDUPLICATES_METRICS {
        ext.args = '--metrics-file test.metrics'
        ext.prefix = { "${meta.id}.bam" }
    }

}
// override ./tests/config/nextflow.config

