process {

    publishDir = { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }

    withName: JUPYTERNOTEBOOK {
        ext = ['parametrize': false]
    }

    // this should be the default options, but need to work around
    // https://github.com/nextflow-io/nextflow/issues/2422
    withName: JUPYTERNOTEBOOK_PARAMETRIZE {
        ext = ['parametrize': true]
    }
    
    withName: JUPYTERNOTEBOOK_PARAMETRIZE_IPYNB {
        ext = ['parametrize': true]
    }

}
