process {

    publishDir = { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }

    withName: SURVIVOR_MERGE {
        args = [
            max_distance_breakpoints: 0.2,
            min_supporting_callers: 1,
            account_for_type: 0,
            account_for_sv_strands: 0,
            estimate_distanced_by_sv_size: 0,
            min_sv_size: 20
        ]
    }
}
