process {
    withName: BCFTOOLS_CONCAT {
        ext.prefix = { "${meta.id}_concat" }
    }
    withName: ENSEMBLVEP_VEP {
        ext.prefix = { "${meta.id}.vep" }
        ext.args = {[
            "--vcf --offline",
            meta.id.startsWith("custom_test") ? "--custom test3.vcf.gz,,vcf,exact,0,TOPMED" : ""
        ].join(" ")}
    }
}
