process {
    publishDir = { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }
}

params {
    outdir = "output"
    test_data_base = "https://raw.githubusercontent.com/nf-core/test-datasets/modules"
    test_data {
        'homo_sapiens' {
            'illumina' {
                'test_vcf_gz'     = "${params.test_data_base}/data/genomics/homo_sapiens/illumina/gvcf/test.genome.vcf.gz"
                'test_vcf_gz_tbi' = "${params.test_data_base}/data/genomics/homo_sapiens/illumina/gvcf/test.genome.vcf.gz.tbi"
                test_genome_vcf_gz     = "test.genome.vcf.gz"
                test_genome_vcf_gz_tbi = "test.genome.vcf.gz.tbi"
            }
            'genome' {
                'genome_fasta'     = "${params.test_data_base}/data/genomics/homo_sapiens/genome/genome.fasta"
                'genome_fasta_fai' = "${params.test_data_base}/data/genomics/homo_sapiens/genome/genome.fasta.fai"
                genome_fasta     = "genome.fasta"
                genome_fasta_fai = "genome.fasta.fai"
                genome_dict      = "genome.dict"
            }
        }
    }
}
