params {
    observations_id_col             = 'sample'
    filtering_min_samples           = 1.0
    filtering_min_abundance         = 10
    filtering_min_proportion        = null
    filtering_grouping_var          = null
    filtering_min_proportion_not_na = 0.5
    filtering_min_samples_not_na    = null
}
process {
    ext.prefix = { "${meta.id}" }
    ext.args   = [
        "--sample_id_col \"${params.observations_id_col}\"",
        "--minimum_samples ${params.filtering_min_samples}",
        "--minimum_abundance ${params.filtering_min_abundance}",
        (params.filtering_min_proportion ? "--minimum_proportion ${params.filtering_min_proportion}" : ''),
        (params.filtering_grouping_var ? "--grouping_variable \"${params.filtering_grouping_var}\"" : ''),
        (params.filtering_min_proportion_not_na ? "--minimum_proportion_not_na \"${params.filtering_min_proportion_not_na}\"" : ''),
        (params.filtering_min_samples_not_na ? "--minimum_samples_not_na \"${params.filtering_min_samples_not_na}\"" : '')
    ].join(' ').trim()
    }
