process {

    publishDir = { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }

    withName: GETPILEUPSUMMARIES_TUMOR {
        ext.prefix = { "${meta.id}_tumor" }
    }

    withName: GETPILEUPSUMMARIES_NORMAL {
        ext.prefix = { "${meta.id}_normal" }
    }

    withName: GATK4_FILTERMUTECTCALLS {
        ext.prefix = { "${meta.id}_filtered" }
    }

}
