nextflow.enable.moduleBinaries = true

singularity.enabled = true
params.modules_testdata_base_path = "s3://spatial_demo_datasets/QC/benchmark/"


aws { 
    region = "eu-west-2" 
    client {
        endpoint = "https://cog.sanger.ac.uk" 
        anonymous = true
        s3PathStyleAccess = true
    }
}

