env {
    // NOTE This is how nf-core/metaspace/submit users will use METASPACE submission in real world use
    API_KEY = "$METASPACE_API_KEY"

    // NOTE This is how nf-core/metaspace/submit users will test out METASPACE submission with a user API key
    // nextflow secrets set METASPACE_API_KEY "USER_API_KEY"
}

params {
    test_data_base_path   = "https://raw.githubusercontent.com/nf-core/test-datasets/spatialmetabo/"
}
