process {

    publishDir = { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }

    withName: 'CNVNATOR_HIST' {
        ext.args = '-his 1000'
    }    

    withName: 'CNVNATOR_STAT' {
        ext.args = '-stat 1000'
    }    

    withName: 'CNVNATOR_PARTITION' {
        ext.args = '-partition 1000'
    }    

    withName: 'CNVNATOR_CALL' {
        ext.args = '-call 1000'
    }    

}
