process {
    withName: 'GRIDSS_EXTRACTOVERLAPPINGFRAGMENTS_TUMOR' {
        ext.prefix = { "${meta.id}.tumor.subset" }
    }

    withName: 'GRIDSS_EXTRACTOVERLAPPINGFRAGMENTS_NORMAL' {
        ext.prefix = { "${meta.id}.normal.subset" }
    }

    withName: 'GRIDSS_PREPROCESS_TUMOR' {
        ext.prefix = { "${meta.id}.tumor" }
    }

    withName: 'GRIDSS_PREPROCESS_NORMAL' {
        ext.prefix = { "${meta.id}.normal" }
    }

    // The pair is passed tumor-first
    withName: 'GRIDSS_SOMATICFILTER' {
        ext.args = '--tumourordinal 1 --normalordinal 2'
    }
}
