process {

    publishDir = { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }

    withName: GATK4_MARKDUPLICATES_SPARK {
        ext.prefix = { "${meta.id}.bam" }
    }
    withName: GATK4_MARKDUPLICATES_SPARK_CRAM {
        ext.prefix = { "${meta.id}.cram" }
    }
    withName: GATK4_MARKDUPLICATES_SPARK_METRICS {
        ext.args = '--metrics-file test.metrics'
        ext.prefix = { "${meta.id}.bam" }
    }

}
// override ./tests/config/nextflow.config
docker.userEmulation = false

