process {
    withName: '.*FASTQ_ALIGN_DEDUP_BWAMEM.*:PARABRICKS_FQ2BAM' {
        ext.args = '--low-memory'
    }

    withName: '.*FASTQ_ALIGN_DEDUP_BWAMEM.*:SAMTOOLS_SORT' {
        ext.prefix = { "${meta.id}.sorted" }
    }

    withName: '.*FASTQ_ALIGN_DEDUP_BWAMEM.*:PICARD_MARKDUPLICATES' {
        ext.args = "--ASSUME_SORTED true --REMOVE_DUPLICATES false --VALIDATION_STRINGENCY LENIENT --PROGRAM_RECORD_ID 'null' --TMP_DIR tmp"
        ext.prefix = { "${meta.id}.markdup.sorted" }
    }
}
