process {
    withName: 'PARABRICKS_FQ2BAM' {
        ext.args = '--low-memory'
    }
    withName: 'SAMTOOLS_SORT' {
        ext.prefix = { "${meta.id}.sorted" }
    }
    withName: 'PICARD_MARKDUPLICATES' {
        ext.args = "--ASSUME_SORTED true --REMOVE_DUPLICATES true --VALIDATION_STRINGENCY LENIENT --PROGRAM_RECORD_ID 'null' --TMP_DIR tmp"
        ext.prefix = { "${meta.id}.deduped.sorted.md" }
    }
    withName: 'PICARD_ADDORREPLACEREADGROUPS' {
        ext.args = "--RGID 1 --RGLB lib1 --RGPL illumina --RGPU unit1 --RGSM sample1"
        ext.prefix = { "${meta.id}.RG.sorted" }
    }
}
