process {
    withName: PARABRICKS_FQ2BAM {
        // The nf-test config caps system memory usage to 4.GB
        // This module requires at least 15 GB to run without error
        // Note: The Github runners run GPU tests on a machine with 15.1 GB available memory
        // See .github/workflows/nf-test-gpu.yml for exact machine specs
        memory = 15.GB
        accelerator = [request: 1]
    }
    withName: SAMTOOLS_SORT {
        ext.prefix = { "${meta.id}.sorted" }
    }
    withName: PICARD_MARKDUPLICATES {
        ext.args   = "--ASSUME_SORTED true --REMOVE_DUPLICATES true --VALIDATION_STRINGENCY LENIENT --PROGRAM_RECORD_ID 'null' --TMP_DIR tmp"
        ext.prefix = { "${meta.id}.deduped.sorted.md" }
    }
    withName: PICARD_ADDORREPLACEREADGROUPS {
        ext.args   = "--RGID 1 --RGLB lib1 --RGPL illumina --RGPU unit1 --RGSM sample1"
        ext.prefix = { "${meta.id}.RG.sorted" }
    }
}
