// These module configurations should be added to the modules.config file

process {

    withName: "*BAM_VARIANT_CALLING_HAPLOTYPECALLER:GAWK" {
        ext.prefix = {"${meta.id}.bed"}
        ext.args2 = '\'BEGIN {FS="\t"}; {print \$1 FS "0" FS \$2}\''
    }

    withName: "*BAM_VARIANT_CALLING_HAPLOTYPECALLER:BEDTOOLS_SPLIT" {
        ext.args = {"-n ${meta.subwf_scatter_count}"}
    }

}
