process {
    withName: GLIMPSE2_CHUNK {
        ext.prefix = { "${meta.panel}_${meta.chr}" }
        ext.args   = [
            "--window-mb 0.01",
            "--window-cm 0.01",
            "--window-count 200",
            "--buffer-mb 0.005",
            "--buffer-cm 0.005",
            "--buffer-count 30",
            "--seed 1",
        ].join(' ')
    }

    withName: GLIMPSE2_SPLITREFERENCE {
        ext.prefix = { "${meta.panel}_${meta.chr}_${meta.regionout}" }
        ext.args   = "--seed 1"
    }

    withName: GLIMPSE2_PHASE {
        ext.prefix = { "${meta.id}_${meta.chr}_${meta.regionout}" }
        cpus       = 1 // needed for deterministic output
        ext.args   = "--keep-monomorphic-ref-sites --seed 1"
    }

    withName: GLIMPSE2_LIGATE {
        ext.prefix = { "${meta.id}_${meta.chr}" }
    }
}
