process {
    withName: METHURATOR_GTESTIMATOR {
        ext.args = { [
            params.rrbs ? '--rrbs' : '',
            params.compute_ci ? ' --compute_ci' : '',
            params.t_max ? " --t-max ${params.t_max}" : '',
            params.minimum_coverage ? " --minimum-coverage ${params.minimum_coverage}" : ''
        ].join(' ').trim() }
    }
}
