// IMPORTANT: Add this configuration to your modules.config

process {
    withName: ".*BAM_SPLIT_BY_CHROM:SAMTOOLS_VIEW" {
        ext.args2 = {
            [
                "${meta.seq_name}", // Specifies the chromosome name used for splitting the input bam file.
            ].join(' ').trim()
        }

        ext.prefix = { "${meta.id}_${meta.seq_name}" }
    }

}
