process {

    publishDir = { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }

    withName: VSEARCH_CLUSTER {
        ext.args = '--id 0.8'
        ext.args2 = "--cluster_fast"
        ext.args3 = "--centroids"
    }

    withName: VSEARCH_CLUSTER_SIZE {
        ext.args = '--id 0.8'
        ext.args2 = "--cluster_size"
        ext.args3 = "--samout" // Test also sam to bam conversion
    }

    withName: VSEARCH_CLUSTER_SMALLMEM {
        ext.args = '--id 0.8 --usersort'
        ext.args2 = "--cluster_smallmem"
        ext.args3 = "--centroids"
    }

    withName: VSEARCH_CLUSTER_UNOISE {
        ext.args = '--id 0.8 --minsize 1'
        ext.args2 = "--cluster_unoise"
        ext.args3 = "--centroids"
    }

    withName: VSEARCH_CLUSTER_USEROUT {
        ext.args = '--id 0.8 --userfields query+target+id'
        ext.args2 = "--cluster_fast"
        ext.args3 = "--userout"
    }

}
