process {

    publishDir = { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }

    withName:CONTROLFREEC_SOMATIC{
        ext.args = { ["general" :[
                        "bedgraphoutput": 'TRUE',
                        "intercept": 0,
                        "noisydata": 'TRUE',
                        "sex": "${meta.sex}"
                        ],
                    "control": [
                        "inputformat_normal": "pileup",
                        "mateorientation_normal": "FR"
                    ],
                    "sample": [
                        "inputformat_tumor": "pileup",
                        "mateorientation_tumor": "FR"
                    ]
                    ]
        }
    }
}
