process {

    publishDir = { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }

    withName: UNIVERSC {
        ext.args = {
            [
                meta.technology ? "--technology '${meta.technology}'" : "",
                meta.chemistry  ? "--chemistry '${meta.chemistry}'"   : "",
                meta.samples    ? "--description ${meta.samples.unique().join(',')}" : "",
                "--per-cell-data"
            ].join(' ').strip()
        }
        container = "docker.io/nfcore/universc:1.2.5.1"
    }

    withName: CELLRANGER_MKGTF {
        container = "docker.io/nfcore/universc:1.2.5.1"
    }
    withName: CELLRANGER_MKREF{
       container = "docker.io/nfcore/universc:1.2.5.1"
    }

}
