process {
    withName: 'UNIVERSC' {
        ext.args = {
            [
                "--verbose",
                meta.technology ? "--technology ${meta.technology}" : "",
                meta.chemistry  ? "--chemistry ${meta.chemistry}"   : "",
                "--per-cell-data",
                "--description ${meta.samples.unique().join(',')}"
            ].join(" ").trim()
        }
    }
    withName: CELLRANGER_MKGTF {
        container = "docker.io/nfcore/universc:1.2.5.1"
    }
    withName: CELLRANGER_MKREF{
       container = "docker.io/nfcore/universc:1.2.5.1"
    }
    publishDir = { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }
}
