process {

    publishDir = { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }

    withName: UNIVERSC {
        ext.args = ''
        container = "docker.io/biocontainers/universc:1.2.5.1"
    }

    withName: CELLRANGER_MKGTF {
        container = "docker.io/biocontainers/universc:1.2.5.1"
    }
    withName: CELLRANGER_MKREF{
       container = "docker.io/biocontainers/universc:1.2.5.1"
    }

}
