process {

    publishDir = { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }

    withName: 'test_custom_tabulartogseagct_csv_override:CUSTOM_TABULARTOGSEAGCT' {
        ext.args = { [ "separator": "," ] }
    }    
    withName: 'test_custom_tabulartogseagct_csv_override_pipe:CUSTOM_TABULARTOGSEAGCT' {
        ext.args = { [ "separator": "|" ] }
    }    
    
}
