process {

    publishDir = { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }

    withName: '.*interleaved:FASTP' {
        ext.args = "--interleaved_in"
    }

    withName: '.*FASTQC_RAW' {
        ext.prefix = { "${meta.id}_raw" }
    }

    withName: '.*FASTQC_TRIM' {
        ext.prefix = { "${meta.id}_trim" }
    }
}
