process {

    publishDir = { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }

    withName: GFFREAD {
        ext.args = '--sort-alpha --keep-genes -T'
        ext.prefix = { "${gff.baseName}_sorted" }
    }

    withName: ULTRA_INDEX {
        ext.args = '--disable_infer'
    }

}
