process {
    withName: 'PICARD_ADDORREPLACEREADGROUPS'{
        ext.prefix = { "${meta.id}.replaced"}
        ext.args = {[
            "--CREATE_INDEX",
            "-LB ${meta.id}",
            "-PL ILLUMINA",
            "-PU bc1",
            "-SM ${meta.id}"
        ].join(' ').trim()}
    }

}
