process{
    withName: HTSLIB_BGZIPTABIX_1 {
        ext.prefix = {infile.getName() - ".vcf.gz"}
    }
    withName: HTSLIB_BGZIPTABIX_2 {
        ext.prefix = {infile.getName() - ".vcf.gz"}
    }
    withName: WITTYER {
        containerOptions = {
            workflow.containerEngine == 'singularity' || workflow.containerEngine == 'apptainer'
                ? "--home ${launchDir}"
                : null
        }
    }
}
