process {

    publishDir = { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }

    withName: CHECKM_QA {
        ext.prefix = { "${meta.id}.qa" }
    }


    withName: CHECKM_QA_FASTA {
        ext.args = "-o 9"
        ext.prefix = { "${meta.id}.qa" }
    }


}
