// include { RSEM_PREPAREREFERENCE    } from '../../../../modules/rsem/preparereference/main.nf'    addParams(options: [args: "--star"])
// include { RSEM_CALCULATEEXPRESSION } from '../../../../modules/rsem/calculateexpression/main.nf' addParams(options: [args: "--star --star-gzipped-read-file"])
process {

    publishDir = { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }

    withName: RSEM_PREPAREREFERENCE {
        ext.args = '--star'
    }

    withName: RSEM_CALCULATEEXPRESSION {
        ext.args = '--star --star-gzipped-read-file'
    }

}
