params {
    modules_testdata_base_path = System.getenv('NFTEST_MODULES_TESTDATA_BASE_PATH') ?: 'https://raw.githubusercontent.com/nf-core/test-datasets/modules/data/'
}

singularity.enabled = true
singularity.autoMounts = true

process {
    memory = '4.GB'
    withName: CELLRANGER_COUNT {
        ext.args = '--chemistry SC3Pv3 --create-bam true'
    }
}
