process {

    publishDir = { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }
    
    withName: CRC_HDF5{
        ext.args = "--interval-merging-rule OVERLAPPING_ONLY"
    }

    withName: CRC_TSV {
        ext.args = "--format TSV --interval-merging-rule OVERLAPPING_ONLY"
    }
}