process {

    publishDir = { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }
    
    withName: 'test_gatk4_collectreadcounts_hdf5:GATK4_COLLECTREADCOUNTS'{
        ext.args = "--interval-merging-rule OVERLAPPING_ONLY"
    }

    withName: 'test_gatk4_collectreadcounts_tsv:GATK4_COLLECTREADCOUNTS' {
        ext.args = "--format TSV --interval-merging-rule OVERLAPPING_ONLY"
    }

    withName: 'test_gatk4_collectreadcounts_cram:GATK4_COLLECTREADCOUNTS' {
        ext.args = "--format TSV --interval-merging-rule OVERLAPPING_ONLY"
    }

}