process {

    withName: RMATS_PREP {
        ext.args = {[
            "--variable-read-length --allow-clipping",
            meta.single_end                 ?   '-t single' : '',
            meta.strandness == "forward" ? "--libType fr-firststrand" : '',
            meta.strandness == "reverse" ? "--libType fr-secondstrand" : '',
            params.novel_splice_site ? "--novelSS" : "",
            (params.novel_splice_site && params.minimum_intron_length) ? "--mil ${params.minimum_intron_length}" : "",
            (params.novel_splice_site && params.max_exon_length) ? "--mel ${params.max_exon_length}" : "",
        ].join(' ').trim()}
    }

}
