process {

    publishDir = { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }

    withName: HMMER_ESLREFORMAT_AFA {
        ext.args   = 'afa'
    }
    
    withName: HMMER_ESLREFORMAT_PHYLIP {
        ext.args   = ' -u phylip '
    }
    
    withName: HMMER_ESLREFORMAT_UNALIGN {
        ext.args   = '--gapsym=- afa'
        ext.postprocessing = '| sed "/^>/!s/-//g"'
    }
    
}
