process {

    withName:OPENMSTHIRDPARTY_COMETADAPTER {
        ext.args    = [
            "-instrument low_res",
            "-fragment_bin_offset 0.4",
            "-precursor_mass_tolerance 5",
            "-precursor_error_units 'ppm'",
            "-fragment_mass_tolerance 0.50025",
            "-digest_mass_range '800:5000'",
            "-max_variable_mods_in_peptide 1",
            "-precursor_charge '2:5'",
            "-activation_method 'CID'",
            "-variable_modifications 'Oxidation (M)'",
            "-enzyme 'unspecific cleavage'",
            "-spectrum_batch_size 0"
        ].join(' ').trim()
    }

        withName:OPENMS_IDMASSACCURACY {
        ext.args    = [
            "-precursor_error_ppm",
            "-fragment_mass_tolerance 0.50025"
        ].join(' ').trim()
    }

}
