process {
    withName: '.*FASTQ_ALIGN_DEDUP_BWAMEM:PICARD_ADDORREPLACEREADGROUPS' {
        ext.args = "--RGID 1 --RGLB lib1 --RGPL illumina --RGPU unit1 --RGSM sample1"
    }

    withName: '.*FASTQ_ALIGN_DEDUP_BWAMEM:PICARD_MARKDUPLICATES' {
        ext.args = "--ASSUME_SORTED true --REMOVE_DUPLICATES false --VALIDATION_STRINGENCY LENIENT --PROGRAM_RECORD_ID 'null' --TMP_DIR tmp"
        ext.prefix = { "${meta.id}.markdup.sorted" }
    }

    withName: '.*FASTQ_ALIGN_DEDUP_BWAMEM:PICARD_REMOVEDUPLICATES' {
        ext.args = "--ASSUME_SORTED true --REMOVE_DUPLICATES true --VALIDATION_STRINGENCY LENIENT --PROGRAM_RECORD_ID 'null' --TMP_DIR tmp"
        ext.prefix = { "${meta.id}.dedup.sorted" }
        publishDir = [
            [
                path: { "${params.outdir}/${params.aligner}/deduplicated/picard_metrics" },
                pattern: "*.metrics.txt",
                mode: params.publish_dir_mode
            ],
            [
                path: { "${params.outdir}/${params.aligner}/deduplicated" },
                pattern: "*.bam",
                mode: params.publish_dir_mode
            ]
        ]
    }
}
