process {
// IMPORTANT: This config file should be included to ensure that the subworkflow works properly.
    withName: '.*FASTQ_ALIGN_DEDUP_BWAMEM.*:PICARD_MARKDUPLICATES' {
        ext.args = "--ASSUME_SORTED true --REMOVE_DUPLICATES true --VALIDATION_STRINGENCY LENIENT --PROGRAM_RECORD_ID 'null' --TMP_DIR tmp"
        ext.prefix = { "${meta.id}.dedup.sorted" }
    }
    withName: '.*FASTQ_ALIGN_DEDUP_BWAMEM.*:SAMTOOLS_SORT' {
        ext.prefix = { "${meta.id}.sorted" }
    }
}
