process {

    publishDir = { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }
    
    withName: 'test_limma_differential:LIMMA_DIFFERENTIAL' {
        ext.args = { [
            "--sample_id_col name",
            "--contrast_variable $meta.variable",
            "--reference_level $meta.reference",
            "--treatment_level $meta.target",
            "--blocking_variables $meta.blocking" 
        ].join(' ').trim() }
    }
    withName: 'test_limma_differential:AFFY_JUSTRMA' {
        ext.args = '--sample_name_col name'
        publishDir = [ enabled: false ]
    }
    withName: 'test_limma_differential:UNTAR' {
        publishDir = [ enabled: false ]
    }
}
