process {

    publishDir = { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }
    withName: BCL2FASTQ {
        ext.args = {[
            "--tiles s_[0-9]_0001"
        ].join(" ").trim()}
    }
    withName: UNTAR {
        publishDir = [ enabled: false ]
    }
}
