process {

    publishDir = { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }
    withName: BCL2FASTQ {
        ext.args = {[
            "--tiles [0-9][0-9][0-9]1"
        ].join(" ").trim()}
    }
    withName: UNTAR {
        publishDir = [ enabled: false ]
    }
}
