process {

    publishDir = { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }
    
    withName: 'test_gsea_gsea:GSEA_GSEA' {
        ext.prefix = { "${meta.id}." }
        ext.args = { "-rnd_seed 1234" }
    }
    withName: 'test_gsea_gsea_nosets:GSEA_GSEA' {
        ext.prefix = { "${meta.id}." }
        ext.args = { "-rnd_seed 1234 -make_sets false" }
    }
    
    withName: 'test_gsea_gsea_zip:GSEA_GSEA' {
        ext.prefix = { "${meta.id}." }
        ext.args = { "-rnd_seed 1234 -zip_report true" }
    }
}
