params{
    group_cells_feature_scatter = "HTO_maxID",
    produce_feature_scatter = TRUE,
    feature_scatter_feature_1 = "",
    feature_scatter_feature_2 = "",
    produce_ridge_plot = TRUE,
    number_of_features_ridge_plot = 2,
    produce_violin_plot = TRUE,
    group_cells_violin_plot = "HTO_classification.global",
    features_violin_plot = "nCount_RNA",
    pt_size = 0.1,
    log = TRUE,
    produce_tsne_plot = TRUE,
    subset_idents = "Negative",
    subset_invert = TRUE,
    tsne_scale_data_verbose = FALSE,
    run_pca_approx = FALSE,
    run_tsne_dim_max = 2,
    run_tsne_perplexity = 100
}