process {

    publishDir = { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }

    withName: GATK4_MUTECT2_PAIR {
        ext.args = { "--normal-sample $meta.normal_id" }
    }

    withName: GATK4_MUTECT2_MITO {
        ext.args = { "--mitochondria-mode" }
    }

    withName: GATK4_MUTECT2_F1R2 {
        ext.args = { "--normal-sample $meta.normal_id --f1r2-tar-gz ${meta.id}.f1r2.tar.gz" }
    }

}
