process {

    publishDir = { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }

    withName: "test_fastq_createumiconsensus_fgbio_single_umi:FASTQTOBAM" {
        ext.args = "--read-structures +T 12M11S+T"
    }

    withName: "test_fastq_createumiconsensus_fgbio_duplex_umi:FASTQTOBAM" {
        ext.args = "--read-structures 38S2M1S+T 2M34S+T"
    }

    withName: BWAMEM1_MEM_PRE {
        ext.args = "-p -K 150000000 -Y"
    }

    withName: BWAMEM2_MEM_PRE {
        ext.args = "-p -K 150000000 -Y"
    }

    withName: FGBIO_ZIPPERBAMS_PRE {
        ext.prefix = {"${meta.id}_zipped"}
        ext.compression = '1'
    }

    withName: GROUPREADSBYUMI {
        ext.args = "--edits 1"
    }

    withName: CALLDUPLEXCONSENSUS {
        ext.args = '--min-reads 1 --min-input-base-quality 20'
    }

    withName: CALLUMICONSENSUS {
        ext.args = '-M 1'
        ext.prefix = { "${meta.id}_molreads" }
    }

    withName: FILTERCONSENSUS {
        ext.args = '--min-reads 3 --min-base-quality 45 --max-base-error-rate 0.2'
    }

    withName: BWAMEM1_MEM_POST {
        ext.args = "-p -K 150000000 -Y"
    }

    withName: BWAMEM2_MEM_POST {
        ext.args = "-p -K 150000000 -Y"
    }

    withName: ZIPPERBAMS_POST {
        ext.args = "--tags-to-reverse Consensus --tags-to-revcomp Consensus"
        ext.prefix = {"${meta.id}_zipped"}
        ext.compression = '0'
    }

}
