process {

    publishDir = { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }

    withName: "CHECKXXXXXXXXXX_single_umi:FASTQTOBAM" {
        ext.args = "--read-structures +T 12M11S+T"
    }

    withName: "CHECKXXXXXXXXXX_duplex_umi:FASTQTOBAM" {
        ext.args = "--read-structures 38S2M1S+T 2M34S+T"
    }

    withName: BWAMEM1_MEM_PRE {
        ext.args = "-p -K 150000000 -Y"
    }

    withName: BWAMEM2_MEM_PRE {
        ext.args = "-p -K 150000000 -Y"
    }

    withName: FGBIO_ZIPPERBAMS_PRE {
        ext.prefix = {"${meta.id}_zipped"}
        ext.compression = '1'
    }

    withName: GROUPREADSBYUMI {
        ext.args = "--edits 1"
    }

    withName: FGBIO_ZIPPERBAMS_POST {
        ext.args = "--tags-to-reverse Consensus --tags-to-revcomp Consensus"
        ext.prefix = {"${meta.id}_zipped"}
        ext.compression = '0'
    }

    withName: FGBIO_CALLDUPLEXCONSENSUSREADS {
        ext.args = '--min-reads 3 --min-input-base-quality 20'
    }

}
