// include { RAXMLNG as RAXMLNG_NO_BOOTSTRAP } from '../../../modules/raxmlng/main.nf' addParams( options: [args:'--model GTR+G']                 )
// include { RAXMLNG as RAXMLNG_BOOTSTRAP    } from '../../../modules/raxmlng/main.nf' addParams( options: [args:'--all --model GTR+G --bs-trees 1000'] )
process {

    publishDir = { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }

    withName: RAXMLNG_NO_BOOTSTRAP {
        ext.args = '--model GTR+G'
    }

    withName: RAXMLNG_BOOTSTRAP {
        ext.args = '--all --model GTR+G --bs-trees 1000'
    }

}
