process {

    publishDir = { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }

    withName: SHOVILL {
        ext.args = '--gsize 2800000 --kmers 31'
    }

    withName: SHOVILL_SKESA {
        ext.args = '--assembler skesa --gsize 2800000'
    }

    withName: SHOVILL_MEGAHIT {
        ext.args = '--assembler megahit --gsize 2800000'
    }

    withName: SHOVILL_VELVET {
        ext.args = '--assembler velvet --gsize 2800000'
    }

}
