process {

    publishDir = { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }

    withName: GATK4_CALCULATECONTAMINATION {
        ext.args         = { "-tumor-segmentation ${meta.id}.segmentation.table" }
    }

    withName: GATK4_FILTERMUTECTCALLS {
        ext.prefix       = { "${meta.id}_filtered" }
    }

    withName: GATK4_LEARNREADORIENTATIONMODEL {
        ext.prefix       = { "${meta.id}.artifactprior" }
    }

    withName: GATK4_MUTECT2 {
        ext.args         = { "--f1r2-tar-gz ${meta.id}.f1r2.tar.gz" }
    }

}
