process {
    withName: "CNVNATOR_RD" {
        ext.args = ''
    }

    withName: "CNVNATOR_HIST" {
        ext.args = '-his 1000'
    }

    withName: "CNVNATOR_STAT" {
        ext.args = '-stat 1000'
    }

    withName: "CNVNATOR_PARTITION" {
        ext.args = '-partition 1000'
    }

    withName: "CNVNATOR_CNVNATOR" {
        ext.args = params.module_args
    }
}
