process {
    withName: 'CNVNATOR_HIST' {
        ext.args = params.module_args
    }

    withName: 'CNVNATOR_STAT' {
        ext.args = params.module_args
    }

    withName: 'CNVNATOR_PARTITION' {
        ext.args = params.module_args
    }

    withName: 'CNVNATOR_CALL' {
        ext.args = params.module_args
    }
}
