process {
    withName: PERCOLATOR {
        ext.args = {
            [
                '--post-processing-tdc',
                '--search-input concatenated',
                '--write_tabout',
                '--write_weights',
                '--write_peptide_results'
            ].join(' ')
        }
    }
}
