process {

    publishDir = { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }
    withName: BOWTIE2_BUILD {
        publishDir = [ enabled: false ]
    }
    withName: BWA_INDEX {
        publishDir = [ enabled: false ]
    }
    withName: BWAMEM2_INDEX {
        publishDir = [ enabled: false ]
    }
    withName: DRAGMAP_HASHTABLE {
        publishDir = [ enabled: false ]
    }
    withName: SNAPALIGNER_INDEX {
        publishDir = [ enabled: false ]
    }
}
