//Note that the 5.GB memory request is a requirement to make the workflow work on GHA runners with <6GB total memory available
//Otherwise, cellranger will start running and run out of time after $TIME, whatever you set there.
process {
    withName: CELLRANGER_MKGTF {
        ext.args = '--attribute=gene_biotype:protein_coding \
            --attribute=gene_biotype:lincRNA \
            --attribute=gene_biotype:antisense \
            --attribute=gene_biotype:IG_LV_gene \
            --attribute=gene_biotype:IG_V_gene \
            --attribute=gene_biotype:IG_V_pseudogene \
            --attribute=gene_biotype:IG_D_gene \
            --attribute=gene_biotype:IG_J_gene \
            --attribute=gene_biotype:IG_J_pseudogene \
            --attribute=gene_biotype:IG_C_gene \
            --attribute=gene_biotype:IG_C_pseudogene \
            --attribute=gene_biotype:TR_V_gene \
            --attribute=gene_biotype:TR_V_pseudogene \
            --attribute=gene_biotype:TR_D_gene \
            --attribute=gene_biotype:TR_J_gene \
            --attribute=gene_biotype:TR_J_pseudogene \
            --attribute=gene_biotype:TR_C_gene'
    }
    withName: CELLRANGER_COUNT {
        ext.args = '--chemistry SC3Pv3 --create-bam true'
    }
    // withLabel: process_high {
    //     cpus = 2
    //     memory = 5.GB
    //     time = 4.h
    // }
}
