process {

    publishDir = { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }

    withName: "test_bcftools_filter_vcf_gz:BCFTOOLS_FILTER" {
        ext.args = '--no-version --output-type z'
    }

    withName: "test_bcftools_filter_bcf:BCFTOOLS_FILTER" {
        ext.args = '--no-version --output-type b'
    }

}
