// include { MUSCLE } from '../../../modules/muscle/main.nf' addParams( options: ['args': '-fasta -verbose -phys -phyi -maxiters 2'])
// include { MUSCLE as MUSCLE_TREE } from '../../../modules/muscle/main.nf' addParams( options: ['args': '-maketree'])
process {

    publishDir = { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase() }

    withName: MUSCLE {
        ext.args = '-fasta -verbose -phys -phyi -maxiters 2'
    }

    withName: MUSCLE_TREE {
        ext.args = '-maketree'
    }

}
