// include { FGBIO_SORTBAM } from '../../../../modules/fgbio/sortbam/main.nf' addParams( options: [args: '-s TemplateCoordinate', suffix: '_out'] )
// include { FGBIO_CALLMOLECULARCONSENSUSREADS } from '../../../../modules/fgbio/callmolecularconsensusreads/main.nf' addParams( options: [args: '-M 1', suffix: '_molreads'] )
process {

    publishDir = { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }

    withName: FGBIO_SORTBAM {
        ext.args = '-s TemplateCoordinate'
        ext.suffix = '_out'
    }

    withName: FGBIO_CALLMOLECULARCONSENSUSREADS {
        ext.args = '-M 1'
        ext.suffix = '_molreads'
    }

}
