process {

    publishDir = { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }

    withName: CIRCULARMAPPER_CIRCULARGENERATOR {
        ext.args = { [
            params.elongation_factor ? "-e ${params.elongation_factor}" : '-e 500',
            params.elongation_sequence ? "-s ${params.elongation_sequence}" : '-s "MT192765.1"'
        ].join(' ') }
        ext.prefix = { params.elongation_factor ? "${params.elongation_factor}" : '500' }
    }

    withName: CIRCULARMAPPER_REALIGNSAMFILE {
        ext.args = { [
            '-f true',
            '-x false',
            params.elongation_factor ? "-e ${params.elongation_factor}" : '-e 500'
        ].join(' ') }
        ext.prefix = { params.elongation_factor ? "${params.elongation_factor}" : '500' }
    }
    
}