process {

    publishDir = { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }
    withName: GATK4_APPLYVQSR_NO_ALLELSPECIFICITY {
        ext.args = '--mode SNP --truth-sensitivity-filter-level 99.0'
    }

    withName: GATK4_APPLYVQSR_WITH_ALLELSPECIFICITY {
        ext.args = '--mode SNP --truth-sensitivity-filter-level 99.0 -AS'
    }
}
