process {

    publishDir = { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }
    
    withName: 'test_deseq2_differential:DESEQ2_DIFFERENTIAL' {
        ext.args = "--vs_method rlog"
    }
    withName: 'test_deseq2_differential_csv:DESEQ2_DIFFERENTIAL' {
        ext.args = "--vs_method rlog"
    }

}
