process {

    publishDir = { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }

    withName: 'test_deseq2_differential:DESEQ2_DIFFERENTIAL' {
        ext.args = { "--blocking_variables $meta.blocking --vs_method rlog" }
    }
    withName: 'test_deseq2_differential_noblocking:DESEQ2_DIFFERENTIAL' {
        ext.args   = {
            [
                ((meta.blocking == null) ? '' : "--blocking_variables $meta.blocking"),
                "--vs_method rlog"
                ].join(' ').trim()
        }
    }
    withName: 'test_deseq2_differential_spikes:DESEQ2_DIFFERENTIAL' {
        ext.args = { "--sizefactors_from_controls TRUE --blocking_variables $meta.blocking --vs_method rlog" }
    }
    withName: 'test_deseq2_differential_strip_spikes:DESEQ2_DIFFERENTIAL' {
        ext.args = { "--blocking_variables $meta.blocking --vs_method rlog" }
    }
    withName: 'test_deseq2_differential_csv:DESEQ2_DIFFERENTIAL' {
        ext.args = { "--blocking_variables $meta.blocking --vs_method rlog" }
    }
    withName: 'test_deseq2_differential_vst_nsub:DESEQ2_DIFFERENTIAL' {
        ext.args = { "--blocking_variables $meta.blocking --vs_method vst --vst_nsub 500" }
    }
    withName: 'test_deseq2_differential_subset_to_contrast:DESEQ2_DIFFERENTIAL' {
        ext.args = { "--blocking_variables $meta.blocking --vs_method rlog --subset_to_contrast_samples TRUE" }
    }
    withName: 'test_deseq2_differential_exclude_samples:DESEQ2_DIFFERENTIAL' {
        ext.args = { "--blocking_variables $meta.blocking --vs_method rlog --exclude_samples_col sample_number --exclude_samples_values sample1" }
    }

}
