process {

    publishDir = { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }
    
    withName: 'test_deseq2_differential:DESEQ2_DIFFERENTIAL' {
        ext.args = { "--contrast_variable $meta.variable --reference_level $meta.reference --treatment_level $meta.target --blocking_variables $meta.blocking --vs_method rlog" }
    }
    withName: 'test_deseq2_differential_spikes:DESEQ2_DIFFERENTIAL' {
        ext.args = { "--contrast_variable $meta.variable --reference_level $meta.reference --treatment_level $meta.target --blocking_variables $meta.blocking --vs_method rlog" }
    }
    withName: 'test_deseq2_differential_csv:DESEQ2_DIFFERENTIAL' {
        ext.args = { "--contrast_variable $meta.variable --reference_level $meta.reference --treatment_level $meta.target --blocking_variables $meta.blocking --vs_method rlog" }
    }
    withName: 'test_deseq2_differential_vst_nsub:DESEQ2_DIFFERENTIAL' {
        ext.args = { "--contrast_variable $meta.variable --reference_level $meta.reference --treatment_level $meta.target --blocking_variables $meta.blocking --vs_method vst --vst_nsub 500" }
    }

}
