process {
    withName: BISMARK_ALIGN {
            ext.args = { [
                params.aligner == 'bismark_hisat' ? ' --hisat2' : ' --bowtie2',
                params.aligner == 'bismark_hisat' && params.known_splices ? " --known-splicesite-infile <(hisat2_extract_splice_sites.py ${known_splices})" : '',
                params.pbat ? ' --pbat' : '',
                ( params.single_cell || params.non_directional || params.zymo ) ? ' --non_directional' : '',
                params.unmapped ? ' --unmapped' : '',
                params.relax_mismatches ? " --score_min L,0,-${params.num_mismatches}" : '',
                params.local_alignment ? " --local" : '',
                !meta.single_end && params.minins ? " --minins ${params.minins}" : '',
                meta.single_end ? '' : (
                    params.maxins ? " --maxins ${params.maxins}" : (
                        params.em_seq ? " --maxins 1000" : ''
                    )
                )
            ].join(' ').trim() }
    }

    withName: BISMARK_METHYLATIONEXTRACTOR {
        ext.args = { [
            params.comprehensive   ? ' --comprehensive --merge_non_CpG' : '',
            params.meth_cutoff     ? " --cutoff ${params.meth_cutoff}" : '',
            params.nomeseq         ? '--CX' : '',
            params.ignore_r1 > 0   ? "--ignore ${params.ignore_r1}" : '',
            params.ignore_3prime_r1 > 0   ? "--ignore_3prime ${params.ignore_3prime_r1}" : '',
            meta.single_end ? '' : (params.no_overlap           ? ' --no_overlap'                         : '--include_overlap'),
            meta.single_end ? '' : (params.ignore_r2        > 0 ? "--ignore_r2 ${params.ignore_r2}"       : ""),
            meta.single_end ? '' : (params.ignore_3prime_r2 > 0 ? "--ignore_3prime_r2 ${params.ignore_3prime_r2}": "")
        ].join(' ').trim() }
    }

    withName: SAMTOOLS_SORT {
        ext.prefix = { "${meta.id}.sorted" }
    }
}
