process {
    withName: STAR_STARSOLO {
        ext.args = { [
            '--soloUMIlen 12',
            '--outSAMtype BAM SortedByCoordinate',
            // "${meta.seq_center ? "--outSAMattrRGline 'ID:${meta.id}' 'CN:${meta.seq_center}' 'SM:${meta.id}'" : "--outSAMattrRGline 'ID:${meta.id}' 'SM:${meta.id}'"}",
            "--limitBAMsortRAM ${task.memory.toBytes()}"
            // "${meta.expected_cells ? "--soloCellFilter CellRanger2.2 ${meta.expected_cells} 0.99 10" : ''}",
            // "--soloFeatures ${meta.star_feature}",
            // "${meta.other_10x_parameters}"
            ].join(' ')
        }
    }
}