// IMPORTANT: Add this configuration to your modules.config

process {
    withName: '.*:FASTQ_ENA_PREP_ADAPTERREMOVAL:ENA_PREP_ADAPTERREMOVAL' {
        ext.args = { "--qualitybase ${meta.phred}" }
    }

    withName:  '.*:FASTQ_ENA_PREP_ADAPTERREMOVAL:MD5SUM' {
        publishDir = [
            enabled: false
        ]
    }

    withName: '.*:FASTQ_ENA_PREP_ADAPTERREMOVAL:CAT_CAT' {
        ext.prefix = "checksums.md5"
    }
}
