// IMPORTANT: Add this configuration to your modules.config

process {
    withName: ENA_PREP_ADAPTERREMOVAL {
        ext.args = {
            [
                "--qualitybase ${meta.phred}",
                "--minadapteroverlap 1", // Remove adapter if it overlaps by at least 1 base
                "--minlength 1",         // To avoid empty reads
                "--minquality 0"         // No quality trimming
            ].join(' ').trim()
        }
    }

    withName:  ENA_PREP_MD5SUM {
        publishDir = [
            enabled: false
        ]
    }

    withName: ENA_PREP_CAT_CAT {
        ext.prefix = "checksums.md5"
    }
}
