process {
    withName: VIBER {
        ext.args = [
            K : "10",
            samples : "10",
            alpha_0 : "1e-06",
            a_0 : "1",
            b_0 : "1",
            maxIter : "5000",
            epsilon_conv : "1e-10",
            q_init : "prior" 
        ]
     }
}

process {
    withLabel:error_ignore {
        maxRetries  = 3
        errorStrategy = {task.attempt <= 3 ? 'retry' : 'ignore'}
    }
}
