process {

    publishDir = { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }

    withName: FGBIO_SORTBAM {
        ext.args = '-s TemplateCoordinate'
        ext.prefix = { "${meta.id}_out" }
    }

    withName: FGBIO_CALLMOLECULARCONSENSUSREADS {
        ext.args = '-M 1'
        ext.prefix = { "${meta.id}_molreads" }
    }

}
