// include { COOLER_ZOOMIFY } from '../../../../modules/cooler/zoomify/main.nf' addParams( options: ['args':'-r 2,4,8'] )
// include { COOLER_DUMP    } from '../../../../modules/cooler/dump/main.nf' addParams( options: [:] )
process {

    publishDir = { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase() }

}
