process {
    withName:UCSC_GTFTOGENEPRED {
        ext.args = "-genePredExt -geneNameAsName2 -ignoreGroupsWithoutExons"
    }
    withName:PICARD_COLLECTRNASEQMETRICS {
        ext.args = { ( meta.strandedness == "forward" || meta.single_end ) ?
            "--STRAND_SPECIFICITY FIRST_READ_TRANSCRIPTION_STRAND" :
        meta.strandedness == "reverse" ?
        "--STRAND_SPECIFICITY SECOND_READ_TRANSCRIPTION_STRAND" :
        "--STRAND_SPECIFICITY NONE"
    }
    }
}
