params {
    modules_testdata_base_path = System.getenv("NF_MODULES_TESTDATA_BASE_PATH") ?: "https://raw.githubusercontent.com/nf-core/test-datasets/modules/data/"
    gawk_suffix = "phe"
    enable_setup_modules = true
}

process {
    withName: PLINK2_PCA {
        ext.when = params.enable_setup_modules
        ext.prefix = { "${meta.id}.pca" }
    }

    withName: GAWK {
        ext.when = params.enable_setup_modules
        ext.suffix = params.gawk_suffix
        ext.prefix = { "${meta.id}.pc1_phenotype" }
    }
}
