process {
    withName: STAR_ALIGN {
        ext.args = {
            [
                "--readFilesCommand zcat",
                "--outSAMtype BAM SortedByCoordinate",
                "--outReadsUnmapped None",
                "--twopassMode None",
                "--outSAMstrandField intronMotif",
                "--outSAMunmapped Within",
                "--chimSegmentMin 12",
                "--chimJunctionOverhangMin 8",
                "--chimOutJunctionFormat 1",
                "--alignSJDBoverhangMin 10",
                "--alignMatesGapMax 100000",
                "--alignIntronMax 100000",
                "--alignSJstitchMismatchNmax 5 -1 5 5",
                "--chimMultimapScoreRange 3",
                "--chimScoreJunctionNonGTAG -4",
                "--chimMultimapNmax 20",
                "--chimNonchimScoreDropMin 10",
                "--peOverlapNbasesMin 12",
                "--peOverlapMMp 0.1",
                "--alignInsertionFlush Right",
                "--alignSplicedMateMapLminOverLmate 0",
                "--alignSplicedMateMapLmin 30"
            ].join(" ").trim()
	    }
    }
    withName: CTATSPLICING_STARTOCANCERINTRONS {
        ext.args = "--min_total_reads 1 --vis"
    }
}
