params {
    outdir = "output/"
    publish_dir_mode = "copy"
    enable_conda = false
    singularity_pull_docker_container = false
}

process {
    cpus = 2
    memory = 3.GB
    time = 2.h
}

if ("$PROFILE" == "singularity") {
    singularity.enabled = true
    singularity.autoMounts = true
} else if ("$PROFILE" == "conda") {
    params.enable_conda = true
    conda.enabled=true
} else {
    docker.enabled = true
    docker.userEmulation = true
    docker.runOptions = "--platform linux/x86_64"
}

// Increase time available to build Conda environment
conda { createTimeout = "120 min" }

// Load test_data.config containing paths to test data
includeConfig 'test_data.config'

manifest {
    nextflowVersion = '!>=21.10.0'
}
