params {
    outdir = "output/"
    publish_dir_mode = "copy"
    singularity_pull_docker_container = false
    test_data_base = 'https://raw.githubusercontent.com/nf-core/test-datasets/modules'
}

process {
    cpus = 2
    memory = 3.GB
    time = 2.h
}

if ("$PROFILE" == "singularity") {
    singularity.enabled = true
    singularity.autoMounts = true
} else if ("$PROFILE" == "conda") {
    conda.enabled = true
    conda.useMicromamba = true
} else if ("$PROFILE" == "mamba") {
    conda.enabled  = true
    conda.useMamba = true
    conda.useMicromamba = true
} else if ("$PROFILE" == "podman") {
    podman.enabled = true
    podman.userEmulation = true
    podman.runOptions = "--runtime crun --platform linux/x86_64 --systemd=always"
} else {
    docker.enabled = true
    docker.userEmulation = false
    docker.fixOwnership = true
    docker.runOptions = '--platform=linux/amd64'
}

docker.registry = 'quay.io'
podman.registry = 'quay.io'
singularity.registry = 'quay.io'

// Increase time available to build Conda environment
conda { createTimeout = "120 min" }

// Load test_data.config containing paths to test data
includeConfig 'test_data.config'

manifest {
    nextflowVersion = '!>=24.10.1'
}
