params {
    publish_dir_mode                  = "copy"
    singularity_pull_docker_container = false
    test_data_base                    = 'https://raw.githubusercontent.com/nf-core/test-datasets/modules'
    modules_testdata_base_path        = 'https://raw.githubusercontent.com/nf-core/test-datasets/modules/data/'
}

// Resolves issue with accessing s3 from self-hosted runners
aws.client.anonymous = true

process {
    cpus   = 2
    memory = '4.GB'
    time   = '2.h'
}

profiles {
    conda {
        conda.enabled           = true
        conda.channels          = ['conda-forge', 'bioconda']
        apptainer.enabled       = false
    }
    mamba {
        conda.enabled           = true
        conda.useMamba          = true
    }
    micromamba {
        conda.enabled           = true
        conda.useMicromamba     = true
    }
    docker {
        docker.enabled          = true
        docker.runOptions       = '-u $(id -u):$(id -g) --platform=linux/amd64'
    }
    docker_self_hosted {
        docker.enabled          = true
        docker.fixOwnership     = true
        docker.runOptions       = '--platform=linux/amd64'
    }
    arm64 {
        process.arch            = 'arm64'
        docker.runOptions       = '-u $(id -u):$(id -g) --platform=linux/arm64'
        apptainer.ociAutoPull   = true
        singularity.ociAutoPull = true
        wave.enabled            = true
        wave.freeze             = true
        wave.strategy           = 'conda,container'
    }
    emulate_amd64 {
        docker.runOptions       = '-u $(id -u):$(id -g) --platform=linux/amd64'
    }
    singularity {
        singularity.enabled     = true
        singularity.autoMounts  = true
    }
    podman {
        podman.enabled          = true
        podman.runOptions       = "--runtime crun --platform linux/x86_64 --systemd=always"
    }
    shifter {
        shifter.enabled         = true
    }
    charliecloud {
        charliecloud.enabled    = true
    }
    apptainer {
        apptainer.enabled       = true
        apptainer.autoMounts    = true
    }
    wave {
        apptainer.ociAutoPull   = true
        singularity.ociAutoPull = true
        wave.enabled            = true
        wave.freeze             = true
        wave.strategy           = 'conda,container'
    }
    gitpod {
        executor.name           = 'local'
        executor.cpus           = 4
        executor.memory         = 8.GB
    }
    gpu {
        docker.runOptions       = '-u $(id -u):$(id -g) --gpus all'
        apptainer.runOptions    = '--nv'
        singularity.runOptions  = '--nv'
    }
}

docker.registry      = 'quay.io'
podman.registry      = 'quay.io'
singularity.registry = 'quay.io'

// Increase time available to build Conda environment
conda { createTimeout = "120 min" }

// Load test_data.config containing paths to test data
includeConfig 'test_data.config'

manifest {
    nextflowVersion = '!>=24.10.2'
}
