
// Base directory for test data
def test_data_dir = "${launchDir}/tests/data/"

params {
    test_data {
        'sarscov2' {
            'genome' {
                genome.fasta                              = "${test_data_dir}/genomics/sarscov2/genome/genome.fasta"
                genome.fasta.fai                          = "${test_data_dir}/genomics/sarscov2/genome/genome.fasta.fai"
                genome.dict                               = "${test_data_dir}/genomics/sarscov2/genome/genome.dict"
                genome.gff3                               = "${test_data_dir}/genomics/sarscov2/genome/genome.gff3"
                genome.gtf                                = "${test_data_dir}/genomics/sarscov2/genome/genome.gtf"
                genome.sizes                              = "${test_data_dir}/genomics/sarscov2/genome/genome.sizes"
                transcriptome.fasta                       = "${test_data_dir}/genomics/sarscov2/genome/transcriptome.fasta"
                transcriptome.paf                         = "${test_data_dir}/genomics/sarscov2/genome/transcriptome.paf"

                test.bed                                  = "${test_data_dir}/genomics/sarscov2/genome/bed/test.bed"
                test.bed.gz                               = "${test_data_dir}/genomics/sarscov2/genome/bed/test.bed.gz"
                test2.bed                                 = "${test_data_dir}/genomics/sarscov2/genome/bed/test2.bed"
                test.bed12                                = "${test_data_dir}/genomics/sarscov2/genome/bed/test.bed12"
                baits.bed                                 = "${test_data_dir}/genomics/sarscov2/genome/bed/baits.bed"

                kraken2                                   = "${test_data_dir}/genomics/sarscov2/genome/db/kraken2"
            }
            'illumina' {
                test_single_end.bam                       = "${test_data_dir}/genomics/sarscov2/illumina/bam/test_single_end.bam"
                test_single_end.sorted.bam                = "${test_data_dir}/genomics/sarscov2/illumina/bam/test_single_end.sorted.bam"
                test_single_end.sorted.bam.bai            = "${test_data_dir}/genomics/sarscov2/illumina/bam/test_single_end.sorted.bam.bai"
                test_paired_end.bam                       = "${test_data_dir}/genomics/sarscov2/illumina/bam/test_paired_end.bam"
                test_paired_end.sorted.bam                = "${test_data_dir}/genomics/sarscov2/illumina/bam/test_paired_end.sorted.bam"
                test_paired_end.sorted.bam.bai            = "${test_data_dir}/genomics/sarscov2/illumina/bam/test_paired_end.sorted.bam.bai"
                test_methylated_paired_end.bam            = "${test_data_dir}/genomics/sarscov2/illumina/bam/test_methylated_paired_end.bam"
                test_methylated_paired_end.sorted.bam     = "${test_data_dir}/genomics/sarscov2/illumina/bam/test_methylated_paired_end.sorted.bam"
                test_methylated_paired_end.sorted.bam.bai = "${test_data_dir}/genomics/sarscov2/illumina/bam/test_methylated_paired_end.sorted.bam.bai"
                test_unaligned.bam                        = "${test_data_dir}/genomics/sarscov2/illumina/bam/test_unaligned.bam"

                test_1.fastq.gz                           = "${test_data_dir}/genomics/sarscov2/illumina/fastq/test_1.fastq.gz"
                test_2.fastq.gz                           = "${test_data_dir}/genomics/sarscov2/illumina/fastq/test_2.fastq.gz"
                test2_1.fastq.gz                          = "${test_data_dir}/genomics/sarscov2/illumina/fastq/test2_1.fastq.gz"
                test2_2.fastq.gz                          = "${test_data_dir}/genomics/sarscov2/illumina/fastq/test2_2.fastq.gz"
                test_methylated_1.fastq.gz                = "${test_data_dir}/genomics/sarscov2/illumina/fastq/test_methylated_1.fastq.gz"
                test_methylated_2.fastq.gz                = "${test_data_dir}/genomics/sarscov2/illumina/fastq/test_methylated_2.fastq.gz"

                test.baserecalibrator.table               = "${test_data_dir}/genomics/sarscov2/illumina/gatk/test.baserecalibrator.table"

                test.vcf                                  = "${test_data_dir}/genomics/sarscov2/illumina/vcf/test.vcf"
                test.vcf.gz                               = "${test_data_dir}/genomics/sarscov2/illumina/vcf/test.vcf.gz"
                test.vcf.gz.tbi                           = "${test_data_dir}/genomics/sarscov2/illumina/vcf/test.vcf.gz.tbi"
                test2.vcf                                 = "${test_data_dir}/genomics/sarscov2/illumina/vcf/test2.vcf"
                test2.vcf.gz                              = "${test_data_dir}/genomics/sarscov2/illumina/vcf/test2.vcf.gz"
                test2.vcf.gz.tbi                          = "${test_data_dir}/genomics/sarscov2/illumina/vcf/test2.vcf.gz.tbi"
                test3.vcf                                 = "${test_data_dir}/genomics/sarscov2/illumina/vcf/test3.vcf"
                test3.vcf.gz                              = "${test_data_dir}/genomics/sarscov2/illumina/vcf/test3.vcf.gz"
                test3.vcf.gz.tbi                          = "${test_data_dir}/genomics/sarscov2/illumina/vcf/test3.vcf.gz.tbi"
            }
            'nanopore' {
                test.sorted.bam                           = "${test_data_dir}/genomics/sarscov2/nanopore/bam/test.sorted.bam"
                test.sorted.bam.bai                       = "${test_data_dir}/genomics/sarscov2/nanopore/bam/test.sorted.bam.bai"

                test.fastq.gz                             = "${test_data_dir}/genomics/sarscov2/nanopore/fastq/test.fastq.gz"
            }
        }
        'homo_sapiens' {
            'illumina' {
                test_paired_end.bam                       = "${test_data_dir}/genomics/homo_sapiens/illumina/bam/test_paired_end.bam"
            }
        }
    }
}