params {
    // Base directory for test data
    test_data_base = "https://raw.githubusercontent.com/nf-core/test-datasets/modules"

    test_data_msk {
        'uncollapsed_bam_generation' {
            'merged_fastq' {
                merged_1                                            = "https://raw.githubusercontent.com/mskcc-omics-workflows/test-datasets/feature/uncollapsed_bam_data/uncollapsed-bam-generation/merged_fastq_1.fastp.fastq.gz"
                merged_2                                            = "https://raw.githubusercontent.com/mskcc-omics-workflows/test-datasets/feature/uncollapsed_bam_data/uncollapsed-bam-generation/merged_fastq_2.fastp.fastq.gz"
            }
        }
    }
}