params {
    module_args = ""
    module_prefix = null
}

process {
    withName: "REGENIE_SPLITL0|REGENIE_RUNL0|REGENIE_RUNL1|REGENIE_SPLITL0_PLINK2|REGENIE_RUNL0_PLINK2" {
        ext.args = { params.module_args ?: "" }
    }
    withName: "REGENIE_SPLITL0_PLINK2|REGENIE_RUNL0_PLINK2|REGENIE_RUNL1" {
        ext.prefix = { params.module_prefix }
    }
}
