process {

    publishDir = { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }

    withName: "DEEPCELL_MESMER" {
        ext.args = '--image-mpp=0.65 --compartment=whole-cell --nuclear-channel 0 --membrane-channel 1'
    }

}

docker.runOptions = '--entrypoint ""'
singularity.runOptions = '-B "$HOME"'
