process {

    publishDir = { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }

    withName: 'test_bbmap_filterbyname_single_end:BBMAP_FILTERBYNAME' {
        ext.args = [
            output_extension: "fasta"
        ]
    }

    withName: 'test_bbmap_filterbyname_single_end_filter_seqs:BBMAP_FILTERBYNAME' {
        ext.args = [
            args : "names='ERR5069949.2151832,ERR5069949.576388,ERR5069949.501486'"
        ]
    }

    withName: 'test_bbmap_filterbyname_paired_end:BBMAP_FILTERBYNAME' {
        ext.args = [
            output_extension : "fastq.zip"
        ]
    }

    withName: 'test_bbmap_filterbyname_paired_end_interleaved_filter_seqs:BBMAP_FILTERBYNAME' {
        ext.args = [
            args : "names='ERR5069949.2151832,ERR5069949.576388,ERR5069949.501486'",
            output_extension : "fasta.gz",
            interleaved_output : true
        ]
    }

}