process {
    publishDir = { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }
    withName: BLAST_MAKEBLASTDB {
        ext.args = '-dbtype nucl -blastdb_version 4'
    }
    withName: NCBITOOLS_VECSCREEN {
        ext.args = '-f3'
    }
}

// The BioContainer runs things as the user `biodocker`, which has no write
// access to the directory and can't even touch `.command.trace`.
// Setting `userEmulation` to true fixes things, but only if actually loaded !
// There has to be an explicit `-c ./tests/modules/nf-core/ncbitools/vecscreen/nextflow.config`
// in the test.yml
docker.userEmulation = true

