process {

    publishDir = { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }

    withName: 'test_fastk_merge_all_files:FASTK_FASTK' {
        ext.args   = '-t1 -p'
    }
    withName: 'FASTK_FASTK' {
        ext.args   = '-t1'
        ext.prefix = { "${meta.id}_${task.index}" }
        publishDir = [ enabled: false ]
    }

}
