process {
    withName: "SCANPY_HASHSOLO" {
        ext.args = {
            [
                params.priors ? "--priors ${ (params.priors instanceof List) ? params.priors.join(' ') : params.priors }" : "",
                params.pre_existing_clusters ? "--pre_existing_clusters ${params.pre_existing_clusters}" : "",
                params.clustering_data ? "--clustering_data ${params.clustering_data}" : "",
                (params.number_of_noise_barcodes != null) ? "--number_of_noise_barcodes ${params.number_of_noise_barcodes}" : "",
            ]
            .findAll { it != null && it.toString().trim() }
            .join(' ')
        }
    }
}
