params {
    force_large_index = false
}

process {

    publishDir = { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }
    withName: BOWTIE2_BUILD {
    publishDir = [ enabled: false ]
    }
}

if (params.force_large_index) {
    process {
        withName: BOWTIE2_BUILD {
            ext.args = '--large-index'
        }
    }
}

process {
    withName: BOWTIE2_ALIGN_OUTFMT_SAM {
        ext.args2 = '--output-fmt SAM'
    }
}

process {
    withName: BOWTIE2_ALIGN_OUTFMT_CRAM {
        ext.args2 = '-O CRAM'
    }
}