params {
    force_large_index = false
}

process {

    publishDir = { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }
    withName: BOWTIE2_BUILD {
    publishDir = [ enabled: false ]
    }

    withName: "test_bowtie2_align_single_end_sam:BOWTIE2_ALIGN" {
        ext.args2 = '--output-fmt SAM'
    }

    withName: "test_bowtie2_align_single_end_sam2:BOWTIE2_ALIGN" {
        ext.args2 = '-O SAM'
    }
}

if (params.force_large_index) {
    process {
        withName: BOWTIE2_BUILD {
            ext.args = '--large-index'
        }
    }
}
