params {
    force_large_index = false
}

process {

    publishDir = { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }
    withName: BOWTIE2_BUILD {
    publishDir = [ enabled: false ]
    }
}

if (params.force_large_index) {
    process {
        withName: BOWTIE2_BUILD {
            ext.args = '--large-index'
        }
    }
}
