process {

    publishDir = { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }
    withName: FGBIO_FASTQTOBAM_UMI {
        ext.args = "--read-structures +T 12M11S+T"
    }
    withName: FGBIO_FASTQTOBAM_CUSTOM_SAMPLENAME {
        ext.args = "--sample CustomSample --library CustomLibrary"
    }
}
