params {
    noisy = 1
    verbose = 1
    seqtype = 1
    ndata = 3
    icode = 0
    cleandata = 0
    model = 0
    ns_sites = 0
    codon_freq = 7
    est_freq = 0
    clock = 0
    fix_omega = 0
    omega = 0.5
}

process {
    withName: 'PAML_BUILDCTL' {
        ext.args = [
            "noisy=${params.noisy}",
            "verbose=${params.verbose}",
            "seqtype=${params.seqtype}",
            "ndata=${params.ndata}",
            "icode=${params.icode}",
            "cleandata=${params.cleandata}",
            "model=${params.model}",
            "NSsites=${params.ns_sites}",
            "CodonFreq=${params.codon_freq}",
            "estFreq=${params.est_freq}",
            "clock=${params.clock}",
            "fix_omega=${params.fix_omega}",
            "omega=${params.omega}"
        ].join('\n')
    }
}
