process {

    publishDir = { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }

    withName: MALT_RUN {
        ext.args = "-m BlastN -J-Xmx8G"
    }

    withName: MALT_BUILD {
        ext.args = "--sequenceType DNA"
    }

    withName: MALTEXTRACT {
        ext.args = '-f def_anc'
    }

}
