process {

    publishDir = { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }

    withName: MALT_BUILD {
        ext.args = '--sequenceType DNA'
    }

    withName: MALT_RUN {
        ext.args = '--mode BlastN -J-Xmx3G'
    }

    withName: MALTEXTRACT {
        ext.args = '-f def_anc'
    }

}
