process {
    withName: 'CLIPPY_NON_INTERGENIC' {
        publishDir = { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }
    }

    withName: 'CLIPPY_INTERGENIC' {
        ext.args   = { "-inter 3" }
        publishDir = { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }
    }
}