params {
    enable_conda = false
    fasta = "tools-test-dataset/getbasecountmultisample/chr22.fasta"
    fastafai = "tools-test-dataset/getbasecountmultisample/chr22.fasta.fai"
    bam = "tools-test-dataset/getbasecountmultisample/chr22.bam"
    bambai = "tools-test-dataset/getbasecountmultisample/chr22.bam.bai"
    sample = "C-9M47TU-L001-d"
    outdir = "output"
}   

process {

    publishDir = { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }
    
}