process {
    withName: 'CRISPRESSO2' {
        ext.args = { 
            if (meta.id == 'nhej_test') {
                '--quantification_window_size 10 --plot_window_size 20 --min_frequency_alleles_around_cut_to_plot 0.05'
            } else if (meta.id == 'paired_test') {
                '--paired_reads --min_paired_end_reads_overlap 10'
            } else {
                ''
            }
        }
    }
}
