process {

    publishDir = { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }

    withName: GATK4_COLLECTREADCOUNTS {
        ext.args = "--format TSV --interval-merging-rule OVERLAPPING_ONLY"
    }

    withName: GATK4_CREATEREADCOUNTPANELOFNORMALS {
        ext.args = "--minimum-interval-median-percentile 1.0 --number-of-eigensamples 2"
    }

}
