process {

    publishDir = { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }

    withName: BCFTOOLS_REHEADER {
        ext.args2 = { "--no-version" }
        ext.prefix = { "${meta.id}.updated" }
    }
    withName: BCFTOOLS_REHEADER_VCF_GZ {
        ext.args2 = { "--no-version --output-type z" }
        ext.prefix = { "${meta.id}.updated" }
    }
    withName: BCFTOOLS_REHEADER_BCF_GZ {
        ext.args2 = { "--no-version --output-type b" }
        ext.prefix = { "${meta.id}.updated" }
    }
}
