// Configuration for assemble empirical library mode
// Matches the subworkflow DIANN_ASSEMBLEEMPIRICALLIBRARY configuration
process {
    withName: 'DIANN' {
        ext.prefix = 'empirical_library'
        ext.args = '--verbose 3 --rt-profiling --use-quant --gen-spec-lib --individual-mass-acc --individual-windows'
    }
}
