// Configuration for assemble empirical library mode
// Matches the subworkflow DIANN_ASSEMBLEEMPIRICALLIBRARY configuration
process {
    withName: 'DIANN' {
        ext.args = '--verbose 3 --rt-profiling --use-quant --gen-spec-lib --out-lib empirical_library --individual-mass-acc --individual-windows'
    }
}
