// Configuration for in-silico library generation mode
// Matches the subworkflow DIANN_INSILICOLIBRARYGENERATION configuration
process {
    withName: 'DIANN' {
        ext.args = {[
            meta.config ?: '',
            '--min-pr-mz 350',
            '--max-pr-mz 950',
            '--min-fr-mz 500',
            '--max-fr-mz 1500',
            '--missed-cleavages 1',
            '--min-pep-len 15',
            '--max-pep-len 30',
            '--min-pr-charge 2',
            '--max-pr-charge 3',
            '--var-mods 2',
            '--verbose 3',
            '--fasta-search',
            '--predictor',
            '--gen-spec-lib',
            '--met-excision'
        ].findAll { it != '' }.join(' ').trim()}
    }
}
