process {
    withName: TRTOOLS_MERGESTR {
        ext.args = '--vcftype gangstr --update-sample-from-file'
    }
    withName: GANGSTR1 {
        ext.args = '--insertmean 300 --insertsdev 50 --min-sample-reads 1 --max-proc-read 100000'
    }

    withName: GANGSTR2 {
        ext.args = '--insertmean 300 --insertsdev 50 --min-sample-reads 1 --max-proc-read 100000'
    }
}
