process {
    withName: BCFTOOLS_VIEW {
        ext.args = [
            "-e 'GT=\"./.\"||GT=\".\"'"
        ].join(' ')
        ext.prefix = { "${meta.id}" }
    }
    withName: SHAPEIT5_PHASECOMMON {
        ext.args = [
        ].join(' ')
        ext.suffix = "bcf"
        ext.prefix = { "${meta.id}_${meta.region}" }
    }
    publishDir = { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }
    
}