env {
    // NOTE This is how nf-core/sarek users will use Sentieon in real world use
    SENTIEON_LICENSE = $SENTIEON_LICSRVR_IP
    // NOTE This should only happen in GitHub actions or nf-core MegaTests
    SENTIEON_AUTH_MECH = $SENTIEON_AUTH_MECH
    SENTIEON_AUTH_DATA = secrets.SENTIEON_AUTH_DATA
    // NOTE This is how nf-core/sarek users will test out Sentieon in Sarek with a license file
    // nextflow secrets set SENTIEON_LICENSE_BASE64 $(cat <sentieon_license_file.lic> | base64 -w 0)
}

def test_niche_data_dir = "https://raw.githubusercontent.com/nf-core/test-datasets/modules/data/delete_me"
params {
    niche_test {
        'tnfilter' {
            vcf                = "${test_niche_data_dir}/tnfilter/sample4_vs_sample3.tnhaplotyper2.vcf.gz"
            tbi                = "${test_niche_data_dir}/tnfilter/sample4_vs_sample3.tnhaplotyper2.vcf.gz.tbi"
            stats              = "${test_niche_data_dir}/tnfilter/sample4_vs_sample3.tnhaplotyper2.vcf.gz.stats"
            contamination_data = "${test_niche_data_dir}/tnfilter/sample4_vs_sample3.tnhaplotyper2.contamination_data.tsv"
            segments           = "${test_niche_data_dir}/tnfilter/sample4_vs_sample3.tnhaplotyper2.segments"
            orientation_data   = "${test_niche_data_dir}/tnfilter/sample4_vs_sample3.tnhaplotyper2.orientation_data.tsv"
        }
    }
}

process {

    publishDir = { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }

    withName: SENTIEON_TNFILTER {
        ext.prefix = { "${meta.id}.filtered" }
        ext.args2 = { "--tumor_sample tumour --normal_sample normal" }
        ext.sentieon_auth_mech_base64 = secrets.SENTIEON_AUTH_MECH_BASE64
        ext.sentieon_auth_data_base64 = secrets.SENTIEON_AUTH_DATA_BASE64
    }

}
