process {

    publishDir = { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }

    withName: SOMALIER_EXTRACT {
        cpus = 1
        publishDir = [ enabled: false ]
    }

    withName: UNTAR {
        cpus = 1
        publishDir = [ enabled: false ]
        ext.args2 = "--wildcards '*.somalier'"
    }
}
