process {
    withName: "BCFTOOLS_PLUGINFILLTAGS" {
        ext.args = params.bcftools_pluginfilltags_args
        ext.args2 = params.bcftools_pluginfilltags_args2
    }

    withName: "BCFTOOLS_QUERY" {
        ext.args = params.bcftools_query_args
    }

    withName: "GAWK" {
        ext.prefix = { "${meta.id}_sample" }
    }
}
