process {
    withName: 'ASPERA_CLI' {
        ext.args = '-QT -l 300m -P33001'
        publishDir = [
            [
                path: { "${params.outdir}/fastq" },
                mode: params.publish_dir_mode,
                pattern: "*.fastq.gz"
            ],
            [
                path: { "${params.outdir}/fastq/md5" },
                mode: params.publish_dir_mode,
                pattern: "*.md5"
            ]
        ]
    }
}
