process {

    publishDir = { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }

    withName: PARABRICKS_FQ2BAM_MKDUP_NOQC {
        ext.args = "--out-duplicate-metrics duplicate-metrics.txt"
    }
    withName: PARABRICKS_FQ2BAM_NOMKDUP_NOQC {
        ext.args = "--no-markdups"
    }
    withName: PARABRICKS_FQ2BAM_MKDUP_QC {
        ext.args = "--out-duplicate-metrics duplicate-metrics.txt --out-qc-metrics-dir qc_metrics"
    }
    withName: PARABRICKS_FQ2BAM_NOMKDUP_QC {
        ext.args = "--no-markdups --out-qc-metrics-dir qc_metrics"
    }
}
