process {

    publishDir = { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }

    withName: VSEARCH_CLUSTER {
        ext.args = '--id 0.8'
    }

    withName: VSEARCH_CLUSTER_SMALLMEM {
        ext.args = '--id 0.8 --usersort'
    }

    withName: VSEARCH_CLUSTER_UNOISE {
        ext.args = '--id 0.8 --minsize 1'
    }

    withName: VSEARCH_CLUSTER_USEROUT {
        ext.args = '--id 0.8 --userfields query+target+id'
    }

}
