process {

    publishDir = { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }

    withName: VSEARCH_CLUSTER_FAST {
        ext.args = [
          id_cutoff  : '0.8',
        ]
    }

    withName: VSEARCH_CLUSTER_SIZE {
        ext.args = [
            cluster_option: '--cluster_size',
            id_cutoff : 0.8,
            out_option: '--samout',
        ]
    }

    withName: VSEARCH_CLUSTER_SMALLMEM {
        ext.args = [
            cluster_option: '--cluster_smallmem',
            id_cutoff : 0.8,
            options: '--usersort',
        ]
    }

    withName: VSEARCH_CLUSTER_UNOISE {
        ext.args = [
            cluster_option: '--cluster_unoise',
            id_cutoff : 0.8,
            options: '--minsize 1',
        ]
    }

    withName: VSEARCH_CLUSTER_USEROUT {
        ext.args = [
            id_cutoff : 0.8,
            out_option: '--userout',
            user_columns: '--userfields query+target+id',
        ]
    }

}
