process {

    publishDir = { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }

    withName: BEDTOOLS_MAKEWINDOWS {
        ext.args = '-w 1'
        ext.prefix = 'test_split'
    }

    withName: BCFTOOLS_MPILEUP {
        ext.args2 = '--no-version --ploidy 1 --multiallelic-caller'
        ext.args3 = '--no-version'
    }

    withName: BCFTOOLS_MPILEUP_TWO {
        ext.args2 = '--no-version --ploidy 1 --multiallelic-caller'
        ext.args3 = '--no-version'
    }

    withName: NGSCHECKMATE_NCM_VCF {
        ext.args = '-V'
    }

    withName: NGSCHECKMATE_NCM_BAM {
        ext.args = '-B'
    }

}
