process {

    publishDir = { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }


    withName: ASCAT {
        ext.args = [
          gender    :  'XY',
          genomeVersion : 'hg19',
          minCounts :  '1',
          min_base_qual : '1',
          min_map_qual  : '1',
          chrom_names  : 'c("21","22")'
          ]
    }
}
