process {
    withName: 'PARABRICKS_STARFUSION' {
        ext.args = '--x3 --num-threads 1'
        memory = '16 GB'
    }
    withName: 'PARABRICKS_RNAFQ2BAM' {
        ext.args = '--low-memory --read-files-command zcat --out-chim-type Junctions --min-chim-segment 15 --x3'
        memory = '16 GB'
    }
}
