process {

    publishDir = { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }

    withName: "ILASTIK_PIXELCLASSIFICATION_PROBABILITIES" {
        ext.args = '--output_format=hdf5 --export_source="Probabilities"'
    }

    withName: "ILASTIK_PIXELCLASSIFICATION_SIMPLESEGMENTATION" {
        ext.args = '--output_format=hdf5 --export_source="Simple Segmentation"'
    }

    withName: "ILASTIK_PIXELCLASSIFICATION_UNCERTAINTY" {
        ext.args = '--output_format=hdf5 --export_source="Uncertainty"'
    }

    withName: "ILASTIK_PIXELCLASSIFICATION_FEATURES" {
        ext.args = '--output_format=hdf5 --export_source="Features"'
    }
}
