process {
    withName: glimpse_chunk {
        params {
            windowsize = 2000000
            buffersize = 200000
        }
        ext.args = [
            params.windowsize ? "--window-size ${params.windowsize}":'',
            params.buffersize ? "--buffer-size ${params.buffersize}":''
        ].join(' ')
        ext.prefix = { "${meta.id}" }
    }
    publishDir = { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }
    
}