process {

    publishDir = { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }

    withName: BUSCO_BACTE {
        ext.args = '--mode genome --lineage_dataset bacteroidales_odb10'
    }

    withName: BUSCO_CHR22 {
        ext.args = '--mode genome --offline'
    }

}

