params {
    help                = false
    version             = false
    validate_parameters = false
    test_data           = null
    monochrome_logs     = true
}

process {
    publishDir = { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }
}

manifest {
    name            = 'nf-core/initialise'
    author          = """nf-core community"""
    homePage        = 'https://github.com/nf-core/modules'
    description     = """An open-source analysis pipeline to detect germline or somatic variants from whole genome or targeted sequencing"""
    mainScript      = 'main.nf'
    nextflowVersion = '!>=23.04.0'
    version         = '0.1'
    doi             = 'none'
}