process {
    withName: BASCULE {
        ext.args = [
            k_list : '0:3',
            reference_cat : 'list("HCC1395_WXS.DBS78.all"=COSMIC_dbs, "HCC1395_WXS.ID83.all"=COSMIC_indels, "HCC1395_WXS.SBS96.all"=COSMIC_sbs_filt)',
            keep_sigs : 'c("SBS1","DBS1")',
            cluster : '5',
            cutoff : '0.8'
        ]
    }
}
