params{
    //optional parameters for MULTIseq and parameter to start the visualisation module
    assay = "HTO"
    nfeatures = 2000
    quantile = 0.7
    autoThresh = false
    maxiter = 5
    qrange_from = 0.1
    qrange_to = 0.9
    qrange_by = 0.05
    verbose = true
    selection_method = "mean.var.plot"
    normalization_method = "CLR"
    produce_plots = true
}

process{
    withName:SEURAT_MULTISEQ{
        ext.args = "--assay ${params.assay} --nfeatures ${params.nfeatures} --quantile ${params.quantile} --autoThresh ${params.autoThresh} --maxiter ${params.maxiter} --qrange_from ${params.qrange_from} --qrange_to ${params.qrange_to} --qrange_by ${params.qrange_by} --verbose ${params.verbose} --selection_method ${params.selection_method} --normalization_method ${params.normalization_method} --produce_plots ${params.produce_plots}"
    }

}