process {

    publishDir = { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }

    withName: 'test_miniprot_align_gff:MINIPROT_ALIGN' {
        ext.args = "-u --gff"
    }

    withName: 'test_miniprot_align_paf:MINIPROT_ALIGN' {
        ext.args = "-u"
    }
    
}

