process {

    publishDir = { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }
    pattern: "*{.gz,.gz.tbi,.stats,.segments,.tsv}"

    withLabel: 'sentieon' {
        ext.sentieon_auth_mech_base64 = secrets.SENTIEON_AUTH_MECH_BASE64
        ext.sentieon_auth_data_base64 = secrets.SENTIEON_AUTH_DATA_BASE64
    }

    withName: 'TUMOUR_ADDORREPLACEREADGROUPS' {
        ext.prefix = { "tumour" }
        ext.args = {[
            "--CREATE_INDEX true",
            "-ID tumour",
            "-LB tumour",
            "-PL ILLUMINA",
            "-PU bc1",
            "-SM tumour"
        ].join(' ').trim()}
    publishDir = [ enabled: false ]
    }

    withName: 'NORMAL_ADDORREPLACEREADGROUPS' {
        ext.prefix = { "normal" }
        ext.args = {[
            "--CREATE_INDEX true",
            "-ID normal",
            "-LB normal",
            "-PL ILLUMINA",
            "-PU bc1",
            "-SM normal"
        ].join(' ').trim()}
        publishDir = [ enabled: false ]
    }

}
