env {
    // NOTE This is how nf-core/sarek users will use Sentieon in real world use
    SENTIEON_LICENSE = $SENTIEON_LICSRVR_IP
    // NOTE This should only happen in GitHub actions or nf-core MegaTests
    SENTIEON_AUTH_MECH = $SENTIEON_AUTH_MECH
    SENTIEON_AUTH_DATA = secrets.SENTIEON_AUTH_DATA
    // NOTE This is how nf-core/sarek users will test out Sentieon in Sarek with a license file
    // nextflow secrets set SENTIEON_LICENSE_BASE64 $(cat <sentieon_license_file.lic> | base64 -w 0)
}

process {

    publishDir = { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }
    pattern: "*{.gz,.gz.tbi,.stats,.segments,.tsv}"

    withLabel: 'sentieon' {
        ext.sentieon_auth_mech_base64 = secrets.SENTIEON_AUTH_MECH_BASE64
        ext.sentieon_auth_data_base64 = secrets.SENTIEON_AUTH_DATA_BASE64
    }

    withName: 'TUMOUR_ADDORREPLACEREADGROUPS' {
        ext.prefix = { "tumour" }
        ext.args = {[
            "--CREATE_INDEX true",
            "-ID tumour",
            "-LB tumour",
            "-PL ILLUMINA",
            "-PU bc1",
            "-SM tumour"
        ].join(' ').trim()}
    publishDir = [ enabled: false ]
    }

    withName: 'NORMAL_ADDORREPLACEREADGROUPS' {
        ext.prefix = { "normal" }
        ext.args = {[
            "--CREATE_INDEX true",
            "-ID normal",
            "-LB normal",
            "-PL ILLUMINA",
            "-PU bc1",
            "-SM normal"
        ].join(' ').trim()}
        publishDir = [ enabled: false ]
    }

    withName: 'SENTIEON_TNHAPLOTYPER2_NO_PON' {
        ext.args2 = { "--tumor_sample tumour --normal_sample normal" }
    }

    withName: 'SENTIEON_TNHAPLOTYPER2_PON' {
        ext.args2 = { "--tumor_sample tumour --normal_sample normal" }
    }

    withName: 'SENTIEON_TNHAPLOTYPER2_CONTAM_ORIENT' {
        ext.args2 = { "--tumor_sample tumour --normal_sample normal" }
        ext.args3 = { "--tumor_sample tumour" }
        ext.args4 = { "--tumor_sample tumour --normal_sample normal" }
    }

    withName: 'SENTIEON_TNHAPLOTYPER2_NO_NORMAL' {
        ext.args2 = { "--tumor_sample tumour" }
        ext.args3 = { "--tumor_sample tumour" }
        ext.args4 = { "--tumor_sample tumour" }
    }

}
