process {

    publishDir = { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }

    withName: HAPLOTYPECALLER {
        ext.args = '-ERC GVCF'
        ext.prefix = { "${meta.id}.g" }
    }

    withName: VARIANTRECALIBRATOR {
        ext.args = '--max-gaussians 4'
    }

    withName: APPLYVQSR {
        ext.prefix = { "${meta.id}_recalibrated" }
    }

}
