process {

    publishDir = { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }

    withName: GATK4_HAPLOTYPECALLER {
        ext.args = '-ERC GVCF'
        ext.prefix = { "${meta.id}.g" }
    }

    withName: GATK4_GENOTYPEGVCFS{
        ext.args = '-max-alternate-alleles 8'
    }
    withName: GATK4_VARIANTRECALIBRATOR {
        ext.args = '--max-gaussians 4'
    }

    withName: GATK4_APPLYVQSR {
        ext.prefix = { "${meta.id}_recalibrated" }
    }

}
