process {

    publishDir = { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }

    withName: 'LIMMA_DIFFERENTIAL' {
        ext.args = { [
            "--sample_id_col sample",
            "--probe_id_col gene_id",
            "--use_voom TRUE",
            "--blocking_variables sample_number"
        ].join(' ').trim() }
    }

}
