process {

    publishDir = { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }

    withName: CNVPYTOR_IMPORTREADDEPTH {
        ext.args = {params.cnvpytor_chr ? "-chrom ${params.cnvpytor_chr}" : '' }
            }
}

params {
    cnvpytor_chr = '' // specifies chromosome name(s) : '1 2' or 'chr1 chr2'
    }
