process {
    withName: 'RCLONE_COPY' {
        ext.args = {
            def base_args = [
                '--dry-run',
                '--no-check-certificate'
            ]
            if (params.exclude_from) {
                base_args.add("--exclude-from ${filter_file}")
            }
            base_args.join(' ')
        }
    }
}
