process {

    withName: FILTER_BY_LENGTH {
        ext.prefix = { "${meta.id}.filtered" }
    }

    withName: SORT_BY_LENGTH {
        ext.args = '--quiet --reverse --by-length'
        ext.prefix = { "${meta.id}.sorted" }
    }

    withName: TIDK_EXPLORE {
        ext.args = '--minimum 5 --maximum 30'
    }

    withName: 'TIDK_SEARCH_*' {
        ext.args = '--extension tsv'
    }
}
