process {
    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].toLowerCase()}" },
        mode: 'copy',
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]
}

docker.enabled = true

// Uncomment and modify the following line if you want to use a specific container
// process.container = 'biocontainers/gcta:1.94.1--h9ee0642_0'
