process {

    withName: TRIMMOMATIC {
        ext.args = {
            def adapters = "TruSeq3-SE.fa"
            "ILLUMINACLIP:${adapters}:2:30:10 LEADING:3 TRAILING:3 SLIDINGWINDOW:4:15 MINLEN:36"
        }
    }

    withName: CUTADAPT {
        ext.args = '-q 25'
    }
    withName: BBMAP_BBDUK {
        ext.args = 'trimq=10 qtrim=r'
        ext.prefix = { "${meta.id}.trim" }
    }
    }
