params {
    vcf = '/Users/ireneroblesrebollo/bioinformatics/nextflow/nf-test-datasets/vcf/jurkat_293t_exons_only.vcf.withAF.vcf'
    bam = '/Users/ireneroblesrebollo/bioinformatics/nextflow/nf-test-datasets/bam/jurkat_293t_downsampled_n500_full_bam_smaller.bam'
    bai = '/Users/ireneroblesrebollo/bioinformatics/nextflow/nf-test-datasets/bam/jurkat_293t_downsampled_n500_full_bam_smaller.bam.bai'
    barcodes = '/Users/ireneroblesrebollo/bioinformatics/nextflow/nf-test-datasets/tsv/barcodes.tsv'
}