params {
    vcf = 'https://github.com/IreneRobles/nf-test-datasets/raw/scsplit/vcf/jurkat_293t_exons_only.vcf.withAF.vcf'
    bam = 'https://github.com/IreneRobles/nf-test-datasets/raw/scsplit/bam/jurkat_293t_downsampled_n500_full_bam_smaller.bam'
    bai = 'https://github.com/IreneRobles/nf-test-datasets/raw/scsplit/bam/jurkat_293t_downsampled_n500_full_bam_smaller.bam.bai'
    barcodes = 'https://raw.githubusercontent.com/IreneRobles/nf-test-datasets/scsplit/tsv/barcodes.tsv'
}
