// config for running without VEP
params.species = "homo_sapiens"
params.build   = "GRCh38"

process {
    container = "biocontainers/vcf2maf:1.6.21--hdfd78af_0"
    conda = "bioconda::vcf2maf=1.6.21"
    withName: 'VCF2MAF' {  
        ext.args = "--ncbi-build ${params.build} --species ${params.species} --inhibit-vep"  
    }
}