// config for running without VEP
params.species = "homo_sapiens"
params.build   = "GRCh38"

process {
            publishDir = { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }
            withName: 'VCF2MAF' {
                ext.args = "--ncbi-build ${params.build} --species ${params.species} --inhibit-vep"
            }
        }