process {

    publishDir = { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }

    withName: 'test_propr_logratio_default:PROPR_LOGRATIO' {
        ext.prefix = {"test.clr.NA.NA"}
    }
    withName : 'test_propr_logratio_clr_boxcox:PROPR_LOGRATIO' {
        ext.args = {"--alpha 0.1"}
        ext.prefix = {"test.clr.NA.0.1"}
    }
    withName : 'test_propr_logratio_alr:PROPR_LOGRATIO' {
        ext.args = {"--transformation alr"}
        ext.prefix = {"test.alr.NA.NA"}
    }
    withName : 'test_propr_logratio_alr_boxcox:PROPR_LOGRATIO' {
        ext.args = {"--transformation alr --alpha 0.1"}
        ext.prefix = {"test.alr.NA.0.1"}
    }
    withName : 'test_propr_logratio_alr_geneid:PROPR_LOGRATIO' {
        ext.args = {"--transformation alr --reference ENSMUSG00000030324"}
        ext.prefix = {"test.alr.ENSMUSG00000030324.NA"}
    }
    withName : 'test_propr_logratio_alr_genename:PROPR_LOGRATIO' {
        ext.args = {"--transformation alr --reference Rho --feature_id_col gene_name"}
        ext.prefix = {"test.alr.Rho.NA"}
    }
    withName : 'test_propr_logratio_alr_geneid_boxcox:PROPR_LOGRATIO' {
        ext.args = {"--transformation alr --reference ENSMUSG00000030324 --alpha 0.2"}
        ext.prefix = {"test.alr.ENSMUSG00000030324.0.2"}
    }
    
}
