process {
    withName: 'MINIMAC4_COMPRESSREF' {
        ext.args = ''
    }
    withName: 'MINIMAC4_IMPUTE' {
        ext.prefix = { "${meta.id}_${meta.chr}_${meta.regionout}.minimac4" }
        ext.args = '--output-format vcf.gz'
    }

    withName: GLIMPSE2_LIGATE {
        ext.prefix = { "${meta.id}_${meta.chr}.ligate" }
    }

    withName: BCFTOOLS_INDEX_1 {
        ext.args   = '--tbi'
    }

    withName: BCFTOOLS_INDEX_2 {
        ext.args   = '--csi'
    }
}
