//
// rRNA removal subworkflow options
//

process {

    withName: 'SORTMERNA' {
        ext.args  = '--index 0'
    }
    withName: 'SORTMERNA_INDEX' {
        ext.args  = '--index 1'
    }
    withName: 'RIBODETECTOR' {
        ext.prefix = { "${meta.id}.ribodetector" }
        ext.args = '--seed 1'
    }
    withName: 'BOWTIE2_ALIGN' {
        ext.prefix = { "${meta.id}.bowtie2_rrna" }
        ext.args = '--very-sensitive-local --seed 1 --reorder'
    }
    withName: 'BOWTIE2_ALIGN_PE' {
        ext.prefix = { "${meta.id}.bowtie2_rrna" }
        ext.args = '--very-sensitive-local --seed 1 --reorder'
    }
    withName: 'SAMTOOLS_VIEW_BOWTIE2' {
        ext.prefix = { "${meta.id}.bowtie2_unmapped" }
        ext.args = '-f 12'  // Keep only pairs where BOTH mates are unmapped
    }
    withName: 'SAMTOOLS_FASTQ_BOWTIE2' {
        ext.prefix = { "${meta.id}.bowtie2_filtered" }
    }
}
