process {

    publishDir = { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }
    withName: SAMTOOLS_REHEADER_CHRDEL {
        ext.args = [
            "--command 'sed -E \"s/^(@SQ.*)(\\tSN:)chr/\\1\\2/\"'"
        ].join(' ')
        ext.prefix = { "${meta.id}_chrDel" }
    }
    withName: SAMTOOLS_REHEADER_RGDEL {
        ext.args = [
            "--command 'grep -v ^@RG'"
        ].join(' ')
        ext.prefix = { "${meta.id}_comDel" }
    }
    
}