process {
    // More than 1 cpu may lead to different md5sum
    resourceLimits = [
        cpus: 1
    ]
    withName: QUILT_QUILT {
        ext.args = {"${params.quilt_args}"}
    }
    withName: BCFTOOLS_QUERY {
        ext.args   = {"${params.bcftools_args}"}
        ext.suffix = "genfile.txt"
    }
    withName: GAWK_POSFILE {
        ext.suffix = "posfile.txt"
    }
    withName: GAWK_NAME {
        ext.suffix   = "genfile.name.txt"
    }
}
