process {
    // More than 1 cpu may lead to different md5sum
    resourceLimits = [
        cpus: 1
    ]
    withName: QUILT_QUILT {
        ext.args = {"${params.quilt_args}"}
    }
    withName: BCFTOOLS_QUERY {
        ext.args   = {"${params.bcftools_query_args}"}
        ext.suffix = {"${params.bcftools_query_suffix}"}
    }
    withName: GAWK_POSFILE {
        ext.suffix = {"${params.gawk_posfile_suffix}"}
    }
    withName: GAWK_NAME {
        ext.suffix = {"${params.gawk_name_suffix}"}
    }
}
