process {

    publishDir = { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }
    cpus = 1 // More than 1 cpu may lead to different md5sum

    withName: QUILT_QUILT {
        ext.args = "--seed=1 --nGen=100 --buffer=10000"
    }

    withName: QUILT_OPTIONAL {
        ext.args = "--save_prepared_reference=TRUE --make_plots=TRUE --seed=1 --nGen=100 --buffer=10000"
    }

    withName: QUILT_NOSEED {
        ext.args = "--nGen=100 --buffer=10000"
    }

}
