process {

    publishDir = { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }

    withName: 'GATK4_LEFTALIGNANDTRIMVARIANTS' {
        ext.args   = "--split-multi-allelics --dont-trim-alleles --keep-original-ac"
        ext.prefix = { "${meta.id}.normalised" }
    }
}
