process {
    withName: GLIMPSE_PHASE {
        ext.args = [
            "--impute-reference-only-variants"
        ].join(' ')
        ext.prefix = { "${meta.id}" }
        ext.suffix = "bcf"
    }
    publishDir = { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }
    
}