process {
    withName: 'SEQKIT_SEQ' {
        ext.args = '-u -v'
    }

    withName: 'SEQKIT_DOTS' {
        ext.args = "-p '\\.' -r '_'"
        ext.prefix = { "${meta.id}_dots" }
    }

    withName: 'SEQKIT_TRIM' {
        ext.args   = "-p '(\\w+).*' -r '\$1'"
        ext.prefix = { "${meta.id}_trimmed" }
    }
}
