process {
    withName: 'SEQKIT_SEQ' {
        // --only-id = EXTRACT THE SEQUENCE ID NOT THE FULL HEADER
        // -u        = UPPERCASE THE SEQUENCE
        // -v        = VALIDATE THE SEQUENCE ALPHABET
        ext.args = '-u -v --only-id'
    }

    withName: 'SEQKIT_DOTS' {
        // REPLACE DOTS IN SEQUENCE ID WITH UNDERSCORES
        ext.args = "-p '\\.' -r '_'"
        ext.prefix = { "${meta.id}_dots" }
    }
}
