// IMPORTANT: Add this configuration to your modules.config

process {

    withName: ".*BED_SCATTER_BEDTOOLS:BEDTOOLS_SPLIT" {
        ext.args = {
            [
                "-n ${meta.subwf_scatter_count}", // Specifies the amount of splits that should be done on the BED file
                "--algorithm simple" // Specifies that bedtools Split should use it's simple algorithm (important to not split on possible variant sites)
            ].join(" ")
        }
    }

}
