process {
    withName: BEDTOOLS_MAKEWINDOWS {
        ext.args = '-w 60000 -s 40000'
        ext.prefix = { "${meta.id}_${meta.region.replace(":","_")}" }
    }
    withName: BCFTOOLS_VIEW {
        ext.args = [
            "-Oz",
            "-e 'GT=\"./.\"||GT=\".\"'"
        ].join(' ')
    }
    publishDir = { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }

}
