process {
    withName: GAWK {
        ext.args2  = "'BEGIN { OFS=\"\\t\" } NR>1  { split(\$1, a, \"[:-_]\"); print a[1], \$2, \$3\",\"\$4 }'"
        ext.prefix = { "${meta.panel_id}.${meta.chr}.posfile.comma" }
        ext.suffix = "txt"
    }

    withName: BCFTOOLS_MPILEUP {
        ext.args = "-I -E -a 'FORMAT/DP'"
        ext.args2 = "-Aim -C alleles"
        ext.prefix = { "${meta.id}_${meta.chr}" }
    }

    withName: BCFTOOLS_MERGE {
        ext.args = "--write-index=tbi --output-type z"
        ext.prefix = { "${meta.id}_${meta.chr}" }
    }

    withName: BCFTOOLS_CONCAT {
        ext.args   = ["--ligate", "-Oz", "--write-index=tbi"].join(' ')
        ext.prefix = { "${meta.id}_all_chr.concat" }
    }

    withName: BCFTOOLS_ANNOTATE {
        ext.args   = ["--set-id '%CHROM:%POS:%REF:%ALT'", "-Oz", "--write-index=tbi"].join(' ')
        ext.prefix = { "${meta.id}_all_chr.annotate" }
    }
}
