process {

    resourceLimits = [
        cpus: 4,
        memory: '2.GB',
        time: '6.h'
    ]

    withName: GAWK {
        ext.args2  = "'NR>1 { split(\$1, a, \"[:-_]\"); print a[1], \$2, \$3 \",\" \$4 }'"
        ext.suffix = "txt"
    }

    withName: BCFTOOLS_MPILEUP {
        ext.args = "-I -E -a 'FORMAT/DP'"
        ext.args2 = "-Aim -C alleles"
        ext.prefix = { "${meta.id}_${meta.chr}" }
    }

    withName: BCFTOOLS_MERGE {
        ext.args = "--write-index=tbi"
        ext.prefix = { "${meta.id}_${meta.chr}" }
    }

    withName: BCFTOOLS_CONCAT {
        ext.args   = ["--ligate", "-Oz", "--write-index=tbi"].join(' ')
        ext.prefix = { "${meta.id}_${meta.chr}.concat" }
    }

    withName: BCFTOOLS_ANNOTATE {
        ext.args   = ["--set-id '%CHROM:%POS:%REF:%ALT'", "-Oz", "--write-index=tbi"].join(' ')
        ext.prefix = { "${meta.id}_${meta.chr}.annotate" }
    }
}
