process {
    withName: 'GATK4_COLLECTREADCOUNTS*' {
        ext.args = "--format TSV --interval-merging-rule OVERLAPPING_ONLY"
    }
    withName: 'GATK4_DETERMINEGERMLINECONTIGPLOIDY_COHORT' {
        ext.args = "--interval-merging-rule OVERLAPPING_ONLY"
        ext.prefix = "ploidy"
    }
    withName: 'GATK4_GERMLINECNVCALLER_COHORT' {
        ext.args = "--interval-merging-rule OVERLAPPING_ONLY --run-mode COHORT"
    }
    withName: 'GATK4_GERMLINECNVCALLER_CASE' {
        ext.args = "--run-mode CASE"
    }
}
