process {
    withName: 'CHECKM2_PREDICT' {
        ext.args = "--extension gz --lowmem"
    }
    withName: 'GAWK' {
        // Transform checkm2 genome names to match input filenames (.fna.gz)
        // Handles: stem -> stem.fna.gz, stem.fna -> stem.fna.gz
        ext.args2 = "'BEGIN {FS = OFS = \"\\t\"} NR == 1 {print} NR > 1 {if (\$1 ~ /\\.fna\$/) \$1 = \$1 \".gz\"; else if (\$1 !~ /\\.fna\\.gz\$/) \$1 = \$1 \".fna.gz\"; print}'"
    }
}
