process {

    publishDir = { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }

    withName: 'test_kofamscan_txt:KOFAMSCAN' {
        ext.prefix = { "${meta.id}.kofamscan" }
    }

    withName: 'test_kofamscan_tsv:KOFAMSCAN' {
        ext.prefix = { "${meta.id}.kofamscan" }
        ext.args = "--format detail-tsv"
    }

}
