process {

    publishDir = { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }

    withName: 'FASTK_.*' {
        publishDir = [ enabled: false ]
    }
    withName: 'FASTK_HISTEX' {
        ext.args = '-G'
    }
    withName: 'GENESCOPEFK' {
        ext.args = '--kmer_length 40 --ploidy 1'
    }

}
