process {
    withName: GAWK {
        ext.args2 = "'{ total += \$3 } END { print total/NR }'"
        ext.suffix = "txt"
    }

    withName: SAMTOOLS_VIEW { // Index writing and subsampling command are necessary
        ext.args = { "--write-index --subsample ${meta.subsample_fraction}" }
    }
}
