process {

    withName: 'SALMON_QUANT' {
        ext.args = {
            if (meta.strandedness == 'forward') return meta.single_end ? '--libType=SF' : '--libType=ISF'
            if (meta.strandedness == 'reverse') return meta.single_end ? '--libType=SR' : '--libType=ISR'
            return ''
        }
    }

}
