process {
    withName: 'QCATCH' {
        cpus = 1
        containerOptions = {
            workflow.containerEngine == 'singularity' ?
                '--containall --cleanenv' : ''
        }
    }
}

env {
    MPLCONFIGDIR        = "./tmp"
    NUMBA_CACHE_DIR     = "./tmp"
    NUMBA_DISABLE_CACHE = 1
    PYTHONHASHSEED = '0'
    OPENBLAS_NUM_THREADS = '1'
    MKL_NUM_THREADS = '1'
    OMP_NUM_THREADS = '1'
}
