process {
    publishDir = { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }
    withName: GLIMPSE_CHUNK {
        ext.prefix = { "${meta.id}_${meta.region}_chunk" }
        ext.args = "--window-size 50000 --buffer-size 1000"
    }
    withName: GLIMPSE_PHASE {
        ext.prefix = { "${meta.id}_${meta.region}_${meta.ref}_phase_${input_region.replace(":","_")}" }
    }
    withName: GLIMPSE_LIGATE {
        ext.prefix = { "${meta.id}_${meta.region}_${meta.ref}_ligate" }
    }
}
