process {

    publishDir = { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }

    withName: PARABRICKS_MUTECTCALLER_TN {
        ext.args = { "--in-normal-bam $normal_bam --normal-name $meta.normal_id" }
    }
    withName: PARABRICKS_MUTECTCALLER_TN_INTERVALS {
        ext.args = { "--in-normal-bam $normal_bam --normal-name $meta.normal_id" }
    }
    withName: PARABRICKS_MUTECTCALLER_PON {
        ext.args = { "--pon $panel_of_normals" }
    }
}
