/*
========================================================================================
    Nextflow config file for running tests
========================================================================================
*/
process {
    withName: 'SVIM' {
        ext.args = '--min_mapq 5'
        }
}
process {
    publishDir = { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }
}

params {
    modules_testdata_base_path = 'https://raw.githubusercontent.com/nf-core/test-datasets/modules/data/'
}
