process {

    publishDir = { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }

    withName: 'test_custom_tabulartogseacls:CUSTOM_TABULARTOGSEACLS' {
        ext.args = { [ "variable": "$meta.variable" ] }
    }    
    withName: 'test_custom_tabulartogseacls_tsv:CUSTOM_TABULARTOGSEACLS' {
        ext.args = { [ "variable": "$meta.variable" ] }
    }    
    withName: 'test_custom_tabulartogseacls_tsv_override:CUSTOM_TABULARTOGSEACLS' {
        ext.args = { [ "separator": "\t", "variable": "$meta.variable" ] }
    }    
}
