process {

    withName: BIOMFORMAT_CONVERT {
        ext.args = params.module_args
    }

    withName: VSEARCH_CLUSTER_BIOM {
        ext.args  = '--id 0.8'
        ext.args2 = '--cluster_fast'
        ext.args3 = '--biomout'
    }

    withName: VSEARCH_CLUSTER_TXT {
        ext.args  = '--id 0.8'
        ext.args2 = '--cluster_fast'
        ext.args3 = '--otutabout'
    }

}
