process {

    withName: BIOMFORMAT_CONVERT {
        ext.args = params.module_args
    }

    withName: VSEARCH_CLUSTER_BIOM {
        ext.args  = params.vsearch_args
        ext.args2 = params.vsearch_args2
        ext.args3 = params.vsearch_args3
    }

    withName: VSEARCH_CLUSTER_TXT {
        ext.args  = params.vsearch_args
        ext.args2 = params.vsearch_args2
        ext.args3 = params.vsearch_args3
    }

}
