process {

    withName: BIOMFORMAT_CONVERT {
        ext.args = params.module_args
    }

    withName: VSEARCH_CLUSTER_BIOMOUT {
        ext.args  = params.biomout_args
        ext.args2 = params.biomout_args2
        ext.args3 = params.biomout_args3
    }

    withName: VSEARCH_CLUSTER_TXTOUT {
        ext.args  = params.txtout_args
        ext.args2 = params.txtout_args2
        ext.args3 = params.txtout_args3
    }

}
