process {

    publishDir = { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }

    // write a horrid awk to munge the checkm_qa tsv to a 3 column csv
    // as files are gzipped, genome has to include extension "fna" as galah expects the genome name to be
    // the file name minus the last extension
    withName: BIOAWK_GENOMEINFO {
        ext.args = '\'BEGIN {{FS="\t"; OFS=","}} NR==1 {print "genome","completeness","contamination"} NR>1 {print $1".fna",$6, $7}\''
        ext.prefix = "genome_info.tsv"
    }

}
