process {
    withName: "GENRICH" {
        ext.args = params.module_args
    }
    
    withName: "GENRICH" {
        ext.args = params.module_args
    }
    
    withName: "GENRICH" {
        ext.args = params.module_args
    }
    
    withName: "GENRICH" {
        ext.args = params.module_args
    }
    
    withName: "GENRICH" {
        ext.args = params.module_args
    }
    
    withName: "GENRICH" {
        ext.args = params.module_args
    }
}
