process {
	withName: MERYL_COUNT {
		ext.args = { "k=6" }
	}

	withName: MERYL_HISTOGRAM {
		ext.args = { "k=6" }
	}

	withName: GENOMESCOPE2 {
		ext.args = { "--ploidy 1 --kmer_length 6 --fitted_hist" }
	}
}

params {
	modules_testdata_base_path = 'https://raw.githubusercontent.com/nf-core/test-datasets/modules/data/'
}