process {
    withName: SHAPEIT5_PHASECOMMON{
        ext.args = [
            "--filter-maf 0.001"
        ].join(' ')
    }
    withName: SHAPEIT5_PHASERARE{
        ext.suffix="bcf"
    }
    publishDir = { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }
    
}