process {
    withName: SHAPEIT5_PHASECOMMON {
        cpus     = 1 // needed for deterministic output
        ext.args = params.shapeit5_phasecommon_args
    }

    withName: SHAPEIT5_PHASERARE {
        cpus     = 1 // needed for deterministic output
        ext.args = params.shapeit5_phaserare_args
    }
}
