process {

    publishDir = { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }

    // relabel input variants to a common scheme chr:pos:alt:ref
    withName: PLINK2_VCF {
        ext.args = '--set-missing-var-ids @:#:\\$1:\\$2'
    }

    // scoring really needs an adjustment for small test dataset (n > 50
    // normally)
    withName: PLINK2_SCORE {
        ext.args = 'no-mean-imputation'
    }
}
