process {

    withName: AMPCOMBI_PARSETABLES_1 {

    ext.args = [
        "--aminoacid_length 2000",
        "--db_evalue 2000",
        "--ampir_file 'ampir.tsv'",
        "--amplify_file '.tsv'",
        "--macrel '.prediction'",
        "--log true"
    ].join(' ')

    ext.prefix = "sample_1"

    }

    withName: AMPIR_1 {

    ext.prefix = "test_1"

    }

    withName: AMPCOMBI_PARSETABLES_2 {

    ext.args = [
        "--aminoacid_length 2000",
        "--db_evalue 2000",
        "--ampir_file 'ampir.tsv'",
        "--amplify_file '.tsv'",
        "--macrel '.prediction'",
        "--log true"
    ].join(' ')

    ext.prefix = "sample_2"

    }

    withName: AMPIR_2 {

    ext.prefix = "test_2"

    }

}
