process {

    publishDir = { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }

    withName: 'LIMMA_DIFFERENTIALVOOM' {
        ext.args = { [
            "--sample_id_col sample",
            "--probe_id_col gene_id",
            "--pair_id_col sample_number",
            "--analysis_type pairwise"

        ].join(' ').trim() }
    }

}
