// include { BEDTOOLS_MAKEWINDOWS } from '../../../../modules/bedtools/makewindows/main.nf' addParams( options: [args: '-w 50 '] )
process {

    publishDir = { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }

    withName: BEDTOOLS_MAKEWINDOWS {
        ext.args = '-w 50 '
    }

}
