process {

    publishDir = { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }

    withName: 'test_busco_genome_single_fasta:BUSCO' {
        ext.args = '--mode genome --tar'
    }

    withName: 'test_busco_genome_multi_fasta:BUSCO' {
        ext.args = '--mode genome --tar'
    }

    withName: 'test_busco_eukaryote_metaeuk:BUSCO' {
        ext.args = '--mode genome --tar'
    }

    withName: 'test_busco_eukaryote_augustus:BUSCO' {
        ext.args = '--mode genome --augustus --tar'
    }

    withName: 'test_busco_protein:BUSCO' {
        ext.args = '--mode proteins --tar'
    }

    withName: 'test_busco_transcriptome:BUSCO'{
        ext.args = '--mode transcriptome --tar'
    }
}
