process {
    withName: STITCH {
        cpus       = 1 // needed for deterministic output
        ext.prefix = { "${meta.id}_${meta.chr}_${meta.regionout}.stitch" }
    }

    withName: GLIMPSE2_LIGATE {
        ext.prefix = { "${meta.id}_${meta.chr}.ligate" }
    }

    withName: BCFTOOLS_INDEX_PHASE {
        ext.args = '--tbi'
    }

    withName: BCFTOOLS_INDEX_LIGATE {
        ext.args = '--csi'
    }
}
