process {
    withName: STITCH {
        cpus       = 1 // Needed to have deterministic output for testing
        ext.prefix = { "${meta.id}_${meta.chr}_${meta.regionout}.stitch" }
    }

    withName: GLIMPSE2_LIGATE {
        ext.prefix = { "${meta.id}_${meta.chr}.ligate" }
    }

    withName: BCFTOOLS_INDEX_1 {
        ext.args   = '--tbi'
    }

    withName: BCFTOOLS_INDEX_2 {
        ext.args   = '--csi'
    }
}
