process {

    publishDir = { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }

    withName: CNVPYTOR_IMPORTREADDEPTH {
        ext.args = {params.cnvpytor_chr ? "-chrom ${params.cnvpytor_chr}" : '' }
            }
}

params {
    cnvpytor_chr = null // specifies chromosome name(s) the same way as they are described in the sam/bam/cram header e.g. '1 2' or 'chr1 chr2'.
    }
