process {

    // relabel input variants to a common scheme chr:pos:alt:ref
    withName: PLINK2_VCF {
        ext.args = '--make-pgen --set-missing-var-ids @:#:\\$1:\\$2'
    }

    // scoring really needs an adjustment for small test dataset (n > 50
    // normally)
    withName: PLINK2_SCORE {
        ext.args = 'no-mean-imputation'
    }
}
