process {

    withName: 'SEQKIT_REPLACE' {
        ext.args   = "-s -p 'A' -r 'N'"
        publishDir = { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }
    }

    withName: 'SEQKIT_REPLACEUNCOMP' {
        ext.args          = "-s -p 'T' -r 'N'"
        ext.suffix        = ".fasta"
        publishDir        = { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }
    }

}
