params {
    modules_testdata_base_path = 'https://raw.githubusercontent.com/chaochaowong/pacbio_test_dataset/main/'
}

docker {
    enabled = true
    runOptions = '--platform linux/amd64'
}

/*
conda {
    enabled = true
}
profiles {
    docker {
        docker.enabled = true
        conda.enabled = false
        singularity.enabled = false
    }

    conda {
        conda.enabled = true
        docker.enabled = false
        singularity.enabled = false
    }
}

// Enable docker by default for testing
docker {
    enabled = true
    runOptions = '--platform linux/amd64'
}

// Anonymous access for public test data
aws.client.anonymous = true
*/
