params{
    // Optional parameters for GMM-demux - Default values
    threshold = 0.8
    num_cells = 35685
    examine = "example_cell_types.txt"
    ambiguous = 0.05


}

process {
    publishDir = { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }
    
    withName: GMMDEMUX {
        ext.args = "-t ${params.threshold} -o . --summary ${params.num_cells} -a ${params.ambiguous} "
    }
}
