params{
    // Optional parameters for GMM-demux - Default values
    threshold = 0.8
    num_cells = 11089
    examine = "example_cell_types.txt"
    ambiguous = 0.05


}

process {
    
    withName: GMMDEMUX {
        ext.args = "-t ${params.threshold} --summary ${params.num_cells} -a ${params.ambiguous} "
    }
}
