params{
    // Optional parameters for GMM-demux - Default values
    threshold = 0.8
    num_cells = 35685
    examine = "example_cell_types.txt"
    ambiguous = 0.05
    output_path = 'test'

}

process {
    withName: GMMDEMUX {
        ext.args = "-t ${params.threshold} --summary ${params.num_cells} -o ${params.output_path} -a ${params.ambiguous} "
    }
}
