/*
========================================================================================
    Nextflow config file for running tests
========================================================================================
*/
process {
    withName: 'SVIM_ALIGNMENT' {
        ext.args = { params.min_mapq ? "--min_mapq ${params.min_mapq}" : '' }
        }
}
