// include { DRAGONFLYE  } from '../../../modules/dragonflye/main.nf' addParams( options: [args: '--assembler miniasm --gsize 5000000'] )
// include { DRAGONFLYE as DRAGONFLYE_RAVEN   } from '../../../modules/dragonflye/main.nf' addParams( options: [args: '--assembler raven --gsize 5000000']   )
process {

    publishDir = { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase() }

    withName: DRAGONFLYE {
        ext.args = '--assembler miniasm --gsize 5000000'
    }

    withName: DRAGONFLYE_RAVEN {
        ext.args = '--assembler raven --gsize 5000000'
    }

}
