process {

    publishDir = { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }

    withName: '.*:BAM_STATS_SAMTOOLS_SINGLE_END:.*' {
        ext.prefix = { "${meta.id}.single_end.sorted.bam" }
    }

    withName: '.*:BAM_STATS_SAMTOOLS_PAIRED_END:.*' {
        ext.prefix = { "${meta.id}.paired_end.sorted.bam" }
    }

}