process {
    withName: 'DESEQ2_DIFFERENTIAL' {
        ext.args = { [
            "--round_digits 5",
            "--vs_method rlog",
            (meta.blocking == null) ? "" : "--blocking_variables $meta.blocking"
        ].join(' ').trim() }
        ext.prefix = { "${meta.id}_${meta.method}" }
    }

    withName: 'DESEQ2_NORM' {
        ext.prefix = { "${meta.id}_${meta.method}_norm" }
    }

    withName: 'LIMMA_DIFFERENTIAL' {
        ext.args = { [
            "--blocking_variables $meta.blocking",
            "--sample_id_col sample",
            "--probe_id_col gene_id",
            "--use_voom TRUE"
        ].join(' ').trim() }
        ext.prefix = { "${meta.id}_${meta.method}_voom" }
    }

    withName: 'LIMMA_NORM' {
        ext.prefix = { "${meta.id}_${meta.method}_voom_norm" }
    }

    withName: 'PROPR_PROPD' {
        ext.args = {"--round_digits 5 --save_adjacency true"}
        ext.prefix = { "${meta.id}_${meta.method}" }
    }
}
