process {
    withName: 'DESEQ2_DIFFERENTIAL' {
        ext.args = { "--round_digits 5 --blocking_variables $meta.blocking --vs_method rlog" }
        ext.prefix = { "${meta.id}_${meta.method}" }
    }

    withName: 'DESEQ2_NORM' {
        ext.prefix = { "${meta.id}_${meta.method}_voom_norm" }
    }

    withName: 'LIMMA_DIFFERENTIAL' {
        ext.args = { [
            "--sample_id_col sample",
            "--probe_id_col gene_id",
            "--use_voom TRUE"
        ].join(' ').trim() }
        ext.prefix = { "${meta.id}_${meta.method}_voom" }
    }

    withName: 'LIMMA_NORM' {
        ext.prefix = { "${meta.id}_${meta.method}_voom_norm" }
    }
}
