process {

    withName: 'LIMMA_DIFFERENTIAL' {
        ext.args = { [
            "--blocking_variables $meta.blocking",
            "--sample_id_col sample",
            "--probe_id_col gene_id",
            "--use_voom TRUE",
            "--round_digits 5"
        ].join(' ').trim() }

        ext.prefix = { "${meta.id}_${meta.differential_method}_voom" }
    }

    withName: 'LIMMA_NORM' {
        ext.args = { [
            "--blocking_variables $meta.blocking",
            "--sample_id_col sample",
            "--probe_id_col gene_id",
            "--use_voom TRUE",
            "--round_digits 5"
        ].join(' ').trim() }

        ext.prefix = { "${meta.id}_${meta.differential_method}_voom_norm" }
    }
}
