process {

    withName: 'LIMMA_DIFFERENTIAL' {
        ext.args = { [
            "--sample_id_col name",
            "--blocking_variables $meta.blocking"
        ].join(' ').trim() }
        ext.prefix = { "${meta.id}_${meta.method_differential}" }
    }

    withName: 'LIMMA_NORM' {
        ext.prefix = { "${meta.id}_${meta.method_differential}_norm" }
    }

    withName: 'AFFY_JUSTRMA' {
        ext.args = "--sample_name_col name"
        publishDir = [ enabled: false ]
    }
    withName: 'UNTAR' {
        publishDir = [ enabled: false ]
    }
}
