process {

    withName: 'LIMMA_DIFFERENTIAL' {
        ext.args = { [
            "--sample_id_col name",
            "--blocking_variables $meta.blocking",
            "--round_digits 5"
        ].join(' ').trim() }
        ext.prefix = { "${meta.id}_${meta.differential_method}" }
    }

    withName: 'LIMMA_NORM' {
        ext.when = false
    }

    withName: 'AFFY_JUSTRMA' {
        ext.args = "--sample_name_col name"
        publishDir = [ enabled: false ]
    }
    withName: 'UNTAR' {
        publishDir = [ enabled: false ]
    }
}
