process {
    withName: FOLDDISCO_INDEX {
        // folddisco preallocates its entire hash key space at startup regardless of input size;
        // the default hash type needs ~16.4 GB even for two 350 KB PDBs, OOM-killing the CI runner.
        // '-y pdb' hash algorithm drops that to ~1 GB - do not remove.
        ext.args = '-y pdb'
    }
}
