process {

    publishDir = { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }

    withName: 'test_proteus_readproteingroups:PROTEUS_READPROTEINGROUPS' {
        ext.args = { "--sample_id_col Experiment  --measure_col_prefix \"LFQ intensity \" --round_digits 3 --normfuns \"normalizeMedian,normalizeQuantiles\" "}
    }
    
}
