process {

    publishDir = { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }

    withName: BCLCONVERT {
        ext.args = {[
            meta.lane ? "--bcl-only-lane ${meta.lane}" : "",
            "--force",
            "--first-tile-only true"
        ].join(" ").trim()}
    }

    withName: BCL2FASTQ {
        ext.args = {[
            "--tiles s_1_1101"
        ].join(" ").trim()}
    }

}
