process {
    withName:'GLIMPSE_CHUNK'{
        def args = ext.args ?: ''
        def params_mode = (args.contains("--window-size") ?'si':'')+(args.contains("--buffer-size") ?'ze' :'')+(args.contains("--window-count")?'co':'')+(args.contains("--buffer-count")?'unt':'')
        ext.when = params_mode == "size" || params_mode == "count"
    }
}