process {

    publishDir = { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }
    
    memory = ""
    cpus  = 
    accelerator = 1

    withName: "test_parabricks_haplotypecaller:PARABRICKS_HAPLOTYPECALLER" {
        ext.args = "--gvcf"
    }

}
docker.runOptions = "--gpus all"
singularity.runOptions = "--nv"