process {

    publishDir = { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }
    
    withName: '.*test_art_illumina_single_end:ART_ILLUMINA' {
        ext.args = '-rs 42'
    }

    withName: '.*test_art_illumina_paired_end:ART_ILLUMINA' {
        ext.args = '-p -m 250 -s 50 -rs 42'
    }
}