process {
    withName: GANON_BUILDCUSTOM {
        ext.args = "--input-target sequence"
    }
    withName: GANON_CLASSIFY {
        ext.args = "--output-one --output-all --output-unclassified"
    }
    withName: GANON_REPORT {
        ext.args = "--report-type reads --output-format tsv"
    }
    withName: GANON_TABLE {
        ext.args = "--output-format tsv --output-value percentages"
    }
}
