process {
    withName: MITOHIFI_MITOHIFI_CONTIGS {
        ext.args2 = '-c'
        publishDir = { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }
    }

    withName: MITOHIFI_MITOHIFI_READS {
        ext.args2 = '-r'
        publishDir = { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }
    }
}

singularity.runOptions = '-B "$HOME"'
