process {
    publishDir = { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }
    withName: GLIMPSE2_CHUNK {
        ext.args = [
            "--window-cm 0.05",
            "--buffer-cm 0.02",
            "--window-mb 0.05",
            "--buffer-mb 0.02",
            "--window-count 50",
            "--buffer-count 25"
        ].join(' ')
    }
}
