params {
    outdir = "nf-tests/results"
    publish_dir_mode = "copy"
    enable_conda = false
    singularity_pull_docker_container = false
}

process {
    cpus = 2
    memory = 3.GB
    time = 2.h
}


profiles {
    docker {
        docker.enabled         = true
        docker.userEmulation   = true
        singularity.enabled    = false
        podman.enabled         = false
        shifter.enabled        = false
        charliecloud.enabled   = false
    }
}

// Increase time available to build Conda environment
conda { createTimeout = "120 min" }

// Load test_data.config containing paths to test data
includeConfig 'test_data.config'

manifest {
    nextflowVersion = '!>=21.10.0'
}


