process {

    publishDir = { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }

    withName: GNU_SORT_A {
        ext.args    = { "-k1,1 -k2,2n" }
        ext.suffix  = { "genome.sorted" }
    }

    withName: GNU_SORT_B {
        ext.args    = { "-k1,1 -k2,2n" }
        ext.suffix  = { "bed.sorted" }
    }

    withName: GNU_SORT_C {
        ext.args    = { "-t ';' -g -k 1,1 -k 2,2" }
        ext.suffix  = { "csv.sorted" }
    }
}