params {
    npcs               = 8
    use_approx         = false
    algorithm          = "kmeans"
    n_clusters         = 3
    dbscan_eps         = 0.5
    dbscan_min_samples = 5
}

env {
    OMP_NUM_THREADS      = '1'
    OPENBLAS_NUM_THREADS = '1'
    MKL_NUM_THREADS      = '1'
    NUMEXPR_NUM_THREADS  = '1'
    NUMBA_NUM_THREADS    = '1'
    NUMBA_CACHE_DIR      = '/tmp'
    MPLCONFIGDIR         = '/tmp'
}

process {
    withName: 'BEAGLE5_BEAGLE' {
        cpus     = 4
        memory   = 8.GB
        ext.args = 'seed=1 nthreads=4'
    }

    withName: 'PLINK2_VCF' {
        ext.args = '--seed 1'
    }

    withName: 'PLINK2_PCA' {
        ext.args = '--seed 1'
    }

    withName: 'GAWK_EIGENVEC_TO_TSV' {
        ext.args   = "-v OFS='\\t'"
        ext.suffix = 'tsv'
    }

    withName: 'CUSTOM_PCACLUSTERING' {
        cpus = 1
    }

    withName: 'CUSTOM_CLUSTERMETRICS' {
        cpus     = 1
        ext.args = '--k-min 2 --k-max 12'
    }

    withName: 'CUSTOM_CLUSTERVISUALIZATION' {
        cpus     = 1
        ext.args = '--umap-neighbors 15 --tsne-perplexity 30'
    }
}
