params {
    npcs = 8
    use_approx = true
    algorithm = "kmeans"
    n_clusters = 3
    dbscan_eps = 0.5
    dbscan_min_samples = 5
}

process {
    withName: 'BEAGLE5_BEAGLE' {
        ext.prefix = { "${meta.id}" }
        ext.when = false
    }

    withName: 'PLINK2_VCF' {
        ext.prefix = { "${meta.id}" }
        ext.when = false
    }

    withName: 'PLINK2_PCA' {
        ext.prefix = { "${meta.id}" }
        ext.when = false
    }

    withName: 'EIGENVEC_TO_TSV' {
        ext.prefix = { "${meta.id}" }
    }

    withName: 'CUSTOM_PCACLUSTERING' {
        ext.prefix = { "${meta.id}" }
        ext.when = false
    }

    withName: 'CUSTOM_CLUSTERMETRICS' {
        ext.prefix = { "${meta.id}" }
        ext.when = false
    }

    withName: 'CUSTOM_CLUSTERVISUALIZATION' {
        ext.prefix = { "${meta.id}" }
        ext.when = false
    }
}
