params {
    npcs               = 8
    use_approx         = true
    algorithm          = "kmeans"
    n_clusters         = 3
    dbscan_eps         = 0.5
    dbscan_min_samples = 5
}

process {
    withName: 'PLINK2_PCA' {
        ext.args = '--seed 1'
    }
    withName: GAWK_EIGENVEC_TO_TSV {
        ext.args   = "-v OFS='\\t'"
        ext.suffix = "tsv"
    }
}
