process {
    withName: "SNAPALIGNER_ALIGN" {
        ext.args = params.module_args
    }
}


// process {
//     publishDir = { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }
//     withName: SNAPALIGNER_INDEX {
//         publishDir = [ enabled: false ]
//     }
//     withName: SNAPALIGNER_ALIGN {
//         ext.args = "-so"
//     }
// }
