process {

    publishDir = { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }

    withName: LEARNREADORIENTATIONMODEL {
        ext.prefix       = { "${meta.id}.artifactprior" }
    }

    withName: GETPILEUPSUMMARIES_TUMOR {
        ext.prefix       = { "${meta.id}.tumor" }
    }

    withName: GETPILEUPSUMMARIES_NORMAL {
        ext.prefix       = { "${meta.id}.normal" }
    }

    withName: FILTERMUTECTCALLS {
        ext.prefix       = { "${meta.id}_filtered" }
    }

    withName: CALCULATECONTAMINATION {
        ext.args         = { "-tumor-segmentation ${meta.id}.segmentation.table" }
    }

    withName: MUTECT2 {
        ext.args         = { "--f1r2-tar-gz ${meta.id}.f1r2.tar.gz --normal-sample normal" }
    }

}
