process {

    publishDir = { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }

    withName: SAMTOOLS_FASTQ {
        ext.args = '-T RX'
    }

    withName: BWAMEM2_MEM {
        ext.prefix = { "${meta.id}.mapped" }
    }

    withName: PICARD_SORTSAM_UNMAPPED {
        ext.prefix = { "${meta.id}.unmapped.sorted" }
    }

    withName: PICARD_SORTSAM_DUPLICATESMARKED {
        ext.prefix = { "${meta.id}.sorted" }
    }

    withName: GATK4_MERGEBAMALIGNMENT {
        ext.prefix = { "${meta.id}.merged" }
    }

    withName: PICARD_MARKDUPLICATES {
        ext.args = 'ASSUME_SORT_ORDER=queryname'
        ext.prefix = { "${meta.id}.markduplicates" }
    }

    withName: GATK4_APPLYBQSR {
        ext.prefix = { "${meta.id}.recalibrated" }
    }

}
