process {

    publishDir = { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }

    withName: SAMTOOLS_FASTQ {
        ext.args = '-T RX'
    }

    withName: PICARD_MARKDUPLICATES {
        ext.args = 'ASSUME_SORT_ORDER=queryname'
        ext.prefix = { "${meta.id}.markduplicates" }
    }

    withName: PICARD_SORTSAM {
        ext.prefix = { "${meta.id}.sorted" }
    }

}
