process {
    //withName: test_shinyngs_app:SHINYNGS_APP {
    //    secret 'SHINYAPPS_TOKEN'                                                  
    //    secret 'SHINYAPPS_SECRET'  
    //}
    withName: test_shinyngs_app:SHINYNGS_APP {
        ext.prefix = { "${meta.id}_test" }
        ext.args = { "--contrast_stats_assay 1" }
    }
    withName: test_shinyngs_app_multi_matrix:SHINYNGS_APP {
        ext.prefix = { "${meta.id}_test" }
        ext.args = { "--assay-names raw,normalised --contrast_stats_assay 2" }
    }
}
