name: "Remind assignee of issue"
on:
  schedule:
    - cron: "0 0 * * 0" # Once a week
  workflow_dispatch:

jobs:
  clean-up:
    runs-on: ubuntu-latest
    permissions:
      issues: write
    steps:
      - uses: actions/stale@997185467fa4f803885201cee163a9f38240193d # v10
        with:
          stale-issue-message: "This is a reminder that you assigned yourself to this issue to create a new module / new subworkflow. Please remove yourself from the Assignees if you do not plan to work on this anymore."
          days-before-stale: 178
          any-of-labels: "new module,new subworkflow"
          exempt-issue-labels: "WIP,awaiting-changes,awaiting-feedback,wishlist"
