name: test
on:
  push:
    branches: [master]
  pull_request:
    branches: [master]
  merge_group:
    types: [checks_requested]
    branches: [master]

# Cancel if a newer run is started
concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

env:
  NXF_WORK: ${RUNNER_TEMP}/work
  NXF_HOME: ${RUNNER_TEMP}/home
  NXF_SINGULARITY_CACHEDIR: ${{ github.workspace }}/.singularity
  NXF_SINGULARITY_LIBRARYDIR: ${{ github.workspace }}/.singularity

jobs:
  prettier:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@v3

      - name: Install NodeJS
        uses: actions/setup-node@v3

      - name: Install Prettier
        run: npm install -g prettier

      - name: Run Prettier --check
        run: prettier --check .

  editorconfig:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-node@v3

      - name: Install editorconfig-checker
        run: npm install -g editorconfig-checker

      - name: Run ECLint check
        run: editorconfig-checker -exclude README.md $(git ls-files | grep -v test)

  pytest-changes:
    name: pytest-changes
    runs-on: ubuntu-latest
    outputs:
      # Expose matched filters as job 'modules' output variable
      modules: ${{ steps.filter.outputs.changes }}
    steps:
      - uses: actions/checkout@v3

      - uses: dorny/paths-filter@v2
        id: filter
        with:
          filters: "tests/config/pytest_modules.yml"

  nf-core-lint:
    runs-on: ubuntu-20.04
    name: nf-core-lint
    needs: [pytest-changes]
    if: needs.pytest-changes.outputs.modules != '[]'
    strategy:
      fail-fast: false
      matrix:
        tags: ["${{ fromJson(needs.pytest-changes.outputs.modules) }}"]
        exclude:
          - tags: "nf-test"
    steps:
      - uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.x"

      - uses: actions/cache@v3
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-pip-${{ hashFiles('**/requirements.txt') }}
          restore-keys: |
            ${{ runner.os }}-pip-

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.x"

      - name: Install pip
        run: python -m pip install --upgrade pip

      - name: Install nf-core tools development version
        run: python -m pip install --upgrade --force-reinstall git+https://github.com/nf-core/tools.git@dev

      - name: Install Nextflow
        env:
          CAPSULE_LOG: none
        run: |
          wget -qO- get.nextflow.io | bash
          sudo mv nextflow /usr/local/bin/

      - name: Lint ${{ matrix.tags }}
        run: nf-core modules lint ${{ matrix.tags }}
        # HACK
        if: startsWith( matrix.tags, 'subworkflow' ) != true

      - uses: actions/cache@v3
        with:
          path: /usr/local/bin/nextflow
          key: ${{ runner.os }}
          restore-keys: |
            ${{ runner.os }}

  pytest:
    runs-on: ubuntu-20.04
    name: pytest
    needs: [pytest-changes]
    if: needs.pytest-changes.outputs.modules != '[]'
    strategy:
      fail-fast: false
      matrix:
        tags: ["${{ fromJson(needs.pytest-changes.outputs.modules) }}"]
        profile: ["docker", "singularity", "conda"]
        exclude:
          - tags: "nf-test"
          - profile: "conda"
            tags: annotsv
          - profile: "conda"
            tags: cellpose
          - profile: "conda"
            tags: mcquant
          - profile: "conda"
            tags: bases2fastq
          - profile: "conda"
            tags: backsub
          - profile: "conda"
            tags: basicpy
          - profile: "conda"
            tags: bcl2fastq
          - profile: "conda"
            tags: bclconvert
          - profile: "conda"
            tags: cellranger/count
          - profile: "conda"
            tags: cellranger/mkfastq
          - profile: "conda"
            tags: cellranger/mkgtf
          - profile: "conda"
            tags: cellranger/mkref
          - profile: "conda"
            tags: cellranger/mkvdjref
          - profile: "conda"
            tags: cellranger/multi
          - profile: "conda"
            tags: cellranger/vdj
          - profile: "conda"
            tags: coreograph
          - profile: "conda"
            tags: deepcell/mesmer
          - profile: "conda"
            tags: deepvariant
          - profile: "conda"
            tags: fastk/fastk
          - profile: "conda"
            tags: fastk/histex
          - profile: "conda"
            tags: fastk/merge
          - profile: "conda"
            tags: fcs/fcsadaptor
          - profile: "conda"
            tags: fcs/fcsgx
          - profile: "conda"
            tags: gatk4/baserecalibratorspark
          - profile: "conda"
            tags: gatk4/cnnscorevariants
          - profile: "conda"
            tags: gatk4/determinegermlinecontigploidy
          - profile: "conda"
            tags: gatk4/germlinecnvcaller
          - profile: "conda"
            tags: gatk4/markduplicatesspark
          - profile: "conda"
            tags: gatk4/postprocessgermlinecnvcalls
          - profile: "conda"
            tags: genescopefk
          - profile: "conda"
            tags: hlala/preparegraph
          - profile: "conda"
            tags: ilastik/multicut
          - profile: "conda"
            tags: ilastik/pixelclassification
          - profile: "conda"
            tags: imputeme/vcftoprs
          - profile: "conda"
            tags: merquryfk/katcomp
          - profile: "conda"
            tags: merquryfk/katgc
          - profile: "conda"
            tags: merquryfk/merquryfk
          - profile: "conda"
            tags: merquryfk/ploidyplot
          - profile: "conda"
            tags: mitohifi/findmitoreference
          - profile: "conda"
            tags: parabricks/applybqsr
          - profile: "conda"
            tags: parabricks/fq2bam
          - profile: "conda"
            tags: scimap/mcmicro
          - profile: "conda"
            tags: sentieon/applyvarcal
          - profile: "conda"
            tags: sentieon/bwaindex
          - profile: "conda"
            tags: sentieon/bwamem
          - profile: "conda"
            tags: sentieon/datametrics
          - profile: "conda"
            tags: sentieon/dedup
          - profile: "conda"
            tags: sentieon/dnamodelapply
          - profile: "conda"
            tags: sentieon/dnascope
          - profile: "conda"
            tags: sentieon/gvcftyper
          - profile: "conda"
            tags: sentieon/haplotyper
          - profile: "conda"
            tags: sentieon/readwriter
          - profile: "conda"
            tags: sentieon/varcal
          - profile: "conda"
            tags: spaceranger/count
          - profile: "conda"
            tags: spaceranger/mkgtf
          - profile: "conda"
            tags: spaceranger/mkref
          - profile: "conda"
            tags: universc
          - profile: "singularity"
            tags: universc
          - profile: "singularity"
            tags: gatk4/determinegermlinecontigploidy
          - profile: "conda"
            tags: subworkflows/bcl_demultiplex
          - profile: "conda"
            tags: subworkflows/fasta_clean_fcs
          - profile: "conda"
            tags: islandpath
    env:
      NXF_ANSI_LOG: false
      SENTIEON_LICENSE_BASE64: ${{ secrets.SENTIEON_LICENSE_BASE64 }}

    steps:
      - uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.x"

      - uses: actions/cache@v3
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-pip-${{ hashFiles('**/requirements.txt') }}
          restore-keys: |
            ${{ runner.os }}-pip-

      - name: Install Python dependencies
        run: python -m pip install --upgrade pip pytest-workflow cryptography

      - uses: actions/cache@v3
        with:
          path: /usr/local/bin/nextflow
          key: ${{ runner.os }}
          restore-keys: |
            ${{ runner.os }}-nextflow-

      - name: Install Nextflow
        env:
          CAPSULE_LOG: none
        run: |
          wget -qO- get.nextflow.io | bash
          sudo mv nextflow /usr/local/bin/

      - name: Set up Singularity
        if: matrix.profile == 'singularity'
        uses: eWaterCycle/setup-singularity@v7
        with:
          singularity-version: 3.7.1

      - name: Set up Singularity
        if: matrix.profile == 'singularity'
        run: |
          mkdir -p $NXF_SINGULARITY_CACHEDIR
          mkdir -p $NXF_SINGULARITY_LIBRARYDIR

      - name: Set up miniconda
        if: matrix.profile == 'conda'
        uses: conda-incubator/setup-miniconda@v2
        with:
          auto-update-conda: true
          channels: conda-forge,bioconda,defaults
          python-version: ${{ matrix.python-version }}

      - name: Conda setup
        if: matrix.profile == 'conda'
        run: |
          conda clean -a
          conda install -n base conda-libmamba-solver
          conda config --set solver libmamba

      # Set up secrets
      - name: Set up nextflow secrets
        if: env.SENTIEON_LICENSE_BASE64 != null
        run: |
          nextflow secrets set SENTIEON_LICENSE_BASE64 ${{ secrets.SENTIEON_LICENSE_BASE64 }}
          nextflow secrets set SENTIEON_AUTH_MECH_BASE64 ${{ secrets.SENTIEON_AUTH_MECH_BASE64 }}
          SENTIEON_ENCRYPTION_KEY=$(echo -n "${{ secrets.ENCRYPTION_KEY_BASE64 }}" | base64 -d)
          SENTIEON_LICENSE_MESSAGE=$(echo -n "${{ secrets.LICENSE_MESSAGE_BASE64 }}" | base64 -d)
          SENTIEON_AUTH_DATA=$(python tests/modules/nf-core/sentieon/license_message.py encrypt --key "$SENTIEON_ENCRYPTION_KEY" --message "$SENTIEON_LICENSE_MESSAGE")
          SENTIEON_AUTH_DATA_BASE64=$(echo -n "$SENTIEON_AUTH_DATA" | base64 -w 0)
          nextflow secrets set SENTIEON_AUTH_DATA_BASE64 $SENTIEON_AUTH_DATA_BASE64

      - name: Create working dirs
        run: |
          mkdir -p $NXF_WORK
          mkdir -p $NXF_HOME

      # Test the module
      - name: Run pytest-workflow
        # only use one thread for pytest-workflow to avoid race condition on conda cache.
        run: TMPDIR=/tmp PROFILE=${{ matrix.profile }} pytest --tag ${{ matrix.tags }} --symlink --kwdof --git-aware --color=yes

      - name: Output log on failure
        if: failure()
        run: |
          sudo apt-get update > /dev/null
          sudo apt-get install bat > /dev/null
          batcat --decorations=always --color=always ${PYTEST_TMP}/*/*/log.{out,err}

      - name: Setting global variables
        uses: actions/github-script@v6
        id: parsed
        with:
          script: |
            return '${{ matrix.tags }}'.toLowerCase().replaceAll(/\//g, '-').trim('-').trim('"')
          result-encoding: string

      - name: Upload logs on failure
        if: failure()
        uses: actions/upload-artifact@v2
        with:
          name: logs-${{ matrix.profile }}-${{ steps.parsed.outputs.result }}
          path: |
            /tmp/*/*/.nextflow.log
            /tmp/*/*/log.out
            /tmp/*/*/log.err
            /tmp/*/*/work
            ${{ env.NXF_WORK }}
            !${{ env.NXF_HOME }}
            !${{ env.PYTEST_TMP }}/*/*/work/conda
            !${{ env.PYTEST_TMP }}/*/*/work/singularity
            !${{ env.PYTEST_TMP }}/.singularity

  nf-test-changes:
    name: nf-test-changes
    runs-on: ubuntu-latest
    outputs:
      # Expose matched filters as job 'modules' output variable
      modules: ${{ steps.filter.outputs.changes }}
    steps:
      - uses: actions/checkout@v3

      - uses: dorny/paths-filter@v2
        id: filter
        with:
          filters: "tests/config/nftest_modules.yml"

  nf-test:
    runs-on: ubuntu-20.04
    name: nf-test
    needs: [nf-test-changes]
    if: needs.nf-test-changes.outputs.modules != '[]'
    strategy:
      fail-fast: false
      matrix:
        tags: ["${{ fromJson(needs.nf-test-changes.outputs.modules) }}"]
        profile: ["docker", "singularity", "conda"]
        exclude:
          - tags: "nf-test"
          - profile: "conda"
            tags: annotsv
          - profile: "conda"
            tags: bases2fastq
          - profile: "conda"
            tags: bcl2fastq
          - profile: "conda"
            tags: bclconvert
          - profile: "conda"
            tags: cellranger/count
          - profile: "conda"
            tags: cellranger/mkfastq
          - profile: "conda"
            tags: cellranger/mkgtf
          - profile: "conda"
            tags: cellranger/mkref
          - profile: "conda"
            tags: deepvariant
          - profile: "conda"
            tags: ensemblvep/vep
          - profile: "conda"
            tags: fastk/fastk
          - profile: "conda"
            tags: fastk/histex
          - profile: "conda"
            tags: fastk/merge
          - profile: "conda"
            tags: fcs/fcsadaptor
          - profile: "conda"
            tags: fcs/fcsgx
          - profile: "conda"
            tags: gatk4/cnnscorevariants
          - profile: "conda"
            tags: gatk4/determinegermlinecontigploidy
          - profile: "conda"
            tags: genescopefk
          - profile: "conda"
            tags: ilastik/multicut
          - profile: "conda"
            tags: ilastik/pixelclassification
          - profile: "conda"
            tags: imputeme/vcftoprs
          - profile: "conda"
            tags: merquryfk/katcomp
          - profile: "conda"
            tags: merquryfk/katgc
          - profile: "conda"
            tags: merquryfk/merquryfk
          - profile: "conda"
            tags: merquryfk/ploidyplot
          - profile: "conda"
            tags: sentieon/bwaindex
          - profile: "conda"
            tags: sentieon/bwamem
          - profile: "conda"
            tags: universc
          - profile: "singularity"
            tags: universc
          - profile: "conda"
            tags: subworkflows/vcf_annotate_ensemblvep
    env:
      NXF_ANSI_LOG: false
      SENTIEON_LICENSE_BASE64: ${{ secrets.SENTIEON_LICENSE_BASE64 }}

    steps:
      - uses: actions/checkout@v3

      - uses: actions/cache@v3
        with:
          path: /usr/local/bin/nextflow
          key: ${{ runner.os }}
          restore-keys: |
            ${{ runner.os }}-nextflow-

      - name: Install Nextflow
        env:
          CAPSULE_LOG: none
        run: |
          wget -qO- get.nextflow.io | bash
          sudo mv nextflow /usr/local/bin/

      - name: Cache nf-test installation
        id: cache-software
        uses: actions/cache@v3
        with:
          path: |
            /usr/local/bin/nf-test
            /home/runner/.nf-test/nf-test.jar
          key: ${{ runner.os }}-nftest

      - name: Install nf-test
        if: steps.cache-software.outputs.cache-hit != 'true'
        run: |
          wget -qO- https://code.askimed.com/install/nf-test | bash
          sudo mv nf-test /usr/local/bin/

      - name: Set up Singularity
        if: matrix.profile == 'singularity'
        uses: eWaterCycle/setup-singularity@v7
        with:
          singularity-version: 3.7.1

      - name: Create Singularity cache directory
        if: matrix.profile == 'singularity'
        run: |
          mkdir -p $NXF_SINGULARITY_CACHEDIR
          mkdir -p $NXF_SINGULARITY_LIBRARYDIR

      - name: Set up miniconda
        if: matrix.profile == 'conda'
        uses: conda-incubator/setup-miniconda@v2
        with:
          auto-update-conda: true
          channels: conda-forge,bioconda,defaults
          python-version: ${{ matrix.python-version }}

      - name: Conda setup
        if: matrix.profile == 'conda'
        run: |
          conda clean -a
          conda install -n base conda-libmamba-solver
          conda config --set solver libmamba

      # Set up secrets
      - name: Set up nextflow secrets
        if: env.SENTIEON_LICENSE_BASE64 != null
        run: |
          nextflow secrets set SENTIEON_LICENSE_BASE64 ${{ secrets.SENTIEON_LICENSE_BASE64 }}
          nextflow secrets set SENTIEON_AUTH_MECH_BASE64 ${{ secrets.SENTIEON_AUTH_MECH_BASE64 }}
          SENTIEON_ENCRYPTION_KEY=$(echo -n "${{ secrets.ENCRYPTION_KEY_BASE64 }}" | base64 -d)
          SENTIEON_LICENSE_MESSAGE=$(echo -n "${{ secrets.LICENSE_MESSAGE_BASE64 }}" | base64 -d)
          SENTIEON_AUTH_DATA=$(python tests/modules/nf-core/sentieon/license_message.py encrypt --key "$SENTIEON_ENCRYPTION_KEY" --message "$SENTIEON_LICENSE_MESSAGE")
          SENTIEON_AUTH_DATA_BASE64=$(echo -n "$SENTIEON_AUTH_DATA" | base64 -w 0)
          nextflow secrets set SENTIEON_AUTH_DATA_BASE64 $SENTIEON_AUTH_DATA_BASE64

      - name: Create working dirs
        run: |
          mkdir -p $NXF_WORK
          mkdir -p $NXF_HOME

      # Test the module
      - name: Run nf-test
        run: |
          nf-test test \
            --profile=${{ matrix.profile }} \
            --tag ${{ matrix.tags }} \
            --tap=test.tap

      - uses: pcolby/tap-summary@v1
        with:
          path: >-
            test.tap

  confirm-pass:
    runs-on: ubuntu-latest
    needs: [prettier, editorconfig, pytest-changes, nf-core-lint, pytest, nf-test-changes, nf-test]
    if: always()
    steps:
      - name: All tests ok
        if: ${{ success() || !contains(needs.*.result, 'failure') }}
        run: exit 0
      - name: One or more tests failed
        if: ${{ contains(needs.*.result, 'failure') }}
        run: exit 1

      - name: debug-print
        if: always()
        run: |
          echo "toJSON(needs) = ${{ toJSON(needs) }}"
          echo "toJSON(needs.*.result) = ${{ toJSON(needs.*.result) }}"
