// IMPORTANT: Add this configuration to your modules.config

process {
    withName: ".*:FASTQ_ALIGN_STAR:BAM_SORT_STATS_SAMTOOLS_GENOME:.*" {
        ext.prefix = {"${meta.id}_genome"}
    }
    withName: ".*:FASTQ_ALIGN_STAR:BAM_SORT_STATS_SAMTOOLS_TRANSCRIPTOME:.*" {
        ext.prefix = {"${meta.id}_transcriptome"}
    }
}
