process {
    withName: GLIMPSE_CHUNK {
        ext.prefix = { "${meta.panel}_${meta.chr}_chunk" }
        ext.args   = "--window-size 50000 --buffer-size 1000"
    }
    withName: GLIMPSE_PHASE {
        ext.prefix = { "${meta.id}_${meta.regionout ? meta.regionout.replace(":", "_") : meta.chr}" }
    }
    withName: GLIMPSE_LIGATE {
        ext.prefix = { "${meta.id}_${meta.chr}_ligate" }
    }
}
