process {
    withName: BCFTOOLS_VIEW {
        ext.args = { "--write-index=tbi --output-type z" }
    }

    withName: BEAGLE5_BEAGLE {
        ext.prefix = { "${meta.id}_${meta.regionout}" }
    }

    withName: GLIMPSE2_LIGATE {
        ext.prefix = { "${meta.id}_${meta.chr}.ligate" }
    }

    withName: BCFTOOLS_INDEX_PHASE {
        ext.args = '--tbi'
    }

    withName: BCFTOOLS_INDEX_LIGATE {
        ext.args = '--csi'
    }

    withName: BCFTOOLS_VIEW_BCF {
        ext.args = { params.bcftools_view_args ?: "" }
    }
}
