process {
    withName: CATPACK_PREPARE {
        ext.args = "--common_prefix database"
    }

    withName: 'FASTA_CLASSIFY_CATPACK:CATPACK_BINS' {
        ext.prefix = { "${meta.id}-bins" }
    }

    withName: 'FASTA_CLASSIFY_CATPACK:CATPACK_ADDNAMES_BINS' {
        ext.prefix = { "${meta.id}-bins_bin2classification.names" }
        ext.args   = "--only_official"
    }

    withName: 'FASTA_CLASSIFY_CATPACK:CATPACK_SUMMARISE_BINS' {
        ext.prefix = { "${meta.id}-bins_summary" }
    }

    withName: 'FASTA_CLASSIFY_CATPACK:CATPACK_CONTIGS' {
        ext.prefix = { "${meta.id}-contigs" }
    }

    withName: 'FASTA_CLASSIFY_CATPACK:CATPACK_ADDNAMES_CONTIGS' {
        ext.prefix = { "${meta.id}-contigs_contig2classification.names" }
        ext.args   = "--only_official"
    }

    withName: 'FASTA_CLASSIFY_CATPACK:CATPACK_SUMMARISE_CONTIGS' {
        ext.prefix = { "${meta.id}-contigs_summary" }
    }
}
