/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

process {

    publishDir = { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }

    withName: ENSEMBLVEP_DOWNLOAD {
        ext.args = '--AUTO c --CONVERT --NO_BIOPERL --NO_HTSLIB --NO_TEST --NO_UPDATE'
    }

    withName: ENSEMBLVEP_VEP {
        ext.args   = '--tab'
        ext.prefix = { "${meta.id}_vep" }
    }

    withName: ENSEMBLVEP_FILTERVEP {
        ext.args   = '--filter "Feature_type is Transcript"'
        ext.suffix = "tab"
    }
}
