/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

process {

    withName: ENSEMBLVEP_VEP {
        ext.args   = '--vcf'
        ext.prefix = { "${meta.id}_vep" }
    }

    withName: ENSEMBLVEP_FILTERVEP {
        ext.args = '--filter "Feature_type is Transcript"'
    }
}
